openapi: 3.2.0
info:
  title: Dow Jones Third Party Properties API
  version: '1.0'
  description: 'Operations tagged ThirdPartyProperties across 2 of this provider''s published API definitions: dow-jones-riskcenter-third-party-api-0-1-openapi.json, dow-jones-riskcenter-third-party-api-0-2-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api-thirdparty.riskcenter.dowjones.com/
tags:
- name: ThirdPartyProperties
paths:
  /third-parties/{thirdpartyid}/properties:
    get:
      tags:
      - ThirdPartyProperties
      summary: Retrieves all properties for a third party (optional filter)
      operationId: GetThirdPartyProperties
      parameters:
      - name: thirdpartyid
        in: path
        required: true
        schema:
          type:
          - string
          - 'null'
      - name: filter[field_name]
        in: query
        schema:
          type:
          - string
          - 'null'
      responses:
        '200':
          description: Success
          content:
            application/vnd.dowjones.dna.risk-third-parties.v_0.1-beta+json:
              schema:
                $ref: '#/components/schemas/ResponseProperties'
        '401':
          description: Unauthorized
          content:
            application/vnd.dowjones.dna.risk-third-parties.v_0.1-beta+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      security:
      - oauth2: []
    servers:
    - url: https://api-thirdparty.riskcenter.dowjones.com/
  /third-parties/{thirdpartyid}/properties/{id}:
    put:
      tags:
      - ThirdPartyProperties
      summary: Updates a property
      operationId: PutThirdPartyProperties
      parameters:
      - name: thirdpartyid
        in: path
        required: true
        schema:
          type:
          - string
          - 'null'
      - name: id
        in: path
        required: true
        schema:
          type:
          - string
          - 'null'
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/RequestPropertyUpdate'
          application/json:
            schema:
              $ref: '#/components/schemas/RequestPropertyUpdate'
          text/json:
            schema:
              $ref: '#/components/schemas/RequestPropertyUpdate'
          application/*+json:
            schema:
              $ref: '#/components/schemas/RequestPropertyUpdate'
      responses:
        '200':
          description: Success
          content:
            application/vnd.dowjones.dna.risk-third-parties.v_0.1-beta+json:
              schema:
                $ref: '#/components/schemas/ResponseProperty'
        '401':
          description: Unauthorized
          content:
            application/vnd.dowjones.dna.risk-third-parties.v_0.1-beta+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '400':
          description: Bad Request
          content:
            application/vnd.dowjones.dna.risk-third-parties.v_0.1-beta+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '409':
          description: Conflict
          content:
            application/vnd.dowjones.dna.risk-third-parties.v_0.1-beta+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      security:
      - oauth2: []
    servers:
    - url: https://api-thirdparty.riskcenter.dowjones.com/
  /third-parties/{thirdpartyid}/properties/batch-update:
    put:
      tags:
      - ThirdPartyProperties
      summary: Updates multiple properties
      operationId: PutBatchThirdPartyProperties
      parameters:
      - name: thirdpartyid
        in: path
        required: true
        schema:
          type:
          - string
          - 'null'
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/RequestPropertyBatchUpdate'
          application/json:
            schema:
              $ref: '#/components/schemas/RequestPropertyBatchUpdate'
          text/json:
            schema:
              $ref: '#/components/schemas/RequestPropertyBatchUpdate'
          application/*+json:
            schema:
              $ref: '#/components/schemas/RequestPropertyBatchUpdate'
      responses:
        '200':
          description: Success
          content:
            application/vnd.dowjones.dna.risk-third-parties.v_0.1-beta+json:
              schema:
                $ref: '#/components/schemas/ResponseProperties'
        '401':
          description: Unauthorized
          content:
            application/vnd.dowjones.dna.risk-third-parties.v_0.1-beta+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '400':
          description: Bad Request
          content:
            application/vnd.dowjones.dna.risk-third-parties.v_0.1-beta+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '409':
          description: Conflict
          content:
            application/vnd.dowjones.dna.risk-third-parties.v_0.1-beta+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      security:
      - oauth2: []
    servers:
    - url: https://api-thirdparty.riskcenter.dowjones.com/
components:
  schemas:
    ResponseMeta:
      type: object
      properties:
        paging:
          $ref: '#/components/schemas/PagingMeta'
      additionalProperties: false
      description: ''
    RequestPropertyBatchUpdate:
      type: object
      properties:
        data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/RequestDataPropertyBatchUpdate'
          description: ''
      additionalProperties: false
      description: ''
    RequestPropertyUpdate:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/RequestDataPropertyUpdate'
      additionalProperties: false
      description: ''
    ProblemDetails:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
        extensions:
          type:
          - object
          - 'null'
          additionalProperties:
            type: object
            additionalProperties: false
          readOnly: true
      additionalProperties: false
    ErrorModel:
      type: object
      properties:
        title:
          type:
          - string
          - 'null'
          description: ''
        status:
          type:
          - string
          - 'null'
          description: ''
        code:
          type:
          - string
          - 'null'
          description: ''
        detail:
          type:
          - string
          - 'null'
          description: ''
      additionalProperties: false
      description: ''
    ErrorResponseModel:
      type: object
      properties:
        errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorModel'
          description: ''
      additionalProperties: false
      description: ''
    ResponseProperties:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ResponseDataProperties'
          description: ''
        links:
          $ref: '#/components/schemas/ResponseLinks'
        meta:
          $ref: '#/components/schemas/ResponseMeta'
      additionalProperties: false
      description: ''
    ThirdPartyProperty:
      type: object
      properties:
        field_id:
          type: string
          description: ''
        value:
          type:
          - object
          - 'null'
          additionalProperties: false
          description: ''
      additionalProperties: false
      description: ''
    ResponseDataProperties:
      type: object
      properties:
        id:
          type: string
          description: ''
        attributes:
          $ref: '#/components/schemas/ThirdPartyProperty'
        type:
          type: string
          description: ''
      additionalProperties: false
      description: ''
    RequestDataPropertyBatchUpdate:
      required:
      - attributes
      type: object
      properties:
        id:
          type: string
          description: ''
        attributes:
          $ref: '#/components/schemas/ThirdPartyPropertyUpdate'
        type:
          type:
          - string
          - 'null'
          description: ''
      additionalProperties: false
      description: ''
    PagingMeta:
      type: object
      properties:
        context:
          type: string
          description: ''
      additionalProperties: false
      description: ''
    ResponseProperty:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ResponseDataProperty'
      additionalProperties: false
      description: ''
    ThirdPartyPropertyUpdate:
      type: object
      properties:
        field_id:
          type: string
          description: ''
        value:
          type:
          - object
          - 'null'
          additionalProperties: false
          description: ''
      additionalProperties: false
      description: ''
    ResponseLinks:
      type: object
      properties:
        next:
          type: string
          description: ''
        self:
          type: string
          description: ''
      additionalProperties: false
      description: ''
    ResponseDataProperty:
      type: object
      properties:
        id:
          type: string
          description: ''
        attributes:
          $ref: '#/components/schemas/ThirdPartyProperty'
        type:
          type: string
          description: ''
      additionalProperties: false
      description: ''
    RequestDataPropertyUpdate:
      required:
      - attributes
      type: object
      properties:
        id:
          type: string
          description: ''
        attributes:
          $ref: '#/components/schemas/ThirdPartyPropertyUpdate'
        type:
          type:
          - string
          - 'null'
          description: ''
      additionalProperties: false
      description: ''
    ResponseProperties_2:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ResponseDataProperties'
          description: ''
      additionalProperties: false
      description: ''
    ThirdPartyProperty_2:
      type: object
      properties:
        field_id:
          type: string
          description: ''
        field_name:
          type:
          - string
          - 'null'
          description: ''
        value:
          description: ''
      additionalProperties: false
      description: ''
    ErrorModelV2:
      type: object
      properties:
        status:
          type: integer
          description: ''
          format: int32
        code:
          type: integer
          description: ''
          format: int32
        title:
          type:
          - string
          - 'null'
          description: ''
        detail:
          type:
          - string
          - 'null'
          description: ''
      additionalProperties: false
      description: Updated Error model
    ErrorResponseModelV2:
      type: object
      properties:
        errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorModelV2'
          description: ''
      additionalProperties: false
      description: Updated Error Response Model
    ThirdPartyPropertyUpdate_2:
      type: object
      properties:
        field_id:
          type: string
          description: ''
        field_name:
          type:
          - string
          - 'null'
          description: ''
        value:
          description: ''
      additionalProperties: false
      description: ''
    RequestDataPropertyBatchUpdate_2:
      required:
      - attributes
      - id
      type: object
      properties:
        id:
          type: string
          description: ''
        attributes:
          $ref: '#/components/schemas/ThirdPartyPropertyUpdate_2'
        type:
          type:
          - string
          - 'null'
          description: ''
      additionalProperties: false
      description: ''
    RequestDataPropertyUpdate_2:
      required:
      - attributes
      - id
      type: object
      properties:
        id:
          type: string
          description: ''
        attributes:
          $ref: '#/components/schemas/ThirdPartyPropertyUpdate_2'
        type:
          type:
          - string
          - 'null'
          description: ''
      additionalProperties: false
      description: ''
  securitySchemes:
    oauth2:
      type: apiKey
      description: 'Standard Authorization header using the Bearer scheme. Example: "bearer {token}"'
      name: Authorization
      in: header
x-refined-from:
- dow-jones-riskcenter-third-party-api-0-1-openapi.json
- dow-jones-riskcenter-third-party-api-0-2-openapi.json
