{"openapi":"3.0.1","info":{"version":"2.0.0","title":"API for Search realtime Content resource","description":"You can use this API to perform a  search of the realtime Search system, using a Rest Request that provides  the same functionality as the PerformContentSearch of the Search SOAP service."},"tags":[{"name":"Default","description":"Default section"},{"name":"Content","description":"Performs a realitme search of the PIB search system."}],"servers":[{"url":"https:\/\/api.dowjones.com\/search-realtime"}],"paths":{"\/swagger":{"get":{"tags":["Default"],"summary":"Get swagger json","description":"Use for swagger viewer endpoint","responses":{"200":{"description":"successful operation"},"400":{"description":"Bad Request - Incorrect Parameters","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/error"}}}},"401":{"description":"Unauthorized","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/error"}}}},"404":{"description":"Not Found - No resource found for the request","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/error"}}}},"500":{"description":"Internal Server Error - Server encountered an unexpected condition","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/error"}}}},"503":{"description":"Service Unavailable - Server is currently unable to handle the request","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/error"}}}}}},"security":[{"bearerAuth":[]}]},"\/content\/realtime\/search":{"post":{"tags":["Content Search"],"summary":"Performs a full search of the PIB search system.","requestBody":{"required":true,"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/performContentSearchRequest"}}}},"responses":{"200":{"description":"Successful operation","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/articlesResponse"}}}},"400":{"description":"Bad Request - Incorrect Parameters","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/error"}}}},"401":{"description":"Unauthorized","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/error"}}}},"404":{"description":"Not Found - No resource found for the request","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/error"}}}},"5XX":{"description":"Internal Server Error - Server encountered an unexpected condition","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/error"}}}}}},"security":[{"bearerAuth":[]}]}},"components":{"schemas":{"performContentSearchRequest":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string","default":"Search"},"type":{"type":"string","enum":["content"]},"attributes":{"type":"object","properties":{"query":{"type":"object","properties":{"content_collection":{"type":"array","items":{"type":"string","enum":["Publications","Blogs","Internal","NewsSites","Pictures","WebSites","Summary"]},"description":"Content types"},"search_string":{"type":"array","items":{"type":"object","properties":{"mode":{"description":"Search string mode","type":"string","enum":["Unified"]},"scope":{"type":"string","enum":["Author","Industry","Language","NewsSubject","Organization","People","PublicationDate","PublicationMonth","PublicationWeek","PublicationYear","Region","Source"],"description":"Search string mode"},"value":{"type":"string","description":"Search string value"}}},"description":"Search string"},"boost_string":{"type":"array","items":{"type":"object","properties":{"mode":{"description":"Search boost string mode","type":"string","enum":["Unified"]},"scope":{"type":"string","enum":["Author","Industry","Language","NewsSubject","Organization","People","PublicationDate","PublicationMonth","PublicationWeek","PublicationYear","Region","Source"],"description":"Search boost string mode"},"value":{"type":"string","description":"Search boost string value"},"boost":{"type":"string","enum":["Up","Down"]}}},"description":"Search boosting"},"date":{"type":"object","description":"The publication date of headlines. If this value is not supplied, the most current headlines are returned","oneOf":[{"$ref":"#\/components\/schemas\/performContentSearchDateDaysRange"},{"$ref":"#\/components\/schemas\/performContentSearchDateCustom"}]},"original_doc_id_filter":{"type":"array","description":"List of original document ids\/accession numbers","items":{"type":"string","description":"Accession number of an article"}}}},"similarity_filter":{"type":"object","properties":{"is_sort_by":{"type":"boolean","default":false,"description":"Is sorting by"},"document_vector":{"type":"string","description":"Document vector"},"type":{"type":"string","enum":["Find","Refine","Exclude"]},"article_id":{"type":"string","description":"Article Id"},"is_exclude_original":{"type":"boolean","default":false,"description":"Is exclude original"}},"description":"Similarity filter"},"linguistics":{"type":"object","properties":{"query_language":{"type":"string"},"is_lemmatization_on":{"type":"boolean","default":false,"description":"Is lemmatization on"}}},"formatting":{"type":"object","properties":{"snippet_type":{"description":"Headline snippet type","type":"string","enum":["Contextual","Fixed","None"]},"markup_type":{"description":"Headline markup type","type":"string","enum":["None","Highlight","All"]},"sort_order":{"description":"The order in which the results must be sorted","type":"string","enum":["PublicationDateChronological","-PublicationDateChronological","Relevance","RelevanceMediumFreshness","RelevanceHighFreshness","ArrivalTime","FreshnessDateChronological","-FreshnessDateChronological","BestDateChronological","-BestDateChronological","FIFO","LIFO"],"example":"-PublicationDateChronological"},"is_return_rich_article_id":{"type":"boolean","default":false,"description":"Request the return of the rich article id (alternate id) both in the id and alternate_id fields."}}},"navigation":{"type":"object","properties":{"is_return_collection_count":{"type":"boolean","default":false,"description":"Return collection counts"},"content_collection_count":{"type":"array","items":{"type":"string","enum":["Publications","Blogs","Internal","NewsSites","Pictures","WebSites","Summary"]},"description":"Content collection to get count"},"is_return_headline_coding":{"type":"boolean","default":false,"description":"Return headline coding"},"is_return_djn_headline_coding":{"type":"boolean","default":false,"description":"Is Return DJN headline coding"},"keyword_navigators":{"type":"object","properties":{"is_return_keywords":{"type":"boolean","default":false,"description":"Return keywords"},"max_keywords":{"type":"integer","description":"Max keywords"}}},"code_navigators":{"type":"object","properties":{"mode":{"description":"Code navigator mode","type":"string","enum":["None","Folder","All"]},"sub_type":{"type":"string","description":"subtype of the navigator we need to filter. Valid only for region navigator, with values city, state, country, snr","enum":["City","State","Country","SNR"]},"min_buckets":{"type":"integer","description":"Minimum number of code navigators"},"max_buckets":{"type":"integer","description":"Maximum number of code navigators"},"custom_navigator":{"type":"array","items":{"type":"object","properties":{"navigator_type":{"type":"array","items":{"type":"string","enum":["Author","ClippingTime","Company","CompanyAbout","CompanyAboutAssociateLineage","CompanyOccurrence","Industry","IndustryAbout","IndustryLowLevel","IndustryTopLevel","Language","OrganizationType","Person","Region","RegionAbout","RegionCity","RegionCountry","RegionLowLevel","RegionOccurrence","RegionState","RegionTopLevel","Subject","SubjectAbout","SubjectLowLevel","SubjectTopLevel","Source","SourceFamily"]},"description":"Custom code navigator type to retrieve"},"sub_type":{"type":"string","description":"subtype of the navigator we need to filter. Valid only for region navigator, with values city, state, country, snr","enum":["City","State","Country","SNR"]},"min_buckets":{"type":"integer","description":"Minimum number of custom code navigators"},"max_buckets":{"type":"integer","description":"Maximum number of custom code navigators"}}}}}},"time_navigators":{"type":"array","items":{"type":"object","properties":{"mode":{"description":"Time navigator mode","type":"string","enum":["None","PublicationDate","PublicationYear","PublicationMonth","PublicationWeek","AutoDetect","All"]},"min_buckets":{"type":"integer","description":"Minimum number of time navigators"},"max_buckets":{"type":"integer","description":"Maximum number of time navigators"}}}}}},"descriptor":{"type":"object","properties":{"mode":{"description":"Descriptor mode","type":"string","enum":["None","Company","All"]},"language":{"type":"string","description":"Descriptor language"}}},"page_offset":{"type":"integer","description":"The starting index of the set of records to return","example":0},"page_limit":{"type":"integer","description":"The number of records to return","example":5}},"required":["query"]}},"required":["attributes"]}},"required":["data"]},"performContentSearchDateCustom":{"type":"object","properties":{"custom":{"type":"object","properties":{"from":{"type":"string","format":"date","description":"Custom from date","example":"2021-04-15"},"to":{"type":"string","format":"date","description":"Custom to date","example":"2021-04-15"}},"required":["from","to"]}},"additionalProperties":false},"performContentSearchDateDaysRange":{"type":"object","properties":{"days_range":{"description":"Date range","type":"string","enum":["LastDay","LastWeek","LastMonth","Last3Months","Last6Months","LastYear","Last2Years","Last5Years","AllDates"]}},"additionalProperties":false},"articleResponse":{"type":"object","description":"Single article response","properties":{"links":{"$ref":"#\/components\/schemas\/topLevelLinks"},"meta":{"$ref":"#\/components\/schemas\/topLevelMeta"},"data":{"$ref":"#\/components\/schemas\/contentData"},"included":{"$ref":"#\/components\/schemas\/includedResources"}}},"articlesResponse":{"type":"object","description":"Multiple articles response","properties":{"links":{"$ref":"#\/components\/schemas\/topLevelLinks"},"meta":{"$ref":"#\/components\/schemas\/topLevelMeta"},"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/contentData"}},"included":{"$ref":"#\/components\/schemas\/includedResources"}}},"contentAttributes":{"type":"object","properties":{"art":{"$ref":"#\/components\/schemas\/contentItem"},"associations":{"$ref":"#\/components\/schemas\/associations"},"authors":{"type":"array","items":{"$ref":"#\/components\/schemas\/author"}},"best_date":{"type":"string","format":"date"},"best_time":{"type":"string","format":"date-time"},"body":{"type":"array","items":{"anyOf":[{"$ref":"#\/components\/schemas\/paragraphItem"},{"$ref":"#\/components\/schemas\/tableItem"},{"$ref":"#\/components\/schemas\/headingItem"},{"$ref":"#\/components\/schemas\/imageItem"},{"$ref":"#\/components\/schemas\/datelineItem"},{"$ref":"#\/components\/schemas\/taglineItem"},{"$ref":"#\/components\/schemas\/insetItem"},{"$ref":"#\/components\/schemas\/listItem"},{"$ref":"#\/components\/schemas\/blockquoteItem"},{"$ref":"#\/components\/schemas\/binaryItem"}]}},"byline":{"$ref":"#\/components\/schemas\/contentItem"},"column_name":{"type":"string"},"contact":{"$ref":"#\/components\/schemas\/contentItem"},"content_collection":{"type":"string"},"content_status":{"type":"string"},"content_type":{"$ref":"#\/components\/schemas\/contentType"},"copyright":{"$ref":"#\/components\/schemas\/contentItem"},"corrections":{"type":"array","items":{"$ref":"#\/components\/schemas\/paragraphItem"}},"credit":{"$ref":"#\/components\/schemas\/contentItem"},"content_resources":{"type":"array","description":"Complex objects that are referenced inline in the content are referred to here","items":{"description":" removed untill fixed #\/AssociatedResources"}},"dist_publish_date":{"type":"string","format":"date"},"dist_publish_time":{"type":"string","format":"date-time"},"headline":{"$ref":"#\/components\/schemas\/headline"},"live_date":{"type":"string","format":"date"},"live_time":{"type":"string","format":"date-time"},"load_date":{"type":"string","format":"date"},"load_time":{"type":"string","format":"date-time"},"modification_date":{"type":"string","format":"date"},"modification_time":{"type":"string","format":"date-time"},"notes":{"$ref":"#\/components\/schemas\/contentItem"},"page":{"type":"string"},"publication_date":{"type":"string","format":"date"},"publication_time":{"type":"string","format":"date-time"},"publisher":{"type":"object","properties":{"code":{"type":"string"},"name":{"type":"string"},"group_code":{"type":"string"},"group_name":{"type":"string"}}},"section_name":{"$ref":"#\/components\/schemas\/contentItem"},"seo_id":{"type":"string"},"snippet":{"$ref":"#\/components\/schemas\/contentItem"},"summary":{"type":"object","properties":{"body":{"type":"array","items":{"anyOf":[{"$ref":"#\/components\/schemas\/paragraphItem"},{"$ref":"#\/components\/schemas\/headingItem"},{"$ref":"#\/components\/schemas\/imageItem"},{"$ref":"#\/components\/schemas\/datelineItem"},{"$ref":"#\/components\/schemas\/taglineItem"},{"$ref":"#\/components\/schemas\/insetItem"},{"$ref":"#\/components\/schemas\/listItem"},{"$ref":"#\/components\/schemas\/blockquoteItem"}]}},"byline":{"$ref":"#\/components\/schemas\/contentItem"},"destination_type":{"type":"string"},"headline":{"$ref":"#\/components\/schemas\/headline"},"pages":{"type":"array","items":{"type":"string"}},"related_links":{"type":"array","items":{"$ref":"#\/components\/schemas\/linkItem"}},"variant":{"type":"string"}}},"upstream_origin":{"type":"string"},"upstream_origin_id":{"type":"string"},"volume":{"type":"string"}}},"contentData":{"type":"object","properties":{"type":{"type":"string","enum":["content"]},"id":{"type":"string"},"links":{"$ref":"#\/components\/schemas\/resourceLinks"},"meta":{"$ref":"#\/components\/schemas\/resourceMeta"},"attributes":{"anyOf":[{"$ref":"#\/components\/schemas\/contentAttributes"},{"$ref":"#\/components\/schemas\/errors"}]},"relationships":{"$ref":"#\/components\/schemas\/relatedResources"}}},"associations":{"type":"object","properties":{"root_id":{"type":"string"},"parent_id":{"type":"string"},"parent_id_ref":{"type":"string"}}},"author":{"type":"object","properties":{"full_name":{"type":"string"},"topic_id":{"type":"string"}}},"binaryItem":{"type":"object","properties":{"type":{"type":"string","enum":["Binary"]},"ref":{"type":"string"},"content_encoding":{"type":"string"},"media_type":{"type":"string","enum":["PDF","HTML"]},"value":{"type":"string"}}},"blockquoteItem":{"allOf":[{"$ref":"#\/components\/schemas\/contentItem"},{"properties":{"type":{"type":"string","enum":["Blockquote"]}}}]},"breakItem":{"type":"object","allOf":[{"$ref":"#\/components\/schemas\/contentItem"},{"properties":{"type":{"type":"string","enum":["Break"]}}}]},"codeSet":{"type":"object","properties":{"type":{"type":"string","enum":["Author","Organization","Industry","NewsSubject","People","Region","InformationProviderCodes","InformationProviderDescriptors","MarketSector","Products","Government"]},"id":{"type":"string","enum":["au","co","in","ns","pe","re","ipc","ipd","ms","pr","gv"]},"codes":{"type":"array","items":{"type":"object","properties":{"chartingsymbol":{"type":"string"},"code":{"type":"string"},"code_scheme":{"type":"string","enum":["DJID","Ticker","DUNS","ISIN","DJN"]},"descriptor":{"type":"string"},"symbol":{"type":"string"},"significance":{"type":"string","enum":["About","Significant","Mention","Lineage","Relevance","Association"]}}}}}},"contentItem":{"anyOf":[{"$ref":"#\/components\/schemas\/textItem"},{"type":"object","properties":{"content":{"$ref":"#\/components\/schemas\/contentItems"}}}]},"contentItems":{"type":"array","items":{"anyOf":[{"$ref":"#\/components\/schemas\/textItem"},{"$ref":"#\/components\/schemas\/linkItem"},{"$ref":"#\/components\/schemas\/entityItem"},{"$ref":"#\/components\/schemas\/emphasisItem"},{"$ref":"#\/components\/schemas\/tableItem"},{"$ref":"#\/components\/schemas\/breakItem"},{"$ref":"#\/components\/schemas\/imageItem"}]}},"contentType":{"type":"string","enum":["Article","Audio","Board","Blog","HTML","PDF","Picture","Video","Webpage"]},"datelineItem":{"type":"object","allOf":[{"$ref":"#\/components\/schemas\/contentItem"},{"properties":{"type":{"type":"string","enum":["Dateline"]},"format":{"type":"string"}}}]},"entityItem":{"type":"object","allOf":[{"$ref":"#\/components\/schemas\/contentItem"},{"properties":{"type":{"type":"string","enum":["Entity"]},"background_info":{"type":"string"},"code":{"type":"string"},"code_scheme":{"type":"string","enum":["DJID","WSJCode","DJN"]},"entity_type":{"type":"string","enum":["Organization","People"]},"ref":{"type":"string"},"significance":{"type":"string"},"ticker":{"type":"string"}}}]},"emphasisItem":{"type":"object","allOf":[{"$ref":"#\/components\/schemas\/contentItem"},{"properties":{"type":{"type":"string","enum":["Emphasis"]},"emphasis_type":{"type":"string","enum":["Bold","Highlight","Italic","Strikethrough","Superscript","Subscript","Underline"]}}}]},"error":{"required":["code","status","title"],"type":"object","properties":{"code":{"type":"string","description":"Error code"},"title":{"type":"string","description":"error class summary message"},"status":{"type":"string","description":"HTTP status code"},"detail":{"type":"string","description":"error detail about this instance of error"},"meta":{"$ref":"#\/components\/schemas\/errorMeta"}}},"errorMeta":{"type":"object","properties":{"id":{"type":"string"},"type":{"type":"string"}}},"errors":{"type":"object","properties":{"errors":{"type":"array","items":{"$ref":"#\/components\/schemas\/error"}}}},"headline":{"type":"object","properties":{"flashline":{"$ref":"#\/components\/schemas\/contentItem"},"main":{"$ref":"#\/components\/schemas\/contentItem"},"deck":{"$ref":"#\/components\/schemas\/contentItem"}}},"headlinesResponse":{"type":"object","description":"Search headlines response","properties":{"meta":{"$ref":"#\/components\/schemas\/headlinesTopLevelMeta"},"links":{"$ref":"#\/components\/schemas\/headlinesTopLevelLinks"},"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/contentData"}},"included":{"type":"array","items":{"anyOf":[{"$ref":"#\/components\/schemas\/includedResource"},{"$ref":"#\/components\/schemas\/contentData"}]}}}},"headlinesTopLevelLinks":{"type":"object","properties":{"first":{"type":"string"},"last":{"type":"string"},"next":{"type":"string"},"prev":{"type":"string"},"self":{"type":"string"}}},"headlinesTopLevelMeta":{"type":"object","properties":{"collection_info":{"type":"object","description":"","properties":{"id":{"type":"string"},"name":{"type":"string"}}},"count":{"type":"integer","description":"Records returned"},"discovery":{"type":"object","properties":{"content_collection":{"type":"array","description":"Content collection discovery","items":{"type":"object","properties":{"type":{"type":"string","description":"Content collection type","enum":["Publications","Blogs","Internal","NewsSites","Pictures","WebSites","Summary"]},"hit_count":{"type":"number","description":"Hit count"},"ref":{"type":"string","description":"Link URL"}}}},"codes":{"type":"array","description":"Source discovery","items":{"type":"object","properties":{"type":{"type":"string","description":"Code type","enum":["Author","ClippingTime","Company","CompanyAbout","CompanyAboutAssociateLineage","CompanyOccurrence","ContentCollectionType","Industry","IndustryAbout","IndustryLowLevel","IndustryTopLevel","Language","OrganizationType","Person","Region","RegionAbout","RegionCity","RegionCountry","RegionLowLevel","RegionOccurrence","RegionState","RegionTopLevel","Subject","SubjectAbout","SubjectLowLevel","SubjectTopLevel","Source","SourceFamily"]},"code":{"type":"string","description":"Code"},"code_data":{"type":"array","description":"Keyword discovery","items":{"type":"object","properties":{"code":{"type":"string","description":"Code"},"description":{"type":"string","description":"Code description"},"hit_count":{"type":"number","description":"Hit count"},"ref":{"type":"string","description":"Link URL"},"type":{"type":"string","description":"type of code"}}}}}}},"keywords":{"type":"array","description":"Keyword discovery","items":{"type":"object","properties":{"name":{"type":"string","description":"Code"},"weight":{"type":"number","description":"Weight"},"ref":{"type":"string","description":"Link URL"}}}},"time":{"type":"object","description":"Time discovery","properties":{"type":{"type":"string","description":"Time type","enum":["PublicationYear","PublicationMonth","PublicationDay","PublicationWeek","PublicationMinute"]},"code":{"type":"string","description":"Code"},"time_data":{"type":"array","description":"Time data","items":{"type":"object","properties":{"hit_count":{"type":"number","description":"Hit count"},"ref":{"type":"string","description":"Link URL"},"time_value":{"type":"string","description":"Time value"}}}}}}},"description":"Discovery data"},"duplicate_count":{"type":"integer","description":"Duplicate records returned"},"keywords":{"type":"array","description":"Free form, unstructured tags \/ keywords","items":{"type":"string"}},"paging":{"type":"object","properties":{"context":{"type":"string"},"offset":{"type":"object","properties":{"first":{"type":"integer"},"prev":{"type":"integer"},"next":{"type":"integer"},"last":{"type":"integer"},"current":{"type":"integer"}}}}},"search_info":{"type":"object","description":"","properties":{"canonical_query":{"type":"string"},"highlight_text":{"type":"string"}}},"total_count":{"type":"integer","description":"Total number of records"}}},"resourceMeta":{"type":"object","properties":{"alternate_document_id":{"type":"string"},"alternate_document_ref":{"type":"string"},"bill_data":{"type":"string"},"clipping_date":{"type":"string","format":"date"},"clipping_time":{"type":"string","format":"date-time"},"code_sets":{"type":"array","items":{"$ref":"#\/components\/schemas\/codeSet"}},"document_vector":{"type":"string"},"edition":{"type":"object","properties":{"name":{"type":"string"},"print":{"$ref":"#\/components\/schemas\/printEdition"}}},"emphasis":{"type":"object","properties":{"hot":{"type":"boolean"},"dominant":{"type":"boolean"},"analysis":{"type":"boolean"}}},"geo_relevance":{"type":"array","items":{"type":"object","properties":{"latitude":{"type":"number"},"longitude":{"type":"number"}}}},"is_translation_allowed":{"type":"boolean"},"keywords":{"type":"array","items":{"type":"string"}},"language":{"type":"object","properties":{"code":{"type":"string"},"descriptor":{"type":"string"}}},"metrics":{"type":"object","properties":{"character_count":{"type":"integer"},"word_count":{"type":"integer"},"image_count":{"type":"integer"},"chart_count":{"type":"integer"}}},"original_doc_id":{"type":"string"},"rank":{"type":"integer"},"source":{"type":"object","properties":{"code":{"type":"string"},"name":{"type":"string"},"logo":{"$ref":"#\/components\/schemas\/imageItem"}}},"truncation_rules":{"type":"array","items":{"type":"object","properties":{"rule":{"type":"string","enum":["ExtraSmall","Small","Medium","Large"]},"length":{"type":"integer"}}}}}},"headingItem":{"type":"object","allOf":[{"$ref":"#\/components\/schemas\/contentItem"},{"properties":{"type":{"type":"string","default":"Heading"},"sub_type":{"enum":["Small","Sub"]},"fragment_id":{"type":"string","description":"TODO: needs to be changed"}}}]},"imageResponse":{"type":"object","description":"Single image Response","properties":{"links":{"$ref":"#\/components\/schemas\/topLevelLinks"},"data":{"$ref":"#\/components\/schemas\/imageData"}}},"imageAttributes":{"type":"object","properties":{"binary_encoding":{"type":"string"},"binary_stream":{"type":"string"},"id_ref":{"type":"string"},"mine_type":{"type":"string"},"size_code":{"type":"string"}}},"imageData":{"type":"object","properties":{"type":{"type":"string","enum":["content-image"]},"id":{"type":"string"},"attributes":{"anyOf":[{"$ref":"#\/components\/schemas\/imageAttributes"},{"$ref":"#\/components\/schemas\/error"}]}}},"imageItem":{"type":"object","allOf":[{"$ref":"#\/components\/schemas\/mediaBaseItem"},{"properties":{"type":{"type":"string","enum":["Image"]}}}]},"includedResource":{"type":"object","properties":{"type":{"$ref":"#\/components\/schemas\/mediaTypes"},"id":{"type":"string"},"attributes":{"type":"object","properties":{"bytes":{"type":"integer"},"external":{"type":"boolean"},"height":{"type":"integer"},"id_ref":{"type":"string"},"is_responsive":{"type":"boolean"},"mime_type":{"type":"string"},"size_code":{"type":"string","description":"size codes, along the lines of \"FingerNail\", \"ThumbNail\",\n\"A\", \"OR\", etc"},"slug":{"type":"string","description":"??????"},"sub_type":{"type":"string"},"width":{"type":"integer"}}},"links":{"type":"object","properties":{"self":{"type":"string"}}}}},"includedResources":{"type":"array","items":{"$ref":"#\/components\/schemas\/includedResource"}},"insetItem":{"type":"object","properties":{"inset_type":{"type":"string","enum":["BooksExhibitionsReviews","BigTopHero","Comments","DeckSummary","DeckSummaryMobile","Deloitte","Dynamic","ExperientialAd","FacebookPost","GoogleReview","Iframe","Instagramphoto","Instagram","MdChart","NewsletterInset","Outset","Pagebreak","PronewsLetter","PullQuote","RelatedByArticleType","RelatedLinks","Richtext","Slideshow","slideshowembed","StockScreener","Tweet","VideoByGuid","Videostream","Youtube"],"description":"TODO: need to add all available oprions"},"properties":{"type":"object"},"content":{"type":"array","items":{"anyOf":[{"$ref":"#\/components\/schemas\/blockquoteItem"},{"$ref":"#\/components\/schemas\/headingItem"},{"$ref":"#\/components\/schemas\/imageItem"},{"$ref":"#\/components\/schemas\/listItem"},{"$ref":"#\/components\/schemas\/mediaItem"},{"$ref":"#\/components\/schemas\/paragraphItem"},{"$ref":"#\/components\/schemas\/taglineItem"},{"$ref":"#\/components\/schemas\/videoItem"}]}},"ref":{"type":"string"}}},"listItem":{"type":"object","allOf":[{"$ref":"#\/components\/schemas\/contentItem"},{"properties":{"type":{"type":"string","enum":["List"]},"ordered":{"type":"boolean"}}}]},"linkItem":{"type":"object","allOf":[{"$ref":"#\/components\/schemas\/contentItem"},{"properties":{"type":{"type":"string","enum":["Link"]},"external":{"type":"boolean"},"icon":{"type":"string","enum":["Audio","Blog","Document","File","Interactives","None","Pdf","Self","Slideshow","Video","Vote"]},"link_type":{"type":"string","enum":["Article","Blog","Email","File","Image","Webpage"]},"ref":{"type":"string"},"uri":{"type":"string"}}}]},"mediaBaseItem":{"type":"object","properties":{"alternate_text":{"type":"string"},"alt_images":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"width":{"type":"integer"},"height":{"type":"integer"},"size_code":{"type":"string","description":"the size code of the alternate image"},"id":{"type":"string","description":"id ref that links to the included items found in DNA Developer API"}}}},"caption":{"$ref":"#\/components\/schemas\/contentItem"},"credit":{"type":"string"},"height":{"type":"integer"},"media_type":{"$ref":"#\/components\/schemas\/mediaTypes"},"name":{"type":"string"},"properties":{"type":"object"},"slug":{"type":"string"},"uri":{"type":"string"},"width":{"type":"integer"}}},"mediaItem":{"type":"object","allOf":[{"$ref":"#\/components\/schemas\/mediaBaseItem"},{"properties":{"type":{"type":"string","enum":["Media"]}}}]},"mediaTypes":{"type":"string","enum":["Audio","Chart","Combo","Flash","Hedcut","Illustration","Logo","Photo","Portrait","Promobox","Video"]},"paragraphItem":{"type":"object","allOf":[{"$ref":"#\/components\/schemas\/contentItem"},{"properties":{"type":{"type":"string","enum":["Paragraph"]},"display":{"type":"string","enum":["Preformatted","Plain"]},"paragraph_type":{"type":"string","enum":["LeadParagraph","TailParagraph"]}}}]},"printEdition":{"type":"object","properties":{"date":{"type":"string","format":"date"},"headline":{"type":"string"},"page":{"type":"string"},"section":{"type":"string"},"value":{"type":"string"}}},"resourceLinks":{"type":"object","properties":{"audio_uri":{"type":"string"},"parent_uri":{"type":"string"},"self":{"type":"string"},"video_uri":{"type":"string"},"webpage_uri":{"type":"string"}}},"relatedResources":{"type":"object","properties":{"included_content":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"type":{"$ref":"#\/components\/schemas\/mediaTypes"},"id":{"type":"string"}}}}}},"duplicate_content":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","enum":["content"]},"id":{"type":"string"}}}}}}}},"tableItem":{"type":"object","properties":{"type":{"type":"string","enum":["Table"]},"content":{"type":"array","items":{"$ref":"#\/components\/schemas\/tableRow"}}}},"tableCell":{"type":"object","properties":{"type":{"type":"string","enum":["TableCell"]},"content":{"$ref":"#\/components\/schemas\/contentItems"}}},"tableRow":{"type":"object","properties":{"type":{"type":"string","enum":["TableRow"]},"colspan":{"type":"integer"},"content":{"type":"array","items":{"$ref":"#\/components\/schemas\/tableCell"}}}},"taglineItem":{"type":"object","allOf":[{"$ref":"#\/components\/schemas\/contentItem"},{"properties":{"type":{"enum":["Tagline"]}}}]},"textItem":{"type":"object","properties":{"text":{"type":"string"}}},"topLevelMeta":{"type":"object","properties":{"context":{"type":"string"},"count":{"type":"integer"},"metering":{"type":"object","properties":{"limit":{"type":"integer"},"remaining":{"type":"string"},"in_grace_period":{"type":"boolean"},"time_period_window":{"type":"string","enum":["Monthly","Yearly"]}}}}},"topLevelLinks":{"type":"object","properties":{"self":{"type":"string"}}},"videoItem":{"type":"object","allOf":[{"$ref":"#\/components\/schemas\/mediaBaseItem"},{"properties":{"type":{"type":"string","enum":["Video"]},"api":{"type":"string"}}}]},"MyResponseType":{"oneOf":[{"$ref":"#\/components\/schemas\/articleResponse"},{"$ref":"#\/components\/schemas\/articlesResponse"},{"$ref":"#\/components\/schemas\/headlinesResponse"},{"$ref":"#\/components\/schemas\/imageResponse"},{"$ref":"#\/components\/schemas\/errors"}]}},"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}}}}