openapi: 3.2.0
info:
  description: Risk and Compliance APIs
  version: v2
  title: Risk and Compliance search API
  contact:
    name: Dow Jones
  license:
    name: Dow Jones
servers:
- url: https://api.dowjones.com
- url: https://eu.api.dowjones.com
tags:
- name: Risk and Compliance search
paths:
  /riskentities/search:
    post:
      security:
      - Bearer: []
      tags:
      - Risk and Compliance search
      summary: Screening of Risk and Compliance
      description: Returns Screening of Risk and Compliance
      operationId: searchRandC
      parameters:
      - $ref: '#/components/parameters/control_data'
      - $ref: '#/components/parameters/djip-UserCredentialData'
      - $ref: '#/components/parameters/djip-SessionID'
      - $ref: '#/components/parameters/djip-AuthorizationData'
      requestBody:
        content:
          application/vnd.dowjones.dna.riskentities.v_2.0+json:
            schema:
              $ref: '#/components/schemas/ScreeningRequestV2'
            examples:
              NameSearchWithAuditExample:
                $ref: '#/components/examples/NameSearchWithAuditExample'
              NameSearchExample:
                $ref: '#/components/examples/NameSearchExample'
              PersonNameExample:
                $ref: '#/components/examples/PersonNameExample'
              EntityNameExample:
                $ref: '#/components/examples/EntityNameExample'
              IDTypeSearchExample:
                $ref: '#/components/examples/IDTypeSearchExample'
          application/vnd.dowjones.dna.riskentities.v_2.1+json:
            schema:
              $ref: '#/components/schemas/ScreeningRequestV2'
            examples:
              NameSearchWithAuditExample:
                $ref: '#/components/examples/NameSearchWithAuditExample'
              NameSearchExample:
                $ref: '#/components/examples/NameSearchExample'
              PersonNameExample:
                $ref: '#/components/examples/PersonNameExample'
              EntityNameExample:
                $ref: '#/components/examples/EntityNameExample'
              IDTypeSearchExample:
                $ref: '#/components/examples/IDTypeSearchExample'
          application/vnd.dowjones.dna.riskentities.v_2.2+json:
            schema:
              $ref: '#/components/schemas/ScreeningRequestV22'
            examples:
              NameSearchWithAuditExample:
                $ref: '#/components/examples/NameSearchWithAuditExampleV22'
              NameSearchExample:
                $ref: '#/components/examples/NameSearchExampleV22'
              PersonNameExample:
                $ref: '#/components/examples/PersonNameExampleV22'
              EntityNameExample:
                $ref: '#/components/examples/EntityNameExampleV22'
              IDTypeSearchExample:
                $ref: '#/components/examples/IDTypeSearchExample'
          application/vnd.dowjones.dna.riskentities.v_2.3+json:
            schema:
              $ref: '#/components/schemas/ScreeningRequestV23'
            examples:
              NameSearchWithAuditExample:
                $ref: '#/components/examples/NameSearchWithAuditExampleV23'
              NameSearchExample:
                $ref: '#/components/examples/NameSearchExampleV23'
              PersonNameExample:
                $ref: '#/components/examples/PersonNameExampleV23'
              EntityNameExample:
                $ref: '#/components/examples/EntityNameExampleV23'
              IDTypeSearchExample:
                $ref: '#/components/examples/IDTypeSearchExample'
          application/vnd.dowjones.dna.riskentities.v_2.4+json:
            schema:
              $ref: '#/components/schemas/ScreeningRequestV24'
            examples:
              NameSearchWithAuditExample:
                $ref: '#/components/examples/NameSearchWithAuditExampleV24'
              NameSearchExample:
                $ref: '#/components/examples/NameSearchExampleV24'
              PersonNameExample:
                $ref: '#/components/examples/PersonNameExampleV24'
              EntityNameExample:
                $ref: '#/components/examples/EntityNameExampleV24'
              IDTypeSearchExample:
                $ref: '#/components/examples/IDTypeSearchExample'
          application/vnd.dowjones.dna.riskentities.v_2.5+json:
            schema:
              $ref: '#/components/schemas/ScreeningRequestV25'
            examples:
              NameSearchWithAuditExample:
                $ref: '#/components/examples/NameSearchWithAuditExampleV25'
              NameSearchExample:
                $ref: '#/components/examples/NameSearchExampleV25'
              PersonNameExample:
                $ref: '#/components/examples/PersonNameExampleV25'
              EntityNameExample:
                $ref: '#/components/examples/EntityNameExampleV25'
              IDTypeSearchExample:
                $ref: '#/components/examples/IDTypeSearchExample'
          application/vnd.dowjones.dna.riskentities.v_2.6+json:
            schema:
              $ref: '#/components/schemas/ScreeningRequestV26'
            examples:
              NameSearchWithAuditExample:
                $ref: '#/components/examples/NameSearchWithAuditExampleV26'
              NameSearchExample:
                $ref: '#/components/examples/NameSearchExampleV26'
              PersonNameExample:
                $ref: '#/components/examples/PersonNameExampleV26'
              EntityNameExample:
                $ref: '#/components/examples/EntityNameExampleV26'
              IDTypeSearchExample:
                $ref: '#/components/examples/IDTypeSearchExample'
        required: true
      responses:
        '200':
          description: Ok
          content:
            application/vnd.dowjones.dna.riskentities.v_2.6+json:
              schema:
                $ref: '#/components/schemas/ScreeningResponseV26'
            application/vnd.dowjones.dna.riskentities.v_2.5+json:
              schema:
                $ref: '#/components/schemas/ScreeningResponseV25'
            application/vnd.dowjones.dna.riskentities.v_2.4+json:
              schema:
                $ref: '#/components/schemas/ScreeningResponseV24'
            application/vnd.dowjones.dna.riskentities.v_2.3+json:
              schema:
                $ref: '#/components/schemas/ScreeningResponseV23'
            application/vnd.dowjones.dna.riskentities.v_2.2+json:
              schema:
                $ref: '#/components/schemas/ScreeningResponseV2'
            application/vnd.dowjones.dna.riskentities.v_2.1+json:
              schema:
                $ref: '#/components/schemas/ScreeningResponseV2'
            application/vnd.dowjones.dna.riskentities.v_2.0+json:
              schema:
                $ref: '#/components/schemas/ScreeningResponseV20'
        '400':
          description: Bad request
components:
  schemas:
    SanctionsListV24:
      type: object
      description: Filter to include or exclude codes from SanctionLists (SAN)
      properties:
        codes:
          type: array
          example:
          - AE-CAE
          - AR-MOJDH
          items:
            type: string
        exclude_codes:
          type: array
          example: []
          items:
            type: string
        without_codes:
          type: array
          example:
          - BRAZ
          items:
            type: string
        is_all_excluded:
          type: boolean
          default: false
        is_san_active:
          type: boolean
          default: null
        operator:
          $ref: '#/components/schemas/Operator'
    HrfCategoryV26:
      type: object
      description: Filter to include or exclude codes from HighRiskFactor list
      properties:
        codes:
          type: array
          example:
          - '1011'
          items:
            type: string
        exclude_codes:
          type: array
          example: []
          items:
            type: string
        without_codes:
          type: array
          example:
          - BRAZ
          items:
            type: string
        is_all_excluded:
          type: boolean
          default: false
        last_review_date:
          $ref: '#/components/schemas/LastReviewDate'
        is_hrf_active:
          type: boolean
          default: null
        operator:
          type: string
    DataV23:
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/RequestAttributesV23'
    MatchedType:
      type: object
      properties:
        is_structural_variation:
          type: boolean
          default: false
        is_non_linguistic_variation:
          type: boolean
          default: false
        type:
          type: string
        is_linguistic_variation:
          type: boolean
          default: false
    OccupationCategoryV25:
      type: object
      description: Filter to include or exclude codes from OccupationCategories list
      properties:
        codes:
          type: array
          example:
          - '18'
          - '6'
          items:
            type: string
        exclude_codes:
          type: array
          example: []
          items:
            type: string
        without_codes:
          type: array
          example:
          - BRAZ
          items:
            type: string
        last_review_date:
          $ref: '#/components/schemas/LastReviewDateV25'
        is_all_excluded:
          type: boolean
          default: false
        is_adsr_excluded:
          type: boolean
          default: false
        is_pep_active:
          type: boolean
          default: null
        pep_inactive_date_gte:
          $ref: '#/components/schemas/PepInactiveDateGte'
        operator:
          type: string
    FiltersV22:
      type: object
      properties:
        search_keyword:
          $ref: '#/components/schemas/SearchKeyword'
        country_territory:
          $ref: '#/components/schemas/CountryRequestV1'
        identification:
          $ref: '#/components/schemas/Identification'
        entity_name:
          $ref: '#/components/schemas/EntityName'
        date_of_birth:
          $ref: '#/components/schemas/DateOfBirth'
        person_name:
          $ref: '#/components/schemas/PersonName'
        record_types:
          type: array
          items:
            type: string
            enum:
            - Person
            - Entity
        content_set:
          type: array
          example:
          - Watchlist
          - Locations
          - StateOwnedCompanies
          - AntiCorruption
          - AdverseMedia
          items:
            type: string
            enum:
            - Watchlist
            - AdverseMedia
            - StateOwnedCompanies
            - AntiCorruption
            - HighRiskFactors
            - Locations
            - TradeCompliance
        gender:
          type: array
          example:
          - male
          - female
          items:
            type: string
            enum:
            - male
            - female
            - unknown
    OccupationCategoryV22:
      type: object
      description: Filter to include or exclude codes from OccupationCategories list
      properties:
        codes:
          type: array
          example:
          - '18'
          - '6'
          items:
            type: string
        exclude_codes:
          type: array
          example: []
          items:
            type: string
        is_all_excluded:
          type: boolean
          default: false
        is_adsr_excluded:
          type: boolean
          default: false
        is_pep_active:
          type: boolean
          default: null
        pep_inactive_date_gte:
          $ref: '#/components/schemas/PepInactiveDateGte'
        operator:
          $ref: '#/components/schemas/Operator'
    AttributesResponseV26:
      type: object
      properties:
        type:
          type: string
        primary_name:
          type: string
        title:
          type: string
        country_territory_code:
          type: string
        country_territory_name:
          type: string
        gender:
          type: string
        is_subsidiary:
          type: boolean
          default: false
        score:
          type: string
        countries_territories:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/CountryResponse'
            - $ref: '#/components/schemas/CountryResponseIso'
        date_of_birth:
          type: array
          items:
            $ref: '#/components/schemas/DateObjectV26'
        matched_criteria:
          $ref: '#/components/schemas/MatchedCriteriaV26'
        icon_hints:
          type: array
          items:
            $ref: '#/components/schemas/IconHintVo'
        filter_source:
          type: string
    FiltersV24:
      type: object
      properties:
        search_keyword:
          $ref: '#/components/schemas/SearchKeywordV2'
        country_territory:
          $ref: '#/components/schemas/CountryRequestV24'
        identification:
          $ref: '#/components/schemas/Identification'
        entity_name:
          $ref: '#/components/schemas/EntityName'
        date_of_birth:
          $ref: '#/components/schemas/DateOfBirth'
        person_name:
          $ref: '#/components/schemas/PersonName'
        record_types:
          type: array
          items:
            type: string
            enum:
            - Person
            - Entity
        content_set:
          type: array
          example:
          - Watchlist
          - Locations
          - StateOwnedCompanies
          - AntiCorruption
          - AdverseMedia
          items:
            type: string
            enum:
            - Watchlist
            - AdverseMedia
            - StateOwnedCompanies
            - AntiCorruption
            - HighRiskFactors
            - Locations
            - TradeCompliance
    FiltersV26:
      type: object
      properties:
        search_keyword:
          $ref: '#/components/schemas/SearchKeyword'
        country_territory:
          $ref: '#/components/schemas/CountryRequestV26'
        identification:
          $ref: '#/components/schemas/Identification'
        entity_name:
          $ref: '#/components/schemas/EntityName'
        date_of_birth:
          $ref: '#/components/schemas/DateOfBirth'
        person_name:
          $ref: '#/components/schemas/PersonName'
        last_review_date:
          $ref: '#/components/schemas/LastReviewDateV26'
        record_types:
          type: array
          items:
            type: string
            enum:
            - Person
            - Entity
        content_set:
          type: array
          example:
          - Watchlist
          - Locations
          - StateOwnedCompanies
          - AntiCorruption
          - TradeRestrictedAssociatedEntity
          items:
            type: string
            enum:
            - Watchlist
            - AdverseMedia
            - StateOwnedCompanies
            - AntiCorruption
            - HighRiskFactors
            - Locations
            - TradeCompliance
            - MilitaryEndUse
            - TradeRestrictedAssociatedEntity
    Paging:
      type: object
      properties:
        offset:
          type: integer
          format: int32
        limit:
          type: integer
          format: int32
          example: 10
    MilitaryEndUseV26:
      type: object
      description: Filter to include or exclude codes from MilitaryEndUseCategories list
      properties:
        codes:
          type: array
          example:
          - '1054'
          items:
            type: string
        exclude_codes:
          type: array
          example: []
          items:
            type: string
        without_codes:
          type: array
          example:
          - BRAZ
          items:
            type: string
        is_all_excluded:
          type: boolean
          default: false
        last_review_date:
          $ref: '#/components/schemas/LastReviewDateV26'
        is_meu_active:
          type: boolean
        operator:
          type: string
    AdverseMediaV26:
      type: object
      description: Filter to include or exclude codes from AdverseMediaCategories list
      properties:
        codes:
          type: array
          example:
          - '33'
          - '34'
          items:
            type: string
        exclude_codes:
          type: array
          example: []
          items:
            type: string
        without_codes:
          type: array
          example:
          - BRAZ
          items:
            type: string
        is_all_excluded:
          type: boolean
          default: false
        last_review_date:
          $ref: '#/components/schemas/LastReviewDateV26'
        operator:
          type: string
    OtherExclusionListV26:
      type: object
      description: Filter to include or exclude codes from OtherExclusionLists (OEL)
      properties:
        codes:
          type: array
          example:
          - AFDB
          - BR-CGU
          items:
            type: string
        exclude_codes:
          type: array
          example: []
          items:
            type: string
        without_codes:
          type: array
          example:
          - BRAZ
          items:
            type: string
        is_all_excluded:
          type: boolean
          default: false
        last_review_date:
          $ref: '#/components/schemas/LastReviewDate'
        is_oel_active:
          type: boolean
          default: null
        operator:
          type: string
    FilterGroupOr:
      type: object
      properties:
        group_operator:
          type: string
          enum:
          - OR
        filters:
          $ref: '#/components/schemas/FiltersLists'
    OtherOfficialList:
      type: object
      description: Filter to include or exclude codes from OtherOfficialLists (OOL)
      properties:
        codes:
          type: array
          example:
          - ADB
          - AE-DFSA
          items:
            type: string
        exclude_codes:
          type: array
          example: []
          items:
            type: string
        is_all_excluded:
          type: boolean
          default: false
        operator:
          $ref: '#/components/schemas/Operator'
    ContentCategoryV25:
      type: object
      properties:
        special_interest:
          $ref: '#/components/schemas/SpecialInterestV25'
        adverse_media:
          $ref: '#/components/schemas/AdverseMediaV25'
        location:
          $ref: '#/components/schemas/LocationV25'
        military_end_use:
          $ref: '#/components/schemas/MilitaryEndUseV25'
    SanctionsListV26:
      type: object
      properties:
        codes:
          type: array
          items:
            type: string
        exclude_codes:
          type: array
          items:
            type: string
        without_codes:
          type: array
          items:
            type: string
        is_all_excluded:
          type: boolean
        last_review_date:
          $ref: '#/components/schemas/LastReviewDate'
        is_san_active:
          type: boolean
        operator:
          type: string
    Identification:
      type: object
      properties:
        number:
          type: string
        type:
          type: string
          description: One of the identification types. Check the IDTYPE list on taxonomy for values
    ScreeningResponseV25:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/DatumV25'
        meta:
          $ref: '#/components/schemas/MetaAudit'
    LastReviewDate:
      type: object
      properties:
        from:
          $ref: '#/components/schemas/DateObject'
        to:
          $ref: '#/components/schemas/DateObject'
    DatumV24:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
        attributes:
          $ref: '#/components/schemas/AttributesResponseV24'
    MatchedNameVo:
      type: object
      properties:
        name:
          type: string
        name_type:
          type: string
    StateOwnershipV22:
      type: object
      description: Filter to include code from StateOwnerships (SOC)
      properties:
        code:
          type: string
          example: '5'
        is_unknown_excluded:
          type: boolean
          default: false
        is_all_excluded:
          type: boolean
          default: false
        is_soc_active:
          type: boolean
          default: null
    PersonName:
      type: object
      properties:
        last_name:
          type: string
        middle_name:
          type: string
        first_name:
          type: string
        search_type:
          type: string
          enum:
          - Precise
          - Near
          - Broad
    CountryTerritoryTypesV26:
      type: object
      description: Filter to include or exclude codes from CountryTerritoryType list
      properties:
        country_territory_types:
          type: array
          example:
          - '3'
          items:
            type: string
        operator:
          type: string
          enum:
          - OR
    FilterGroupAndV22:
      type: object
      properties:
        group_operator:
          type: string
          enum:
          - AND
        filters:
          $ref: '#/components/schemas/FiltersV22'
    DateObject:
      type: object
      properties:
        month:
          type: string
          example: '1'
        year:
          type: string
          example: '2020'
        day:
          type: string
          example: '1'
    MilitaryEndUseV25:
      type: object
      description: Filter to include or exclude codes from MilitaryEndUseCategories list
      properties:
        codes:
          type: array
          example:
          - '1054'
          items:
            type: string
        exclude_codes:
          type: array
          example: []
          items:
            type: string
        without_codes:
          type: array
          example:
          - BRAZ
          items:
            type: string
        is_all_excluded:
          type: boolean
          default: false
        last_review_date:
          $ref: '#/components/schemas/LastReviewDateV25'
        is_meu_active:
          type: boolean
        operator:
          type: string
    DatumV25:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
        attributes:
          $ref: '#/components/schemas/AttributesResponseV25'
    IconHintVo:
      type: object
      properties:
        icon_hint:
          type: string
          example: SI-PERSON
        status:
          type: string
          example: Active
    RequestAttributesV25:
      type: object
      properties:
        filter_group_and:
          $ref: '#/components/schemas/FilterGroupAndV25'
        filter_group_or:
          $ref: '#/components/schemas/FilterGroupOrV25'
        paging:
          $ref: '#/components/schemas/Paging'
        screening_context:
          type: string
          example: ''
        sort:
          $ref: '#/components/schemas/SortOptions'
        is_audit:
          type: boolean
        is_private_lists:
          type: boolean
      description: Request's Attributes class
    Operator:
      type: string
      enum:
      - AND
      - OR
    SpecialInterestV26:
      type: object
      description: Filter to include or exclude codes from SpecialInterestCategories list
      properties:
        codes:
          type: array
          example:
          - '1001'
          - '1002'
          items:
            type: string
        exclude_codes:
          type: array
          example: []
          items:
            type: string
        without_codes:
          type: array
          example:
          - BRAZ
          items:
            type: string
        is_all_excluded:
          type: boolean
          default: false
        last_review_date:
          $ref: '#/components/schemas/LastReviewDateV26'
        is_sor_active:
          type: boolean
          default: null
        is_ecr_active:
          type: boolean
          default: null
        operator:
          type: string
    CountryResponse:
      type: object
      properties:
        code:
          type: string
          example: CZREP
        type:
          type: string
          example: Citizenship
    FiltersListsV25:
      type: object
      properties:
        sanctions_list:
          $ref: '#/components/schemas/SanctionsListV25'
        content_category:
          $ref: '#/components/schemas/ContentCategoryV25'
        other_official_list:
          $ref: '#/components/schemas/OtherOfficialListV25'
        other_exclusion_list:
          $ref: '#/components/schemas/OtherExclusionListV25'
        state_ownership:
          $ref: '#/components/schemas/StateOwnershipV25'
        occupation_category:
          $ref: '#/components/schemas/OccupationCategoryV25'
        hrf_category:
          $ref: '#/components/schemas/HrfCategoryV25'
    OccupationCategory:
      type: object
      description: Filter to include or exclude codes from OccupationCategories list
      properties:
        codes:
          type: array
          example:
          - '18'
          - '6'
          items:
            type: string
        exclude_codes:
          type: array
          example: []
          items:
            type: string
        is_all_excluded:
          type: boolean
          default: false
        is_adsr_excluded:
          type: boolean
          default: false
        operator:
          $ref: '#/components/schemas/Operator'
    RequestAttributesV22:
      type: object
      properties:
        filter_group_and:
          $ref: '#/components/schemas/FilterGroupAndV22'
        filter_group_or:
          $ref: '#/components/schemas/FilterGroupOrV22'
        paging:
          $ref: '#/components/schemas/Paging'
        screening_context:
          type: string
          example: ''
        sort:
          $ref: '#/components/schemas/SortOptions'
        is_audit:
          type: boolean
      description: Request's Attributes class
    LocationV25:
      type: object
      description: Filter to include or exclude codes from Locations list
      properties:
        codes:
          type: array
          example:
          - '121'
          items:
            type: string
        exclude_codes:
          type: array
          example: []
          items:
            type: string
        without_codes:
          type: array
          example:
          - BRAZ
          items:
            type: string
        is_all_excluded:
          type: boolean
          default: false
        last_review_date:
          $ref: '#/components/schemas/LastReviewDateV25'
        operator:
          type: string
    FiltersListsV26:
      type: object
      properties:
        sanctions_list:
          $ref: '#/components/schemas/SanctionsListV26'
        content_category:
          $ref: '#/components/schemas/ContentCategoryV26'
        other_official_list:
          $ref: '#/components/schemas/OtherOfficialListV26'
        other_exclusion_list:
          $ref: '#/components/schemas/OtherExclusionListV26'
        state_ownership:
          $ref: '#/components/schemas/StateOwnershipV26'
        occupation_category:
          $ref: '#/components/schemas/OccupationCategoryV26'
        hrf_category:
          $ref: '#/components/schemas/HrfCategoryV26'
    Countries:
      type: object
      description: Filter to include or exclude codes from CountryTerritory list
      properties:
        codes:
          type: array
          example:
          - USA
          - GFR
          items:
            type: string
        exclude_codes:
          type: array
          example: []
          items:
            type: string
        operator:
          type: string
          enum:
          - OR
    ScreeningResponseV20:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/DatumV20'
        meta:
          $ref: '#/components/schemas/MetaAudit'
    SpecialInterestV24:
      type: object
      description: Filter to include or exclude codes from SpecialInterestCategories list
      properties:
        codes:
          type: array
          example:
          - '1001'
          - '1002'
          items:
            type: string
        exclude_codes:
          type: array
          example: []
          items:
            type: string
        without_codes:
          type: array
          example:
          - BRAZ
          items:
            type: string
        is_all_excluded:
          type: boolean
          default: false
        is_sor_active:
          type: boolean
          default: null
        is_ecr_active:
          type: boolean
          default: null
        operator:
          $ref: '#/components/schemas/Operator'
    RequestAttributesV26:
      type: object
      properties:
        filter_group_and:
          $ref: '#/components/schemas/FilterGroupAndV26'
        filter_group_or:
          $ref: '#/components/schemas/FilterGroupOrV26'
        paging:
          $ref: '#/components/schemas/Paging'
        screening_context:
          type: string
          example: ''
        sort:
          $ref: '#/components/schemas/SortOptions'
        is_audit:
          type: boolean
        is_private_lists:
          type: boolean
      description: Request's Attributes class
    AdverseMediaV25:
      type: object
      description: Filter to include or exclude codes from AdverseMediaCategories list
      properties:
        codes:
          type: array
          example:
          - '33'
          - '34'
          items:
            type: string
        exclude_codes:
          type: array
          example: []
          items:
            type: string
        without_codes:
          type: array
          example:
          - BRAZ
          items:
            type: string
        is_all_excluded:
          type: boolean
          default: false
        last_review_date:
          $ref: '#/components/schemas/LastReviewDateV25'
        operator:
          type: string
    LastReviewDateV25:
      type: object
      properties:
        from:
          $ref: '#/components/schemas/DateObjectV25'
        to:
          $ref: '#/components/schemas/DateObjectV25'
    DateOfBirth:
      type: object
      properties:
        date:
          $ref: '#/components/schemas/DateWithStrict'
        year_range:
          $ref: '#/components/schemas/YearRange'
        is_deceased_excluded:
          type: boolean
          default: false
    HrfCategory:
      type: object
      description: Filter to include or exclude codes from HighRiskFactor list
      properties:
        codes:
          type: array
          example:
          - '1011'
          items:
            type: string
        exclude_codes:
          type: array
          example: []
          items:
            type: string
        is_all_excluded:
          type: boolean
          default: false
        operator:
          $ref: '#/components/schemas/Operator'
    CountryRequestV24:
      type: object
      properties:
        country_territory_types:
          $ref: '#/components/schemas/CountryTerritoryTypesV2'
        countries_territories:
          $ref: '#/components/schemas/CountriesV24'
    SpecialInterestV22:
      type: object
      description: Filter to include or exclude codes from SpecialInterestCategories list
      properties:
        codes:
          type: array
          example:
          - '1001'
          - '1002'
          items:
            type: string
        exclude_codes:
          type: array
          example: []
          items:
            type: string
        is_all_excluded:
          type: boolean
          default: false
        is_sor_active:
          type: boolean
          default: null
        is_ecr_active:
          type: boolean
          default: null
        operator:
          $ref: '#/components/schemas/Operator'
    CountryRequestV26:
      type: object
      properties:
        country_territory_types:
          $ref: '#/components/schemas/CountryTerritoryTypesV26'
        countries_territories:
          $ref: '#/components/schemas/CountryTerritoryV26'
    StateOwnershipV26:
      type: object
      description: Filter to include code from StateOwnerships (SOC)
      properties:
        code:
          type: string
          example: '5'
        is_unknown_excluded:
          type: boolean
          default: false
        is_all_excluded:
          type: boolean
          default: false
        is_soc_active:
          type: boolean
          default: null
    FiltersV25:
      type: object
      properties:
        search_keyword:
          $ref: '#/components/schemas/SearchKeyword'
        country_territory:
          $ref: '#/components/schemas/CountryRequestV24'
        identification:
          $ref: '#/components/schemas/Identification'
        entity_name:
          $ref: '#/components/schemas/EntityName'
        date_of_birth:
          $ref: '#/components/schemas/DateOfBirth'
        person_name:
          $ref: '#/components/schemas/PersonName'
        last_review_date:
          $ref: '#/components/schemas/LastReviewDate'
        record_types:
          type: array
          items:
            type: string
            enum:
            - Person
            - Entity
        content_set:
          type: array
          example:
          - Watchlist
          - Locations
          - StateOwnedCompanies
          - AntiCorruption
          - AdverseMedia
          items:
            type: string
            enum:
            - Watchlist
            - AdverseMedia
            - StateOwnedCompanies
            - AntiCorruption
            - HighRiskFactors
            - Locations
            - TradeCompliance
    FiltersLists:
      type: object
      properties:
        sanctions_list:
          $ref: '#/components/schemas/SanctionsList'
        content_category:
          $ref: '#/components/schemas/ContentCategory'
        other_official_list:
          $ref: '#/components/schemas/OtherOfficialList'
        other_exclusion_list:
          $ref: '#/components/schemas/OtherExclusionList'
        state_ownership:
          $ref: '#/components/schemas/StateOwnership'
        occupation_category:
          $ref: '#/components/schemas/OccupationCategory'
        hrf_category:
          $ref: '#/components/schemas/HrfCategory'
    FilterGroupAndV24:
      type: object
      properties:
        group_operator:
          type: string
          enum:
          - AND
        filters:
          $ref: '#/components/schemas/FiltersV24'
    FilterGroupOrV25:
      type: object
      properties:
        group_operator:
          type: string
          enum:
          - OR
        filters:
          $ref: '#/components/schemas/FiltersListsV25'
    FilterGroupAnd:
      type: object
      properties:
        group_operator:
          type: string
          enum:
          - AND
        filters:
          $ref: '#/components/schemas/FiltersV2'
    ScreeningRequestV26:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/DataV26'
    ScreeningResponseV23:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/DatumV23'
        meta:
          $ref: '#/components/schemas/MetaAudit'
    OtherExclusionListV24:
      type: object
      description: Filter to include or exclude codes from OtherExclusionLists (OEL)
      properties:
        codes:
          type: array
          example:
          - AFDB
          - BR-CGU
          items:
            type: string
        exclude_codes:
          type: array
          example: []
          items:
            type: string
        without_codes:
          type: array
          example:
          - BRAZ
          items:
            type: string
        is_all_excluded:
          type: boolean
          default: false
        is_oel_active:
          type: boolean
          default: null
        operator:
          $ref: '#/components/schemas/Operator'
    OtherOfficialListV25:
      type: object
      description: Filter to include or exclude codes from OtherOfficialLists (OOL)
      properties:
        codes:
          type: array
          example:
          - ADB
          - AE-DFSA
          items:
            type: string
        exclude_codes:
          type: array
          example: []
          items:
            type: string
        without_codes:
          type: array
          example:
          - BRAZ
          items:
            type: string
        is_all_excluded:
          type: boolean
          default: false
        last_review_date:
          $ref: '#/components/schemas/LastReviewDateV25'
        is_ool_active:
          type: boolean
          default: null
        operator:
          type: string
    HrfCategoryV22:
      type: object
      description: Filter to include or exclude codes from HighRiskFactor list
      properties:
        codes:
          type: array
          example:
          - '1011'
          items:
            type: string
        exclude_codes:
          type: array
          example: []
          items:
            type: string
        is_all_excluded:
          type: boolean
          default: false
        is_hrf_active:
          type: boolean
          default: null
        operator:
          $ref: '#/components/schemas/Operator'
    SearchKeywordV2:
      type: object
      properties:
        search_text:
          type: string
        search_type:
          type: string
        search_scope:
          type: array
          items:
            type: string
    DataV26:
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/RequestAttributesV26'
    StateOwnership:
      type: object
      description: Filter to include code from StateOwnerships (SOC)
      properties:
        code:
          type: string
          example: '5'
        is_unknown_excluded:
          type: boolean
          default: false
        is_all_excluded:
          type: boolean
          default: false
    LocationV26:
      type: object
      description: Filter to include or exclude codes from Locations list
      properties:
        codes:
          type: array
          example:
          - '121'
          items:
            type: string
        exclude_codes:
          type: array
          example: []
          items:
            type: string
        without_codes:
          type: array
          example:
          - BRAZ
          items:
            type: string
        is_all_excluded:
          type: boolean
          default: false
        last_review_date:
          $ref: '#/components/schemas/LastReviewDateV26'
        operator:
          type: string
    TradeRestrictedAssociatedEntityV26:
      type: object
      description: Filter to include or exclude codes from TradeRestrictedAssociatedEntity list
      properties:
        codes:
          type: array
          example:
          - '1054'
          items:
            type: string
        exclude_codes:
          type: array
          example: []
          items:
            type: string
        without_codes:
          type: array
          example:
          - BRAZ
          items:
            type: string
        is_all_excluded:
          type: boolean
          default: false
        last_review_date:
          $ref: '#/components/schemas/LastReviewDateV26'
        is_tae_active:
          type: boolean
        operator:
          type: string
    ContentCategoryV24:
      type: object
      properties:
        special_interest:
          $ref: '#/components/schemas/SpecialInterestV24'
        adverse_media:
          $ref: '#/components/schemas/AdverseMediaV24'
        location:
          $ref: '#/components/schemas/LocationV24'
        military_end_use:
          $ref: '#/components/schemas/MilitaryEndUseV24'
    FilterGroupAndV25:
      type: object
      properties:
        group_operator:
          type: string
          enum:
          - AND
        filters:
          $ref: '#/components/schemas/FiltersV25'
    CountryTerritoryV26:
      type: object
      description: Filter to include or exclude codes from CountryTerritory list
      properties:
        codes:
          type: array
          example:
          - USA
          - GFR
          items:
            type: string
        exclude_codes:
          type: array
          example: []
          items:
            type: string
        without_codes:
          type: array
          example:
          - BRAZ
          items:
            type: string
        operator:
          type: string
          enum:
          - OR
    ScreeningRequestV23:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/DataV23'
    FiltersListsV22:
      type: object
      properties:
        sanctions_list:
          $ref: '#/components/schemas/SanctionsListV22'
        content_category:
          $ref: '#/components/schemas/ContentCategoryV22'
        other_official_list:
          $ref: '#/components/schemas/OtherOfficialListV22'
        other_exclusion_list:
          $ref: '#/components/schemas/OtherExclusionListV22'
        state_ownership:
          $ref: '#/components/schemas/StateOwnershipV22'
        occupation_category:
          $ref: '#/components/schemas/OccupationCategoryV22'
        hrf_category:
          $ref: '#/components/schemas/HrfCategoryV22'
    ScreeningRequestV24:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/DataV24'
    AdverseMediaV24:
      type: object
      description: Filter to include or exclude codes from AdverseMediaCategories list
      properties:
        codes:
          type: array
          example:
          - '33'
          - '34'
          items:
            type: string
        exclude_codes:
          type: array
          example: []
          items:
            type: string
        without_codes:
          type: array
          example:
          - BRAZ
          items:
            type: string
        is_all_excluded:
          type: boolean
          default: false
        operator:
          $ref: '#/components/schemas/Operator'
    ContentCategoryV22:
      type: object
      properties:
        special_interest:
          $ref: '#/components/schemas/SpecialInterestV22'
        adverse_media:
          $ref: '#/components/schemas/AdverseMedia'
        location:
          $ref: '#/components/schemas/Location'
    DateObjectV26:
      type: object
      properties:
        month:
          type: string
          example: '1'
        year:
          type: string
          example: '2020'
        day:
          type: string
          example: '1'
        is_strict_match:
          type: boolean
    StateOwnershipV25:
      type: object
      description: Filter to include code from StateOwnerships (SOC)
      properties:
        code:
          type: string
          example: '5'
        is_unknown_excluded:
          type: boolean
          default: false
        is_all_excluded:
          type: boolean
          default: false
        is_soc_active:
          type: boolean
          default: null
    RequestAttributesV2:
      type: object
      properties:
        filter_group_and:
          $ref: '#/components/schemas/FilterGroupAnd'
        filter_group_or:
          $ref: '#/components/schemas/FilterGroupOr'
        paging:
          $ref: '#/components/schemas/Paging'
        screening_context:
          type: string
          example: ''
        sort:
          $ref: '#/components/schemas/SortOptions'
        is_audit:
          type: boolean
      description: Request's Attributes class
    OtherOfficialListV24:
      type: object
      description: Filter to include or exclude codes from OtherOfficialLists (OOL)
      properties:
        codes:
          type: array
          example:
          - ADB
          - AE-DFSA
          items:
            type: string
        exclude_codes:
          type: array
          example: []
          items:
            type: string
        without_codes:
          type: array
          example:
          - BRAZ
          items:
            type: string
        is_all_excluded:
          type: boolean
          default: false
        is_ool_active:
          type: boolean
          default: null
        operator:
          $ref: '#/components/schemas/Operator'
    DataV25:
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/RequestAttributesV25'
    CountryTerritoryTypes:
      type: object
      description: Filter to include or exclude codes from CountryTerritoryType list
      properties:
        country_territory_types:
          type: array
          example:
          - '3'
          items:
            type: string
        operator:
          $ref: '#/components/schemas/Operator'
    CountriesV24:
      type: object
      description: Filter to include or exclude codes from CountryTerritory list
      properties:
        codes:
          type: array
          example:
          - USA
          - GFR
          items:
            type: string
        exclude_codes:
          type: array
          example: []
          items:
            type: string
        without_codes:
          type: array
          example:
          - BRAZ
          items:
            type: string
        operator:
          type: string
          enum:
          - OR
    DateObjectV25:
      type: object
      properties:
        month:
          type: string
          example: '1'
        year:
          type: string
          example: '2020'
        day:
          type: string
          example: '1'
        is_strict_match:
          type: boolean
    YearRange:
      type: object
      properties:
        from:
          type: string
          example: '1'
        to:
          type: string
          example: '2'
    FilterGroupAndV26:
      type: object
      properties:
        group_operator:
          type: string
          enum:
          - AND
        filters:
          $ref: '#/components/schemas/FiltersV26'
    OccupationCategoryV24:
      type: object
      description: Filter to include or exclude codes from OccupationCategories list
      properties:
        codes:
          type: array
          example:
          - '18'
          - '6'
          items:
            type: string
        exclude_codes:
          type: array
          example: []
          items:
            type: string
        without_codes:
          type: array
          example:
          - BRAZ
          items:
            type: string
        is_all_excluded:
          type: boolean
          default: false
        is_adsr_excluded:
          type: boolean
          default: false
        is_pep_active:
          type: boolean
          default: null
        pep_inactive_date_gte:
          $ref: '#/components/schemas/PepInactiveDateGte'
        operator:
          $ref: '#/components/schemas/Operator'
    MatchedCriteria:
      type: object
      properties:
        date_of_birth:
          $ref: '#/components/schemas/DateObject'
        name:
          $ref: '#/components/schemas/MatchedNameVo'
        type:
          $ref: '#/components/schemas/MatchedType'
    Location:
      type: object
      description: Filter to include or exclude codes from Locations list
      properties:
        codes:
          type: array
          example:
          - '121'
          items:
            type: string
        exclude_codes:
          type: array
          example: []
          items:
            type: string
        is_all_excluded:
          type: boolean
          default: false
        operator:
          $ref: '#/components/schemas/Operator'
    AttributesResponseV24:
      type: object
      properties:
        type:
          type: string
        primary_name:
          type: string
        title:
          type: string
        country_territory_code:
          type: string
        country_territory_name:
          type: string
        gender:
          type: string
        is_subsidiary:
          type: boolean
          default: false
        score:
          type: string
        countries_territories:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/CountryResponse'
            - $ref: '#/components/schemas/CountryResponseIso'
        date_of_birth:
          type: array
          items:
            $ref: '#/components/schemas/DateObject'
        matched_criteria:
          $ref: '#/components/schemas/MatchedCriteria'
        icon_hints:
          type: array
          items:
            $ref: '#/components/schemas/IconHintVo'
        filter_source:
          type: string
    AttributesResponseV20:
      type: object
      properties:
        type:
          type: string
        primary_name:
          type: string
        title:
          type: string
        country_territory_code:
          type: string
        country_territory_name:
          type: string
        gender:
          type: string
        is_subsidiary:
          type: boolean
          default: false
        score:
          type: string
        matched_criteria:
          $ref: '#/components/schemas/MatchedCriteria'
        date_of_birth:
          type: array
          items:
            $ref: '#/components/schemas/DateObject'
        icon_hints:
          type: array
          items:
            $ref: '#/components/schemas/IconHintVo'
        countries_territories:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/CountryResponse'
            - $ref: '#/components/schemas/CountryResponseIso'
    OtherOfficialListV22:
      type: object
      description: Filter to include or exclude codes from OtherOfficialLists (OOL)
      properties:
        codes:
          type: array
          example:
          - ADB
          - AE-DFSA
          items:
            type: string
        exclude_codes:
          type: array
          example: []
          items:
            type: string
        is_all_excluded:
          type: boolean
          default: false
        is_ool_active:
          type: boolean
          default: null
        operator:
          $ref: '#/components/schemas/Operator'
    HrfCategoryV25:
      type: object
      description: Filter to include or exclude codes from HighRiskFactor list
      properties:
        codes:
          type: array
          example:
          - '1011'
          items:
            type: string
        exclude_codes:
          type: array
          example: []
          items:
            type: string
        without_codes:
          type: array
          example:
          - BRAZ
          items:
            type: string
        is_all_excluded:
          type: boolean
          default: false
        last_review_date:
          $ref: '#/components/schemas/LastReviewDateV25'
        is_hrf_active:
          type: boolean
          default: null
        operator:
          type: string
    OtherExclusionListV25:
      type: object
      description: Filter to include or exclude codes from OtherExclusionLists (OEL)
      properties:
        codes:
          type: array
          example:
          - AFDB
          - BR-CGU
          items:
            type: string
        exclude_codes:
          type: array
          example: []
          items:
            type: string
        without_codes:
          type: array
          example:
          - BRAZ
          items:
            type: string
        is_all_excluded:
          type: boolean
          default: false
        last_review_date:
          $ref: '#/components/schemas/LastReviewDateV25'
        is_oel_active:
          type: boolean
          default: null
        operator:
          type: string
    ScreeningResponseV26:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/DatumV26'
        meta:
          $ref: '#/components/schemas/MetaAudit'
    OccupationCategoryV26:
      type: object
      description: Filter to include or exclude codes from OccupationCategories list
      properties:
        codes:
          type: array
          example:
          - '18'
          - '6'
          items:
            type: string
        exclude_codes:
          type: array
          example: []
          items:
            type: string
        without_codes:
          type: array
          example:
          - BRAZ
          items:
            type: string
        last_review_date:
          $ref: '#/components/schemas/LastReviewDate'
        is_all_excluded:
          type: boolean
          default: false
        is_adsr_excluded:
          type: boolean
          default: false
        is_pep_active:
          type: boolean
          default: null
        pep_inactive_date_gte:
          $ref: '#/components/schemas/PepInactiveDateGte'
        operator:
          type: string
    DatumV20:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
        attributes:
          $ref: '#/components/schemas/AttributesResponseV20'
    CountryTerritoryTypesV2:
      type: object
      description: Filter to include or exclude codes from CountryTerritoryType list
      properties:
        country_territory_types:
          type: array
          example:
          - '3'
          items:
            type: string
        operator:
          type: string
          enum:
          - OR
    DataV2:
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/RequestAttributesV2'
    SortOptions:
      type: string
      enum:
      - Name
      - Country
      - Title
      - Subsidiary
      - PercentMatch
    SpecialInterest:
      type: object
      description: Filter to include or exclude codes from SpecialInterestCategories list
      properties:
        codes:
          type: array
          example:
          - '1001'
          - '1002'
          items:
            type: string
        exclude_codes:
          type: array
          example: []
          items:
            type: string
        is_all_excluded:
          type: boolean
          default: false
        operator:
          $ref: '#/components/schemas/Operator'
    AttributesResponseV25:
      type: object
      properties:
        type:
          type: string
        primary_name:
          type: string
        title:
          type: string
        country_territory_code:
          type: string
        country_territory_name:
          type: string
        gender:
          type: string
        is_subsidiary:
          type: boolean
          default: false
        score:
          type: string
        countries_territories:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/CountryResponse'
            - $ref: '#/components/schemas/CountryResponseIso'
        date_of_birth:
          type: array
          items:
            $ref: '#/components/schemas/DateObjectV25'
        matched_criteria:
          $ref: '#/components/schemas/MatchedCriteriaV25'
        icon_hints:
          type: array
          items:
            $ref: '#/components/schemas/IconHintVo'
        filter_source:
          type: string
    SanctionsListV22:
      type: object
      description: Filter to include or exclude codes from SanctionLists (SAN)
      properties:
        codes:
          type: array
          example:
          - AE-CAE
          - AR-MOJDH
          items:
            type: string
        exclude_codes:
          type: array
          example: []
          items:
            type: string
        is_all_excluded:
          type: boolean
          default: false
        is_san_active:
          type: boolean
          default: null
        operator:
          $ref: '#/components/schemas/Operator'
    FiltersV2:
      type: object
      properties:
        search_keyword:
          $ref: '#/components/schemas/SearchKeyword'
        country_territory:
          $ref: '#/components/schemas/CountryRequestV1'
        identification:
          $ref: '#/components/schemas/Identification'
        entity_name:
          $ref: '#/components/schemas/EntityName'
        date_of_birth:
          $ref: '#/components/schemas/DateOfBirth'
        person_name:
          $ref: '#/components/schemas/PersonName'
        record_types:
          type: array
          items:
            type: string
            enum:
            - Person
            - Entity
        content_set:
          type: array
          example:
          - Watchlist
          - Locations
          - StateOwnedCompanies
          - AntiCorruption
          - AdverseMedia
          items:
            type: string
            enum:
            - Watchlist
            - AdverseMedia
            - StateOwnedCompanies
            - AntiCorruption
            - HighRiskFactors
            - Locations
            - TradeCompliance
    FiltersListsV24:
      type: object
      properties:
        sanctions_list:
          $ref: '#/components/schemas/SanctionsListV24'
        content_category:
          $ref: '#/components/schemas/ContentCategoryV24'
        other_official_list:
          $ref: '#/components/schemas/OtherOfficialListV24'
        other_exclusion_list:
          $ref: '#/components/schemas/OtherExclusionListV24'
        state_ownership:
          $ref: '#/components/schemas/StateOwnershipV22'
        occupation_category:
          $ref: '#/components/schemas/OccupationCategoryV24'
        hrf_category:
          $ref: '#/components/schemas/HrfCategoryV24'
    DataV22:
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/RequestAttributesV22'
    DateWithStrict:
      type: object
      properties:
        month:
          type: string
          example: '1'
        year:
          type: string
          example: '2020'
        is_strict_match:
          type: boolean
          default: false
        day:
          type: string
          example: '1'
    AdverseMedia:
      type: object
      description: Filter to include or exclude codes from AdverseMediaCategories list
      properties:
        codes:
          type: array
          example:
          - '33'
          - '34'
          items:
            type: string
        exclude_codes:
          type: array
          example: []
          items:
            type: string
        is_all_excluded:
          type: boolean
          default: false
        operator:
          $ref: '#/components/schemas/Operator'
    ScreeningRequestV2:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/DataV2'
    DatumV26:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
        attributes:
          $ref: '#/components/schemas/AttributesResponseV26'
    RequestAttributesV23:
      type: object
      properties:
        filter_group_and:
          $ref: '#/components/schemas/FilterGroupAndV22'
        filter_group_or:
          $ref: '#/components/schemas/FilterGroupOrV22'
        paging:
          $ref: '#/components/schemas/Paging'
        screening_context:
          type: string
          example: ''
        sort:
          $ref: '#/components/schemas/SortOptions'
        is_audit:
          type: boolean
        is_private_lists:
          type: boolean
      description: Request's Attributes class
    CountryResponseIso:
      type: object
      properties:
        iso_alpha2:
          type: string
          example: CZ
        iso_alpha3:
          type: string
          example: CZE
        code:
          type: string
          example: CZREP
        type:
          type: string
          example: Citizenship
    SanctionsList:
      type: object
      description: Filter to include or exclude codes from SanctionLists (SAN)
      properties:
        codes:
          type: array
          example:
          - AE-CAE
          - AR-MOJDH
          items:
            type: string
        exclude_codes:
          type: array
          example: []
          items:
            type: string
        is_all_excluded:
          type: boolean
          default: false
        operator:
          $ref: '#/components/schemas/Operator'
    ScreeningRequestV25:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/DataV25'
    LocationV24:
      type: object
      description: Filter to include or exclude codes from Locations list
      properties:
        codes:
          type: array
          example:
          - '121'
          items:
            type: string
        exclude_codes:
          type: array
          example: []
          items:
            type: string
        without_codes:
          type: array
          example:
          - BRAZ
          items:
            type: string
        is_all_excluded:
          type: boolean
          default: false
        operator:
          $ref: '#/components/schemas/Operator'
    DatePepInactiveGte:
      type: object
      properties:
        month:
          type: string
          example: '01'
        year:
          type: string
          example: '2020'
        day:
          type: string
          example: '01'
    OtherExclusionListV22:
      type: object
      description: Filter to include or exclude codes from OtherExclusionLists (OEL)
      properties:
        codes:
          type: array
          example:
          - AFDB
          - BR-CGU
          items:
            type: string
        exclude_codes:
          type: array
          example: []
          items:
            type: string
        is_all_excluded:
          type: boolean
          default: false
        is_oel_active:
          type: boolean
          default: null
        operator:
          $ref: '#/components/schemas/Operator'
    FilterGroupOrV24:
      type: object
      properties:
        group_operator:
          type: string
          enum:
          - OR
        filters:
          $ref: '#/components/schemas/FiltersListsV24'
    EntityName:
      type: object
      properties:
        full_name:
          type: string
        search_type:
          type: string
          enum:
          - Precise
          - Near
          - Broad
    PepInactiveDateGte:
      type: object
      properties:
        date:
          $ref: '#/components/schemas/DatePepInactiveGte'
    ContentCategoryV26:
      type: object
      properties:
        special_interest:
          $ref: '#/components/schemas/SpecialInterestV26'
        adverse_media:
          $ref: '#/components/schemas/AdverseMediaV26'
        location:
          $ref: '#/components/schemas/LocationV26'
        military_end_use:
          $ref: '#/components/schemas/MilitaryEndUseV26'
        trade_restricted_associated_entity:
          $ref: '#/components/schemas/TradeRestrictedAssociatedEntityV26'
    LastReviewDateV26:
      type: object
      properties:
        from:
          $ref: '#/components/schemas/DateObjectV26'
        to:
          $ref: '#/components/schemas/DateObjectV26'
    DatumV23:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
        attributes:
          $ref: '#/components/schemas/AttributesResponseV23'
    MatchedCriteriaV26:
      type: object
      properties:
        date_of_birth:
          $ref: '#/components/schemas/DateObjectV26'
        name:
          $ref: '#/components/schemas/MatchedNameVo'
        type:
          $ref: '#/components/schemas/MatchedType'
    ScreeningResponseV24:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/DatumV24'
        meta:
          $ref: '#/components/schemas/MetaAudit'
    HrfCategoryV24:
      type: object
      description: Filter to include or exclude codes from HighRiskFactor list
      properties:
        codes:
          type: array
          example:
          - '1011'
          items:
            type: string
        exclude_codes:
          type: array
          example: []
          items:
            type: string
        without_codes:
          type: array
          example:
          - BRAZ
          items:
            type: string
        is_all_excluded:
          type: boolean
          default: false
        is_hrf_active:
          type: boolean
          default: null
        operator:
          $ref: '#/components/schemas/Operator'
    SanctionsListV25:
      type: object
      properties:
        codes:
          type: array
          items:
            type: string
        exclude_codes:
          type: array
          items:
            type: string
        without_codes:
          type: array
          items:
            type: string
        is_all_excluded:
          type: boolean
        last_review_date:
          $ref: '#/components/schemas/LastReviewDateV25'
        is_san_active:
          type: boolean
        operator:
          type: string
    FilterGroupOrV26:
      type: object
      properties:
        group_operator:
          type: string
          enum:
          - OR
        filters:
          $ref: '#/components/schemas/FiltersListsV26'
    MetaAudit:
      type: object
      properties:
        count:
          type: number
          example: 13
        first:
          type: number
          example: 0
        last:
          type: number
          example: 0
        total_count:
          type: number
          example: 13
        screening_context:
          type: string
        is_audit:
          type: boolean
    OtherOfficialListV26:
      type: object
      description: Filter to include or exclude codes from OtherOfficialLists (OOL)
      properties:
        codes:
          type: array
          example:
          - ADB
          - AE-DFSA
          items:
            type: string
        exclude_codes:
          type: array
          example: []
          items:
            type: string
        without_codes:
          type: array
          example:
          - BRAZ
          items:
            type: string
        is_all_excluded:
          type: boolean
          default: false
        last_review_date:
          $ref: '#/components/schemas/LastReviewDate'
        is_ool_active:
          type: boolean
          default: null
        operator:
          type: string
    RequestAttributesV24:
      type: object
      properties:
        filter_group_and:
          $ref: '#/components/schemas/FilterGroupAndV24'
        filter_group_or:
          $ref: '#/components/schemas/FilterGroupOrV24'
        paging:
          $ref: '#/components/schemas/Paging'
        screening_context:
          type: string
          example: ''
        sort:
          $ref: '#/components/schemas/SortOptions'
        is_audit:
          type: boolean
        is_private_lists:
          type: boolean
      description: Request's Attributes class
    CountryRequestV1:
      type: object
      properties:
        country_territory_types:
          $ref: '#/components/schemas/CountryTerritoryTypes'
        countries_territories:
          $ref: '#/components/schemas/Countries'
    FilterGroupOrV22:
      type: object
      properties:
        group_operator:
          type: string
          enum:
          - OR
        filters:
          $ref: '#/components/schemas/FiltersListsV22'
    AttributesResponseV23:
      type: object
      properties:
        type:
          type: string
        primary_name:
          type: string
        title:
          type: string
        country_territory_code:
          type: string
        country_territory_name:
          type: string
        gender:
          type: string
        is_subsidiary:
          type: boolean
          default: false
        score:
          type: string
        matched_criteria:
          $ref: '#/components/schemas/MatchedCriteria'
        date_of_birth:
          type: array
          items:
            $ref: '#/components/schemas/DateObject'
        icon_hints:
          type: array
          items:
            $ref: '#/components/schemas/IconHintVo'
        countries_territories:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/CountryResponse'
            - $ref: '#/components/schemas/CountryResponseIso'
        filter_source:
          type: string
    MilitaryEndUseV24:
      type: object
      description: Filter to include or exclude codes from MilitaryEndUseCategories list
      properties:
        codes:
          type: array
          example:
          - '1054'
          items:
            type: string
        exclude_codes:
          type: array
          example: []
          items:
            type: string
        without_codes:
          type: array
          example:
          - BRAZ
          items:
            type: string
        is_all_excluded:
          type: boolean
          default: false
        is_meu_active:
          type: boolean
        operator:
          $ref: '#/components/schemas/Operator'
    SearchKeyword:
      type: object
      properties:
        scope:
          type: array
          items:
            type: string
            enum:
            - Name
            - ProfileNotes
            - OccupationTitle
        type:
          type: string
          enum:
          - Precise
          - Near
          - Broad
        text:
          type: string
    DataV24:
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/RequestAttributesV24'
    MatchedCriteriaV25:
      type: object
      properties:
        date_of_birth:
          $ref: '#/components/schemas/DateObjectV25'
        name:
          $ref: '#/components/schemas/MatchedNameVo'
        type:
          $ref: '#/components/schemas/MatchedType'
    ScreeningRequestV22:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/DataV22'
    ContentCategory:
      type: object
      properties:
        special_interest:
          $ref: '#/components/schemas/SpecialInterest'
        adverse_media:
          $ref: '#/components/schemas/AdverseMedia'
        location:
          $ref: '#/components/schemas/Location'
    SpecialInterestV25:
      type: object
      description: Filter to include or exclude codes from SpecialInterestCategories list
      properties:
        codes:
          type: array
          example:
          - '1001'
          - '1002'
          items:
            type: string
        exclude_codes:
          type: array
          example: []
          items:
            type: string
        without_codes:
          type: array
          example:
          - BRAZ
          items:
            type: string
        is_all_excluded:
          type: boolean
          default: false
        last_review_date:
          $ref: '#/components/schemas/LastReviewDateV25'
        is_sor_active:
          type: boolean
          default: null
        is_ecr_active:
          type: boolean
          default: null
        operator:
          type: string
    ScreeningResponseV2:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/DatumV20'
        meta:
          $ref: '#/components/schemas/MetaAudit'
    OtherExclusionList:
      type: object
      description: Filter to include or exclude codes from OtherExclusionLists (OEL)
      properties:
        codes:
          type: array
          example:
          - AFDB
          - BR-CGU
          items:
            type: string
        exclude_codes:
          type: array
          example: []
          items:
            type: string
        is_all_excluded:
          type: boolean
          default: false
        operator:
          $ref: '#/components/schemas/Operator'
  examples:
    NameSearchWithAuditExampleV24:
      value:
        data:
          attributes:
            is_audit: true
            is_private_lists: true
            filter_group_and:
              group_operator: AND
              filters:
                search_keyword:
                  scope:
                  - Name
                  type: Precise
                  text: keyword to search
                country_territory:
                  country_territory_types:
                    country_territory_types:
                    - '3'
                    operator: AND
                  countries_territories:
                    codes:
                    - USA
                    - GFR
                    exclude_codes: []
                    operator: OR
                date_of_birth:
                  date:
                    month: '1'
                    year: '2020'
                    is_strict_match: false
                    day: '1'
                  year_range:
                    from: '1'
                    to: '1'
                  is_deceased_excluded: false
                record_types:
                - Person
                content_set:
                - Watchlist
                - Locations
                - StateOwnedCompanies
                - AntiCorruption
                - AdverseMedia
                - MilitaryEndUse
                gender:
                - male
                - female
                - unknown
            filter_group_or:
              group_operator: OR
              filters:
                sanctions_list:
                  codes:
                  - AE-CAE
                  - AR-MOJDH
                  exclude_codes: []
                  is_all_excluded: false
                  is_san_active: true
                  operator: AND
                content_category:
                  special_interest:
                    codes:
                    - '1001'
                    - '1002'
                    exclude_codes: []
                    is_all_excluded: false
                    is_sor_active: true
                    is_ecr_active: true
                    operator: AND
                  adverse_media:
                    codes:
                    - '33'
                    - '34'
                    exclude_codes: []
                    is_all_excluded: false
                    operator: AND
                  location:
                    codes:
                    - '121'
                    exclude_codes: []
                    is_all_excluded: false
                    operator: AND
                  military_end_use:
                    codes:
                    - '1054'
                    exclude_codes: []
                    is_all_excluded: false
                    operator: AND
                other_official_list:
                  codes:
                  - ADB
                  - AE-DFSA
                  exclude_codes: []
                  is_all_excluded: false
                  is_ool_active: true
                  operator: AND
                other_exclusion_list:
                  codes:
                  - AFDB
                  - BR-CGU
                  exclude_codes: []
                  is_all_excluded: false
                  is_oel_active: true
                  operator: AND
                state_ownership:
                  code: '5'
                  is_unknown_excluded: false
                  is_all_excluded: false
                  is_soc_active: true
                occupation_category:
                  codes:
                  - '18'
                  - '6'
                  exclude_codes: []
                  is_all_excluded: false
                  is_pep_active: true
                  pep_inactive_date_gte:
                    date:
                      month: '01'
                      year: '2020'
                      day: '01'
                  operator: AND
                hrf_category:
                  codes:
                  - '1011'
                  exclude_codes: []
                  is_all_excluded: false
                  is_hrf_active: true
                  operator: AND
            paging:
              offset: 0
              limit: 10
            sort: PercentMatch
    NameSearchWithAuditExampleV25:
      value:
        data:
          attributes:
            is_audit: true
            is_private_lists: true
            filter_group_and:
              group_operator: AND
              filters:
                search_keyword:
                  scope:
                  - Name
                  type: Precise
                  text: keyword to search
                country_territory:
                  country_territory_types:
                    country_territory_types:
                    - '3'
                    operator: AND
                  countries_territories:
                    codes:
                    - USA
                    - GFR
                    exclude_codes: []
                    operator: OR
                date_of_birth:
                  date:
                    month: '1'
                    year: '2020'
                    is_strict_match: false
                    day: '1'
                  year_range:
                    from: '1'
                    to: '1'
                  is_deceased_excluded: false
                record_types:
                - Person
                content_set:
                - Watchlist
                - Locations
                - StateOwnedCompanies
                - AntiCorruption
                - AdverseMedia
                - MilitaryEndUse
                last_review_date:
                  from:
                    month: '1'
                    year: '2020'
                    day: '1'
                  to:
                    month: '1'
                    year: '2020'
                    day: '1'
                gender:
                - male
                - female
                - unknown
            filter_group_or:
              group_operator: OR
              filters:
                sanctions_list:
                  codes:
                  - AE-CAE
                  - AR-MOJDH
                  exclude_codes: []
                  is_all_excluded: false
                  is_san_active: true
                  operator: AND
                content_category:
                  special_interest:
                    codes:
                    - '1001'
                    - '1002'
                    exclude_codes: []
                    is_all_excluded: false
                    is_sor_active: true
                    is_ecr_active: true
                    operator: AND
                  adverse_media:
                    codes:
                    - '33'
                    - '34'
                    exclude_codes: []
                    is_all_excluded: false
                    operator: AND
                  location:
                    codes:
                    - '121'
                    exclude_codes: []
                    is_all_excluded: false
                    operator: AND
                  military_end_use:
                    codes:
                    - '1054'
                    exclude_codes: []
                    is_all_excluded: false
                    operator: AND
                other_official_list:
                  codes:
                  - ADB
                  - AE-DFSA
                  exclude_codes: []
                  is_all_excluded: false
                  is_ool_active: true
                  operator: AND
                other_exclusion_list:
                  codes:
                  - AFDB
                  - BR-CGU
                  exclude_codes: []
                  is_all_excluded: false
                  is_oel_active: true
                  operator: AND
                state_ownership:
                  code: '5'
                  is_unknown_excluded: false
                  is_all_excluded: false
                  is_soc_active: true
                occupation_category:
                  codes:
                  - '18'
                  - '6'
                  exclude_codes: []
                  is_all_excluded: false
                  is_pep_active: true
                  pep_inactive_date_gte:
                    date:
                      month: '01'
                      year: '2020'
                      day: '01'
                  operator: AND
                hrf_category:
                  codes:
                  - '1011'
                  exclude_codes: []
                  is_all_excluded: false
                  is_hrf_active: true
                  operator: AND
            paging:
              offset: 0
              limit: 10
            sort: PercentMatch
    NameSearchExampleV25:
      value:
        data:
          attributes:
            filter_group_and:
              group_operator: AND
              filters:
                search_keyword:
                  scope:
                  - Name
                  type: Precise
                  text: keyword to search
                country_territory:
                  country_territory_types:
                    country_territory_types:
                    - '3'
                    operator: AND
                  countries_territories:
                    codes:
                    - USA
                    - GFR
                    exclude_codes: []
                    operator: OR
                date_of_birth:
                  date:
                    month: '1'
                    year: '2020'
                    is_strict_match: false
                    day: '1'
                  year_range:
                    from: '1'
                    to: '1'
                  is_deceased_excluded: false
                record_types:
                - Person
                content_set:
                - Watchlist
                - Locations
                - StateOwnedCompanies
                - AntiCorruption
                - AdverseMedia
                - MilitaryEndUse
                last_review_date:
                  from:
                    month: '1'
                    year: '2020'
                    day: '1'
                  to:
                    month: '1'
                    year: '2020'
                    day: '1'
                gender:
                - male
                - female
                - unknown
            filter_group_or:
              group_operator: OR
              filters:
                sanctions_list:
                  codes:
                  - AE-CAE
                  - AR-MOJDH
                  exclude_codes: []
                  is_all_excluded: false
                  is_san_active: true
                  operator: AND
                content_category:
                  special_interest:
                    codes:
                    - '1001'
                    - '1002'
                    exclude_codes: []
                    is_all_excluded: false
                    is_sor_active: true
                    is_ecr_active: true
                    operator: AND
                  adverse_media:
                    codes:
                    - '33'
                    - '34'
                    exclude_codes: []
                    is_all_excluded: false
                    operator: AND
                  location:
                    codes:
                    - '121'
                    exclude_codes: []
                    is_all_excluded: false
                    operator: AND
                  military_end_use:
                    codes:
                    - '1054'
                    exclude_codes: []
                    is_all_excluded: false
                    operator: AND
                other_official_list:
                  codes:
                  - ADB
                  - AE-DFSA
                  exclude_codes: []
                  is_all_excluded: false
                  is_ool_active: true
                  operator: AND
                other_exclusion_list:
                  codes:
                  - AFDB
                  - BR-CGU
                  exclude_codes: []
                  is_all_excluded: false
                  is_oel_active: true
                  operator: AND
                state_ownership:
                  code: '5'
                  is_unknown_excluded: false
                  is_all_excluded: false
                  is_soc_active: true
                occupation_category:
                  codes:
                  - '18'
                  - '6'
                  exclude_codes: []
                  is_all_excluded: false
                  is_pep_active: true
                  pep_inactive_date_gte:
                    date:
                      month: '01'
                      year: '2020'
                      day: '01'
                  operator: AND
                hrf_category:
                  codes:
                  - '1011'
                  exclude_codes: []
                  is_all_excluded: false
                  is_hrf_active: true
                  operator: AND
            paging:
              offset: 0
              limit: 10
            sort: PercentMatch
            is_private_lists: true
    NameSearchExampleV24:
      value:
        data:
          attributes:
            filter_group_and:
              group_operator: AND
              filters:
                search_keyword:
                  scope:
                  - Name
                  type: Precise
                  text: keyword to search
                country_territory:
                  country_territory_types:
                    country_territory_types:
                    - '3'
                    operator: AND
                  countries_territories:
                    codes:
                    - USA
                    - GFR
                    exclude_codes: []
                    operator: OR
                date_of_birth:
                  date:
                    month: '1'
                    year: '2020'
                    is_strict_match: false
                    day: '1'
                  year_range:
                    from: '1'
                    to: '1'
                  is_deceased_excluded: false
                record_types:
                - Person
                content_set:
                - Watchlist
                - Locations
                - StateOwnedCompanies
                - AntiCorruption
                - AdverseMedia
                - MilitaryEndUse
                gender:
                - male
                - female
                - unknown
            filter_group_or:
              group_operator: OR
              filters:
                sanctions_list:
                  codes:
                  - AE-CAE
                  - AR-MOJDH
                  exclude_codes: []
                  is_all_excluded: false
                  is_san_active: true
                  operator: AND
                content_category:
                  special_interest:
                    codes:
                    - '1001'
                    - '1002'
                    exclude_codes: []
                    is_all_excluded: false
                    is_sor_active: true
                    is_ecr_active: true
                    operator: AND
                  adverse_media:
                    codes:
                    - '33'
                    - '34'
                    exclude_codes: []
                    is_all_excluded: false
                    operator: AND
                  location:
                    codes:
                    - '121'
                    exclude_codes: []
                    is_all_excluded: false
                    operator: AND
                  military_end_use:
                    codes:
                    - '1054'
                    exclude_codes: []
                    is_all_excluded: false
                    operator: AND
                other_official_list:
                  codes:
                  - ADB
                  - AE-DFSA
                  exclude_codes: []
                  is_all_excluded: false
                  is_ool_active: true
                  operator: AND
                other_exclusion_list:
                  codes:
                  - AFDB
                  - BR-CGU
                  exclude_codes: []
                  is_all_excluded: false
                  is_oel_active: true
                  operator: AND
                state_ownership:
                  code: '5'
                  is_unknown_excluded: false
                  is_all_excluded: false
                  is_soc_active: true
                occupation_category:
                  codes:
                  - '18'
                  - '6'
                  exclude_codes: []
                  is_all_excluded: false
                  is_pep_active: true
                  pep_inactive_date_gte:
                    date:
                      month: '01'
                      year: '2020'
                      day: '01'
                  operator: AND
                hrf_category:
                  codes:
                  - '1011'
                  exclude_codes: []
                  is_all_excluded: false
                  is_hrf_active: true
                  operator: AND
            paging:
              offset: 0
              limit: 10
            sort: PercentMatch
            is_private_lists: true
    NameSearchWithAuditExample:
      value:
        data:
          attributes:
            is_audit: true
            filter_group_and:
              group_operator: AND
              filters:
                search_keyword:
                  scope:
                  - Name
                  type: Precise
                  text: keyword to search
                country_territory:
                  country_territory_types:
                    country_territory_types:
                    - '3'
                    operator: AND
                  countries_territories:
                    codes:
                    - USA
                    - GFR
                    exclude_codes: []
                    operator: OR
                date_of_birth:
                  date:
                    month: '1'
                    year: '2020'
                    is_strict_match: false
                    day: '1'
                  year_range:
                    from: '1'
                    to: '1'
                  is_deceased_excluded: false
                record_types:
                - Person
                content_set:
                - Watchlist
                - Locations
                - StateOwnedCompanies
                - AntiCorruption
                - AdverseMedia
            filter_group_or:
              group_operator: OR
              filters:
                sanctions_list:
                  codes:
                  - AE-CAE
                  - AR-MOJDH
                  exclude_codes: []
                  is_all_excluded: false
                  operator: AND
                content_category:
                  special_interest:
                    codes:
                    - '1001'
                    - '1002'
                    exclude_codes: []
                    is_all_excluded: false
                    operator: AND
                  adverse_media:
                    codes:
                    - '33'
                    - '34'
                    exclude_codes: []
                    is_all_excluded: false
                    operator: AND
                  location:
                    codes:
                    - '121'
                    exclude_codes: []
                    is_all_excluded: false
                    operator: AND
                other_official_list:
                  codes:
                  - ADB
                  - AE-DFSA
                  exclude_codes: []
                  is_all_excluded: false
                  operator: AND
                other_exclusion_list:
                  codes:
                  - AFDB
                  - BR-CGU
                  exclude_codes: []
                  is_all_excluded: false
                  operator: AND
                state_ownership:
                  code: '5'
                  is_unknown_excluded: false
                  is_all_excluded: false
                occupation_category:
                  codes:
                  - '18'
                  - '6'
                  exclude_codes: []
                  is_all_excluded: false
                  operator: AND
                hrf_category:
                  codes:
                  - '1011'
                  exclude_codes: []
                  is_all_excluded: false
                  operator: AND
            paging:
              offset: 0
              limit: 10
            sort: PercentMatch
    EntityNameExampleV25:
      value:
        data:
          attributes:
            filter_group_and:
              group_operator: AND
              filters:
                entity_name:
                  full_name: Acme
                  search_type: Broad
                country_territory:
                  country_territory_types:
                    country_territory_types:
                    - '3'
                    operator: AND
                  countries_territories:
                    codes:
                    - USA
                    - GFR
                    exclude_codes: []
                    operator: OR
                date_of_birth:
                  date:
                    month: '1'
                    year: '2020'
                    is_strict_match: false
                    day: '1'
                  year_range:
                    from: '1'
                    to: '1'
                  is_deceased_excluded: false
                record_types:
                - Person
                content_set:
                - Watchlist
                - Locations
                - StateOwnedCompanies
                - AntiCorruption
                - AdverseMedia
                - MilitaryEndUse
                last_review_date:
                  from:
                    month: '1'
                    year: '2020'
                    day: '1'
                  to:
                    month: '1'
                    year: '2025'
                    day: '1'
            filter_group_or:
              group_operator: OR
              filters:
                sanctions_list:
                  codes:
                  - AE-CAE
                  - AR-MOJDH
                  exclude_codes: []
                  is_all_excluded: false
                  is_san_active: true
                  operator: AND
                content_category:
                  special_interest:
                    codes:
                    - '1001'
                    - '1002'
                    exclude_codes: []
                    is_all_excluded: false
                    is_sor_active: true
                    is_ecr_active: true
                    operator: AND
                  adverse_media:
                    codes:
                    - '33'
                    - '34'
                    exclude_codes: []
                    is_all_excluded: false
                    operator: AND
                  location:
                    codes:
                    - '121'
                    exclude_codes: []
                    is_all_excluded: false
                    operator: AND
                  military_end_use:
                    codes:
                    - '1054'
                    exclude_codes: []
                    is_all_excluded: false
                    operator: AND
                other_official_list:
                  codes:
                  - ADB
                  - AE-DFSA
                  exclude_codes: []
                  is_all_excluded: false
                  is_ool_active: true
                  operator: AND
                other_exclusion_list:
                  codes:
                  - AFDB
                  - BR-CGU
                  exclude_codes: []
                  is_all_excluded: false
                  is_oel_active: true
                  operator: AND
                state_ownership:
                  code: '5'
                  is_unknown_excluded: false
                  is_all_excluded: false
                  is_soc_active: true
                occupation_category:
                  codes:
                  - '18'
                  - '6'
                  exclude_codes: []
                  is_all_excluded: false
                  is_pep_active: true
                  operator: AND
                hrf_category:
                  codes:
                  - '1011'
                  exclude_codes: []
                  is_all_excluded: false
                  is_hrf_active: true
                  operator: AND
            paging:
              offset: 0
              limit: 10
            is_private_lists: true
            sort: PercentMatch
    EntityNameExampleV26:
      value:
        data:
          attributes:
            filter_group_and:
              group_operator: AND
              filters:
                entity_name:
                  full_name: Acme
                  search_type: Broad
                country_territory:
                  country_territory_types:
                    country_territory_types:
                    - '3'
                    operator: AND
                  countries_territories:
                    codes:
                    - USA
                    - GFR
                    exclude_codes: []
                    operator: OR
                date_of_birth:
                  date:
                    month: '1'
                    year: '2020'
                    is_strict_match: false
                    day: '1'
                  year_range:
                    from: '1'
                    to: '1'
                  is_deceased_excluded: false
                record_types:
                - Person
                content_set:
                - Watchlist
                - Locations
                - StateOwnedCompanies
                - AntiCorruption
                - AdverseMedia
                - MilitaryEndUse
                - TradeRestrictedAssociatedEntity
                last_review_date:
                  from:
                    month: '1'
                    year: '2020'
                    day: '1'
                  to:
                    month: '1'
                    year: '2025'
                    day: '1'
            filter_group_or:
              group_operator: OR
              filters:
                sanctions_list:
                  codes:
                  - AE-CAE
                  - AR-MOJDH
                  exclude_codes: []
                  is_all_excluded: false
                  is_san_active: true
                  operator: AND
                content_category:
                  special_interest:
                    codes:
                    - '1001'
                    - '1002'
                    exclude_codes: []
                    is_all_excluded: false
                    is_sor_active: true
                    is_ecr_active: true
                    operator: AND
                  adverse_media:
                    codes:
                    - '33'
                    - '34'
                    exclude_codes: []
[...]
