{
  "openapi": "3.0.0",
  "info": {
    "description": "Risk and Compliance APIs",
    "version": "v2",
    "title": "Risk and Compliance APIs",
    "contact": {
      "name": "Dow Jones"
    },
    "license": {
      "name": "Dow Jones"
    }
  },
  "servers": [
    {
      "url": "https://api.dowjones.com"
    },
    {
      "url": "https://eu.api.dowjones.com"
    }
  ],
  "paths": {
    "/riskentities/search": {
      "post": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Risk and Compliance search"
        ],
        "summary": "Screening of Risk and Compliance",
        "description": "Returns Screening of Risk and Compliance",
        "operationId": "searchRandC",
        "parameters": [
          {
            "$ref": "#/components/parameters/control_data"
          },
          {
            "$ref": "#/components/parameters/djip-UserCredentialData"
          },
          {
            "$ref": "#/components/parameters/djip-SessionID"
          },
          {
            "$ref": "#/components/parameters/djip-AuthorizationData"
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.dowjones.dna.riskentities.v_2.0+json": {
              "schema": {
                "$ref": "#/components/schemas/ScreeningRequestV2"
              },
              "examples": {
                "NameSearchWithAuditExample": {
                  "$ref": "#/components/examples/NameSearchWithAuditExample"
                },
                "NameSearchExample": {
                  "$ref": "#/components/examples/NameSearchExample"
                },
                "PersonNameExample": {
                  "$ref": "#/components/examples/PersonNameExample"
                },
                "EntityNameExample": {
                  "$ref": "#/components/examples/EntityNameExample"
                },
                "IDTypeSearchExample": {
                  "$ref": "#/components/examples/IDTypeSearchExample"
                }
              }
            },
            "application/vnd.dowjones.dna.riskentities.v_2.1+json": {
              "schema": {
                "$ref": "#/components/schemas/ScreeningRequestV2"
              },
              "examples": {
                "NameSearchWithAuditExample": {
                  "$ref": "#/components/examples/NameSearchWithAuditExample"
                },
                "NameSearchExample": {
                  "$ref": "#/components/examples/NameSearchExample"
                },
                "PersonNameExample": {
                  "$ref": "#/components/examples/PersonNameExample"
                },
                "EntityNameExample": {
                  "$ref": "#/components/examples/EntityNameExample"
                },
                "IDTypeSearchExample": {
                  "$ref": "#/components/examples/IDTypeSearchExample"
                }
              }
            },
            "application/vnd.dowjones.dna.riskentities.v_2.2+json": {
              "schema": {
                "$ref": "#/components/schemas/ScreeningRequestV22"
              },
              "examples": {
                "NameSearchWithAuditExample": {
                  "$ref": "#/components/examples/NameSearchWithAuditExampleV22"
                },
                "NameSearchExample": {
                  "$ref": "#/components/examples/NameSearchExampleV22"
                },
                "PersonNameExample": {
                  "$ref": "#/components/examples/PersonNameExampleV22"
                },
                "EntityNameExample": {
                  "$ref": "#/components/examples/EntityNameExampleV22"
                },
                "IDTypeSearchExample": {
                  "$ref": "#/components/examples/IDTypeSearchExample"
                }
              }
            },
            "application/vnd.dowjones.dna.riskentities.v_2.3+json": {
              "schema": {
                "$ref": "#/components/schemas/ScreeningRequestV23"
              },
              "examples": {
                "NameSearchWithAuditExample": {
                  "$ref": "#/components/examples/NameSearchWithAuditExampleV23"
                },
                "NameSearchExample": {
                  "$ref": "#/components/examples/NameSearchExampleV23"
                },
                "PersonNameExample": {
                  "$ref": "#/components/examples/PersonNameExampleV23"
                },
                "EntityNameExample": {
                  "$ref": "#/components/examples/EntityNameExampleV23"
                },
                "IDTypeSearchExample": {
                  "$ref": "#/components/examples/IDTypeSearchExample"
                }
              }
            },
            "application/vnd.dowjones.dna.riskentities.v_2.4+json": {
              "schema": {
                "$ref": "#/components/schemas/ScreeningRequestV24"
              },
              "examples": {
                "NameSearchWithAuditExample": {
                  "$ref": "#/components/examples/NameSearchWithAuditExampleV24"
                },
                "NameSearchExample": {
                  "$ref": "#/components/examples/NameSearchExampleV24"
                },
                "PersonNameExample": {
                  "$ref": "#/components/examples/PersonNameExampleV24"
                },
                "EntityNameExample": {
                  "$ref": "#/components/examples/EntityNameExampleV24"
                },
                "IDTypeSearchExample": {
                  "$ref": "#/components/examples/IDTypeSearchExample"
                }
              }
            },
            "application/vnd.dowjones.dna.riskentities.v_2.5+json": {
              "schema": {
                "$ref": "#/components/schemas/ScreeningRequestV25"
              },
              "examples": {
                "NameSearchWithAuditExample": {
                  "$ref": "#/components/examples/NameSearchWithAuditExampleV25"
                },
                "NameSearchExample": {
                  "$ref": "#/components/examples/NameSearchExampleV25"
                },
                "PersonNameExample": {
                  "$ref": "#/components/examples/PersonNameExampleV25"
                },
                "EntityNameExample": {
                  "$ref": "#/components/examples/EntityNameExampleV25"
                },
                "IDTypeSearchExample": {
                  "$ref": "#/components/examples/IDTypeSearchExample"
                }
              }
            },
            "application/vnd.dowjones.dna.riskentities.v_2.6+json": {
              "schema": {
                "$ref": "#/components/schemas/ScreeningRequestV26"
              },
              "examples": {
                "NameSearchWithAuditExample": {
                  "$ref": "#/components/examples/NameSearchWithAuditExampleV26"
                },
                "NameSearchExample": {
                  "$ref": "#/components/examples/NameSearchExampleV26"
                },
                "PersonNameExample": {
                  "$ref": "#/components/examples/PersonNameExampleV26"
                },
                "EntityNameExample": {
                  "$ref": "#/components/examples/EntityNameExampleV26"
                },
                "IDTypeSearchExample": {
                  "$ref": "#/components/examples/IDTypeSearchExample"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/vnd.dowjones.dna.riskentities.v_2.6+json": {
                "schema": {
                  "$ref": "#/components/schemas/ScreeningResponseV26"
                }
              },
              "application/vnd.dowjones.dna.riskentities.v_2.5+json": {
                "schema": {
                  "$ref": "#/components/schemas/ScreeningResponseV25"
                }
              },
              "application/vnd.dowjones.dna.riskentities.v_2.4+json": {
                "schema": {
                  "$ref": "#/components/schemas/ScreeningResponseV24"
                }
              },
              "application/vnd.dowjones.dna.riskentities.v_2.3+json": {
                "schema": {
                  "$ref": "#/components/schemas/ScreeningResponseV23"
                }
              },
              "application/vnd.dowjones.dna.riskentities.v_2.2+json": {
                "schema": {
                  "$ref": "#/components/schemas/ScreeningResponseV2"
                }
              },
              "application/vnd.dowjones.dna.riskentities.v_2.1+json": {
                "schema": {
                  "$ref": "#/components/schemas/ScreeningResponseV2"
                }
              },
              "application/vnd.dowjones.dna.riskentities.v_2.0+json": {
                "schema": {
                  "$ref": "#/components/schemas/ScreeningResponseV20"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header"
      }
    },
    "parameters": {
      "control_data": {
        "name": "control_data",
        "in": "header",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "djip-UserCredentialData": {
        "name": "djip-UserCredentialData",
        "description": "Credential information for the transaction",
        "in": "header",
        "required": false,
        "schema": {
          "type": "string",
          "default": "{\"userId\":\"EnterUserId\",\"accountId\":\"EnterAccountID\",\"userPassword\":\"EnterPassword\",\"namespace\":\"EnterNameSpace\"}"
        }
      },
      "djip-SessionID": {
        "name": "djip-SessionID",
        "description": "Session ID for the transaction",
        "in": "header",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "djip-AuthorizationData": {
        "name": "djip-AuthorizationData",
        "description": "Authorization Data for the transaction",
        "in": "header",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "accept-language": {
        "name": "accept-language",
        "in": "header",
        "required": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "ScreeningRequestV2": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/DataV2"
          }
        }
      },
      "ScreeningRequestV22": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/DataV22"
          }
        }
      },
      "ScreeningRequestV23": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/DataV23"
          }
        }
      },
      "ScreeningRequestV24": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/DataV24"
          }
        }
      },
      "ScreeningRequestV25": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/DataV25"
          }
        }
      },
      "ScreeningRequestV26": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/DataV26"
          }
        }
      },
      "DataV2": {
        "type": "object",
        "properties": {
          "attributes": {
            "$ref": "#/components/schemas/RequestAttributesV2"
          }
        }
      },
      "DataV22": {
        "type": "object",
        "properties": {
          "attributes": {
            "$ref": "#/components/schemas/RequestAttributesV22"
          }
        }
      },
      "DataV23": {
        "type": "object",
        "properties": {
          "attributes": {
            "$ref": "#/components/schemas/RequestAttributesV23"
          }
        }
      },
      "DataV24": {
        "type": "object",
        "properties": {
          "attributes": {
            "$ref": "#/components/schemas/RequestAttributesV24"
          }
        }
      },
      "DataV25": {
        "type": "object",
        "properties": {
          "attributes": {
            "$ref": "#/components/schemas/RequestAttributesV25"
          }
        }
      },
      "DataV26": {
        "type": "object",
        "properties": {
          "attributes": {
            "$ref": "#/components/schemas/RequestAttributesV26"
          }
        }
      },
      "RequestAttributesV2": {
        "type": "object",
        "properties": {
          "filter_group_and": {
            "$ref": "#/components/schemas/FilterGroupAnd"
          },
          "filter_group_or": {
            "$ref": "#/components/schemas/FilterGroupOr"
          },
          "paging": {
            "$ref": "#/components/schemas/Paging"
          },
          "screening_context": {
            "type": "string",
            "example": ""
          },
          "sort": {
            "$ref": "#/components/schemas/SortOptions"
          },
          "is_audit": {
            "type": "boolean"
          }
        },
        "description": "Request's Attributes class"
      },
      "RequestAttributesV22": {
        "type": "object",
        "properties": {
          "filter_group_and": {
            "$ref": "#/components/schemas/FilterGroupAndV22"
          },
          "filter_group_or": {
            "$ref": "#/components/schemas/FilterGroupOrV22"
          },
          "paging": {
            "$ref": "#/components/schemas/Paging"
          },
          "screening_context": {
            "type": "string",
            "example": ""
          },
          "sort": {
            "$ref": "#/components/schemas/SortOptions"
          },
          "is_audit": {
            "type": "boolean"
          }
        },
        "description": "Request's Attributes class"
      },
      "RequestAttributesV23": {
        "type": "object",
        "properties": {
          "filter_group_and": {
            "$ref": "#/components/schemas/FilterGroupAndV22"
          },
          "filter_group_or": {
            "$ref": "#/components/schemas/FilterGroupOrV22"
          },
          "paging": {
            "$ref": "#/components/schemas/Paging"
          },
          "screening_context": {
            "type": "string",
            "example": ""
          },
          "sort": {
            "$ref": "#/components/schemas/SortOptions"
          },
          "is_audit": {
            "type": "boolean"
          },
          "is_private_lists": {
            "type": "boolean"
          }
        },
        "description": "Request's Attributes class"
      },
      "RequestAttributesV24": {
        "type": "object",
        "properties": {
          "filter_group_and": {
            "$ref": "#/components/schemas/FilterGroupAndV24"
          },
          "filter_group_or": {
            "$ref": "#/components/schemas/FilterGroupOrV24"
          },
          "paging": {
            "$ref": "#/components/schemas/Paging"
          },
          "screening_context": {
            "type": "string",
            "example": ""
          },
          "sort": {
            "$ref": "#/components/schemas/SortOptions"
          },
          "is_audit": {
            "type": "boolean"
          },
          "is_private_lists": {
            "type": "boolean"
          }
        },
        "description": "Request's Attributes class"
      },
      "RequestAttributesV25": {
        "type": "object",
        "properties": {
          "filter_group_and": {
            "$ref": "#/components/schemas/FilterGroupAndV25"
          },
          "filter_group_or": {
            "$ref": "#/components/schemas/FilterGroupOrV25"
          },
          "paging": {
            "$ref": "#/components/schemas/Paging"
          },
          "screening_context": {
            "type": "string",
            "example": ""
          },
          "sort": {
            "$ref": "#/components/schemas/SortOptions"
          },
          "is_audit": {
            "type": "boolean"
          },
          "is_private_lists": {
            "type": "boolean"
          }
        },
        "description": "Request's Attributes class"
      },
      "RequestAttributesV26": {
        "type": "object",
        "properties": {
          "filter_group_and": {
            "$ref": "#/components/schemas/FilterGroupAndV26"
          },
          "filter_group_or": {
            "$ref": "#/components/schemas/FilterGroupOrV26"
          },
          "paging": {
            "$ref": "#/components/schemas/Paging"
          },
          "screening_context": {
            "type": "string",
            "example": ""
          },
          "sort": {
            "$ref": "#/components/schemas/SortOptions"
          },
          "is_audit": {
            "type": "boolean"
          },
          "is_private_lists": {
            "type": "boolean"
          }
        },
        "description": "Request's Attributes class"
      },
      "FilterGroupAnd": {
        "type": "object",
        "properties": {
          "group_operator": {
            "type": "string",
            "enum": [
              "AND"
            ]
          },
          "filters": {
            "$ref": "#/components/schemas/FiltersV2"
          }
        }
      },
      "FilterGroupAndV22": {
        "type": "object",
        "properties": {
          "group_operator": {
            "type": "string",
            "enum": [
              "AND"
            ]
          },
          "filters": {
            "$ref": "#/components/schemas/FiltersV22"
          }
        }
      },
      "FiltersV2": {
        "type": "object",
        "properties": {
          "search_keyword": {
            "$ref": "#/components/schemas/SearchKeyword"
          },
          "country_territory": {
            "$ref": "#/components/schemas/CountryRequestV1"
          },
          "identification": {
            "$ref": "#/components/schemas/Identification"
          },
          "entity_name": {
            "$ref": "#/components/schemas/EntityName"
          },
          "date_of_birth": {
            "$ref": "#/components/schemas/DateOfBirth"
          },
          "person_name": {
            "$ref": "#/components/schemas/PersonName"
          },
          "record_types": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "Person",
                "Entity"
              ]
            }
          },
          "content_set": {
            "type": "array",
            "example": [
              "Watchlist",
              "Locations",
              "StateOwnedCompanies",
              "AntiCorruption",
              "AdverseMedia"
            ],
            "items": {
              "type": "string",
              "enum": [
                "Watchlist",
                "AdverseMedia",
                "StateOwnedCompanies",
                "AntiCorruption",
                "HighRiskFactors",
                "Locations",
                "TradeCompliance"
              ]
            }
          }
        }
      },
      "FiltersV22": {
        "type": "object",
        "properties": {
          "search_keyword": {
            "$ref": "#/components/schemas/SearchKeyword"
          },
          "country_territory": {
            "$ref": "#/components/schemas/CountryRequestV1"
          },
          "identification": {
            "$ref": "#/components/schemas/Identification"
          },
          "entity_name": {
            "$ref": "#/components/schemas/EntityName"
          },
          "date_of_birth": {
            "$ref": "#/components/schemas/DateOfBirth"
          },
          "person_name": {
            "$ref": "#/components/schemas/PersonName"
          },
          "record_types": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "Person",
                "Entity"
              ]
            }
          },
          "content_set": {
            "type": "array",
            "example": [
              "Watchlist",
              "Locations",
              "StateOwnedCompanies",
              "AntiCorruption",
              "AdverseMedia"
            ],
            "items": {
              "type": "string",
              "enum": [
                "Watchlist",
                "AdverseMedia",
                "StateOwnedCompanies",
                "AntiCorruption",
                "HighRiskFactors",
                "Locations",
                "TradeCompliance"
              ]
            }
          },
          "gender": {
            "type": "array",
            "example": [
              "male",
              "female"
            ],
            "items": {
              "type": "string",
              "enum": [
                "male",
                "female",
                "unknown"
              ]
            }
          }
        }
      },
      "FiltersV24": {
        "type": "object",
        "properties": {
          "search_keyword": {
            "$ref": "#/components/schemas/SearchKeywordV2"
          },
          "country_territory": {
            "$ref": "#/components/schemas/CountryRequestV24"
          },
          "identification": {
            "$ref": "#/components/schemas/Identification"
          },
          "entity_name": {
            "$ref": "#/components/schemas/EntityName"
          },
          "date_of_birth": {
            "$ref": "#/components/schemas/DateOfBirth"
          },
          "person_name": {
            "$ref": "#/components/schemas/PersonName"
          },
          "record_types": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "Person",
                "Entity"
              ]
            }
          },
          "content_set": {
            "type": "array",
            "example": [
              "Watchlist",
              "Locations",
              "StateOwnedCompanies",
              "AntiCorruption",
              "AdverseMedia"
            ],
            "items": {
              "type": "string",
              "enum": [
                "Watchlist",
                "AdverseMedia",
                "StateOwnedCompanies",
                "AntiCorruption",
                "HighRiskFactors",
                "Locations",
                "TradeCompliance"
              ]
            }
          }
        }
      },
      "FiltersV25": {
        "type": "object",
        "properties": {
          "search_keyword": {
            "$ref": "#/components/schemas/SearchKeyword"
          },
          "country_territory": {
            "$ref": "#/components/schemas/CountryRequestV24"
          },
          "identification": {
            "$ref": "#/components/schemas/Identification"
          },
          "entity_name": {
            "$ref": "#/components/schemas/EntityName"
          },
          "date_of_birth": {
            "$ref": "#/components/schemas/DateOfBirth"
          },
          "person_name": {
            "$ref": "#/components/schemas/PersonName"
          },
          "last_review_date": {
            "$ref": "#/components/schemas/LastReviewDate"
          },
          "record_types": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "Person",
                "Entity"
              ]
            }
          },
          "content_set": {
            "type": "array",
            "example": [
              "Watchlist",
              "Locations",
              "StateOwnedCompanies",
              "AntiCorruption",
              "AdverseMedia"
            ],
            "items": {
              "type": "string",
              "enum": [
                "Watchlist",
                "AdverseMedia",
                "StateOwnedCompanies",
                "AntiCorruption",
                "HighRiskFactors",
                "Locations",
                "TradeCompliance"
              ]
            }
          }
        }
      },
      "FiltersV26": {
        "type": "object",
        "properties": {
          "search_keyword": {
            "$ref": "#/components/schemas/SearchKeyword"
          },
          "country_territory": {
            "$ref": "#/components/schemas/CountryRequestV26"
          },
          "identification": {
            "$ref": "#/components/schemas/Identification"
          },
          "entity_name": {
            "$ref": "#/components/schemas/EntityName"
          },
          "date_of_birth": {
            "$ref": "#/components/schemas/DateOfBirth"
          },
          "person_name": {
            "$ref": "#/components/schemas/PersonName"
          },
          "last_review_date": {
            "$ref": "#/components/schemas/LastReviewDateV26"
          },
          "record_types": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "Person",
                "Entity"
              ]
            }
          },
          "content_set": {
            "type": "array",
            "example": [
              "Watchlist",
              "Locations",
              "StateOwnedCompanies",
              "AntiCorruption",
              "TradeRestrictedAssociatedEntity"
            ],
            "items": {
              "type": "string",
              "enum": [
                "Watchlist",
                "AdverseMedia",
                "StateOwnedCompanies",
                "AntiCorruption",
                "HighRiskFactors",
                "Locations",
                "TradeCompliance",
                "MilitaryEndUse",
                "TradeRestrictedAssociatedEntity"
              ]
            }
          }
        }
      },
      "FilterGroupAndV24": {
        "type": "object",
        "properties": {
          "group_operator": {
            "type": "string",
            "enum": [
              "AND"
            ]
          },
          "filters": {
            "$ref": "#/components/schemas/FiltersV24"
          }
        }
      },
      "FilterGroupAndV25": {
        "type": "object",
        "properties": {
          "group_operator": {
            "type": "string",
            "enum": [
              "AND"
            ]
          },
          "filters": {
            "$ref": "#/components/schemas/FiltersV25"
          }
        }
      },
      "FilterGroupAndV26": {
        "type": "object",
        "properties": {
          "group_operator": {
            "type": "string",
            "enum": [
              "AND"
            ]
          },
          "filters": {
            "$ref": "#/components/schemas/FiltersV26"
          }
        }
      },
      "CountryRequestV1": {
        "type": "object",
        "properties": {
          "country_territory_types": {
            "$ref": "#/components/schemas/CountryTerritoryTypes"
          },
          "countries_territories": {
            "$ref": "#/components/schemas/Countries"
          }
        }
      },
      "CountryRequestV24": {
        "type": "object",
        "properties": {
          "country_territory_types": {
            "$ref": "#/components/schemas/CountryTerritoryTypesV2"
          },
          "countries_territories": {
            "$ref": "#/components/schemas/CountriesV24"
          }
        }
      },
      "CountryRequestV26": {
        "type": "object",
        "properties": {
          "country_territory_types": {
            "$ref": "#/components/schemas/CountryTerritoryTypesV26"
          },
          "countries_territories": {
            "$ref": "#/components/schemas/CountryTerritoryV26"
          }
        }
      },
      "FilterGroupOr": {
        "type": "object",
        "properties": {
          "group_operator": {
            "type": "string",
            "enum": [
              "OR"
            ]
          },
          "filters": {
            "$ref": "#/components/schemas/FiltersLists"
          }
        }
      },
      "FilterGroupOrV22": {
        "type": "object",
        "properties": {
          "group_operator": {
            "type": "string",
            "enum": [
              "OR"
            ]
          },
          "filters": {
            "$ref": "#/components/schemas/FiltersListsV22"
          }
        }
      },
      "FilterGroupOrV24": {
        "type": "object",
        "properties": {
          "group_operator": {
            "type": "string",
            "enum": [
              "OR"
            ]
          },
          "filters": {
            "$ref": "#/components/schemas/FiltersListsV24"
          }
        }
      },
      "FilterGroupOrV25": {
        "type": "object",
        "properties": {
          "group_operator": {
            "type": "string",
            "enum": [
              "OR"
            ]
          },
          "filters": {
            "$ref": "#/components/schemas/FiltersListsV25"
          }
        }
      },
      "FilterGroupOrV26": {
        "type": "object",
        "properties": {
          "group_operator": {
            "type": "string",
            "enum": [
              "OR"
            ]
          },
          "filters": {
            "$ref": "#/components/schemas/FiltersListsV26"
          }
        }
      },
      "Paging": {
        "type": "object",
        "properties": {
          "offset": {
            "type": "integer",
            "format": "int32"
          },
          "limit": {
            "type": "integer",
            "format": "int32",
            "example": 10
          }
        }
      },
      "FiltersLists": {
        "type": "object",
        "properties": {
          "sanctions_list": {
            "$ref": "#/components/schemas/SanctionsList"
          },
          "content_category": {
            "$ref": "#/components/schemas/ContentCategory"
          },
          "other_official_list": {
            "$ref": "#/components/schemas/OtherOfficialList"
          },
          "other_exclusion_list": {
            "$ref": "#/components/schemas/OtherExclusionList"
          },
          "state_ownership": {
            "$ref": "#/components/schemas/StateOwnership"
          },
          "occupation_category": {
            "$ref": "#/components/schemas/OccupationCategory"
          },
          "hrf_category": {
            "$ref": "#/components/schemas/HrfCategory"
          }
        }
      },
      "FiltersListsV22": {
        "type": "object",
        "properties": {
          "sanctions_list": {
            "$ref": "#/components/schemas/SanctionsListV22"
          },
          "content_category": {
            "$ref": "#/components/schemas/ContentCategoryV22"
          },
          "other_official_list": {
            "$ref": "#/components/schemas/OtherOfficialListV22"
          },
          "other_exclusion_list": {
            "$ref": "#/components/schemas/OtherExclusionListV22"
          },
          "state_ownership": {
            "$ref": "#/components/schemas/StateOwnershipV22"
          },
          "occupation_category": {
            "$ref": "#/components/schemas/OccupationCategoryV22"
          },
          "hrf_category": {
            "$ref": "#/components/schemas/HrfCategoryV22"
          }
        }
      },
      "FiltersListsV24": {
        "type": "object",
        "properties": {
          "sanctions_list": {
            "$ref": "#/components/schemas/SanctionsListV24"
          },
          "content_category": {
            "$ref": "#/components/schemas/ContentCategoryV24"
          },
          "other_official_list": {
            "$ref": "#/components/schemas/OtherOfficialListV24"
          },
          "other_exclusion_list": {
            "$ref": "#/components/schemas/OtherExclusionListV24"
          },
          "state_ownership": {
            "$ref": "#/components/schemas/StateOwnershipV22"
          },
          "occupation_category": {
            "$ref": "#/components/schemas/OccupationCategoryV24"
          },
          "hrf_category": {
            "$ref": "#/components/schemas/HrfCategoryV24"
          }
        }
      },
      "FiltersListsV25": {
        "type": "object",
        "properties": {
          "sanctions_list": {
            "$ref": "#/components/schemas/SanctionsListV25"
          },
          "content_category": {
            "$ref": "#/components/schemas/ContentCategoryV25"
          },
          "other_official_list": {
            "$ref": "#/components/schemas/OtherOfficialListV25"
          },
          "other_exclusion_list": {
            "$ref": "#/components/schemas/OtherExclusionListV25"
          },
          "state_ownership": {
            "$ref": "#/components/schemas/StateOwnershipV25"
          },
          "occupation_category": {
            "$ref": "#/components/schemas/OccupationCategoryV25"
          },
          "hrf_category": {
            "$ref": "#/components/schemas/HrfCategoryV25"
          }
        }
      },
      "FiltersListsV26": {
        "type": "object",
        "properties": {
          "sanctions_list": {
            "$ref": "#/components/schemas/SanctionsListV26"
          },
          "content_category": {
            "$ref": "#/components/schemas/ContentCategoryV26"
          },
          "other_official_list": {
            "$ref": "#/components/schemas/OtherOfficialListV26"
          },
          "other_exclusion_list": {
            "$ref": "#/components/schemas/OtherExclusionListV26"
          },
          "state_ownership": {
            "$ref": "#/components/schemas/StateOwnershipV26"
          },
          "occupation_category": {
            "$ref": "#/components/schemas/OccupationCategoryV26"
          },
          "hrf_category": {
            "$ref": "#/components/schemas/HrfCategoryV26"
          }
        }
      },
      "SearchKeyword": {
        "type": "object",
        "properties": {
          "scope": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "Name",
                "ProfileNotes",
                "OccupationTitle"
              ]
            }
          },
          "type": {
            "type": "string",
            "enum": [
              "Precise",
              "Near",
              "Broad"
            ]
          },
          "text": {
            "type": "string"
          }
        }
      },
      "SearchKeywordV2": {
        "type": "object",
        "properties": {
          "search_text": {
            "type": "string"
          },
          "search_type": {
            "type": "string"
          },
          "search_scope": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Identification": {
        "type": "object",
        "properties": {
          "number": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "description": "One of the identification types. Check the IDTYPE list on taxonomy for values"
          }
        }
      },
      "EntityName": {
        "type": "object",
        "properties": {
          "full_name": {
            "type": "string"
          },
          "search_type": {
            "type": "string",
            "enum": [
              "Precise",
              "Near",
              "Broad"
            ]
          }
        }
      },
      "DateOfBirth": {
        "type": "object",
        "properties": {
          "date": {
            "$ref": "#/components/schemas/DateWithStrict"
          },
          "year_range": {
            "$ref": "#/components/schemas/YearRange"
          },
          "is_deceased_excluded": {
            "type": "boolean",
            "default": false
          }
        }
      },
      "PersonName": {
        "type": "object",
        "properties": {
          "last_name": {
            "type": "string"
          },
          "middle_name": {
            "type": "string"
          },
          "first_name": {
            "type": "string"
          },
          "search_type": {
            "type": "string",
            "enum": [
              "Precise",
              "Near",
              "Broad"
            ]
          }
        }
      },
      "SanctionsList": {
        "type": "object",
        "description": "Filter to include or exclude codes from SanctionLists (SAN)",
        "properties": {
          "codes": {
            "type": "array",
            "example": [
              "AE-CAE",
              "AR-MOJDH"
            ],
            "items": {
              "type": "string"
            }
          },
          "exclude_codes": {
            "type": "array",
            "example": [],
            "items": {
              "type": "string"
            }
          },
          "is_all_excluded": {
            "type": "boolean",
            "default": false
          },
          "operator": {
            "$ref": "#/components/schemas/Operator"
          }
        }
      },
      "ContentCategory": {
        "type": "object",
        "properties": {
          "special_interest": {
            "$ref": "#/components/schemas/SpecialInterest"
          },
          "adverse_media": {
            "$ref": "#/components/schemas/AdverseMedia"
          },
          "location": {
            "$ref": "#/components/schemas/Location"
          }
        }
      },
      "OtherOfficialList": {
        "type": "object",
        "description": "Filter to include or exclude codes from OtherOfficialLists (OOL)",
        "properties": {
          "codes": {
            "type": "array",
            "example": [
              "ADB",
              "AE-DFSA"
            ],
            "items": {
              "type": "string"
            }
          },
          "exclude_codes": {
            "type": "array",
            "example": [],
            "items": {
              "type": "string"
            }
          },
          "is_all_excluded": {
            "type": "boolean",
            "default": false
          },
          "operator": {
            "$ref": "#/components/schemas/Operator"
          }
        }
      },
      "OtherExclusionList": {
        "type": "object",
        "description": "Filter to include or exclude codes from OtherExclusionLists (OEL)",
        "properties": {
          "codes": {
            "type": "array",
            "example": [
              "AFDB",
              "BR-CGU"
            ],
            "items": {
              "type": "string"
            }
          },
          "exclude_codes": {
            "type": "array",
            "example": [],
            "items": {
              "type": "string"
            }
          },
          "is_all_excluded": {
            "type": "boolean",
            "default": false
          },
          "operator": {
            "$ref": "#/components/schemas/Operator"
          }
        }
      },
      "StateOwnership": {
        "type": "object",
        "description": "Filter to include code from StateOwnerships (SOC)",
        "properties": {
          "code": {
            "type": "string",
            "example": "5"
          },
          "is_unknown_excluded": {
            "type": "boolean",
            "default": false
          },
          "is_all_excluded": {
            "type": "boolean",
            "default": false
          }
        }
      },
      "OccupationCategory": {
        "type": "object",
        "description": "Filter to include or exclude codes from OccupationCategories list",
        "properties": {
          "codes": {
            "type": "array",
            "example": [
              "18",
              "6"
            ],
            "items": {
              "type": "string"
            }
          },
          "exclude_codes": {
            "type": "array",
            "example": [],
            "items": {
              "type": "string"
            }
          },
          "is_all_excluded": {
            "type": "boolean",
            "default": false
          },
          "is_adsr_excluded": {
            "type": "boolean",
            "default": false
          },
          "operator": {
            "$ref": "#/components/schemas/Operator"
          }
        }
      },
      "HrfCategory": {
        "type": "object",
        "description": "Filter to include or exclude codes from HighRiskFactor list",
        "properties": {
          "codes": {
            "type": "array",
            "example": [
              "1011"
            ],
            "items": {
              "type": "string"
            }
          },
          "exclude_codes": {
            "type": "array",
            "example": [],
            "items": {
              "type": "string"
            }
          },
          "is_all_excluded": {
            "type": "boolean",
            "default": false
          },
          "operator": {
            "$ref": "#/components/schemas/Operator"
          }
        }
      },
      "SanctionsListV22": {
        "type": "object",
        "description": "Filter to include or exclude codes from SanctionLists (SAN)",
        "properties": {
          "codes": {
            "type": "array",
            "example": [
              "AE-CAE",
              "AR-MOJDH"
            ],
            "items": {
              "type": "string"
            }
          },
          "exclude_codes": {
            "type": "array",
            "example": [],
            "items": {
              "type": "string"
            }
          },
          "is_all_excluded": {
            "type": "boolean",
            "default": false
          },
          "is_san_active": {
            "type": "boolean",
            "default": null
          },
          "operator": {
            "$ref": "#/components/schemas/Operator"
          }
        }
      },
      "SanctionsListV24": {
        "type": "object",
        "description": "Filter to include or exclude codes from SanctionLists (SAN)",
        "properties": {
          "codes": {
            "type": "array",
            "example": [
              "AE-CAE",
              "AR-MOJDH"
            ],
            "items": {
              "type": "string"
            }
          },
          "exclude_codes": {
            "type": "array",
            "example": [],
            "items": {
              "type": "string"
            }
          },
          "without_codes": {
            "type": "array",
            "example": [
              "BRAZ"
            ],
            "items": {
              "type": "string"
            }
          },
          "is_all_excluded": {
            "type": "boolean",
            "default": false
          },
          "is_san_active": {
            "type": "boolean",
            "default": null
          },
          "operator": {
            "$ref": "#/components/schemas/Operator"
          }
        }
      },
      "SanctionsListV25": {
        "type": "object",
        "properties": {
          "codes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "exclude_codes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "without_codes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_all_excluded": {
            "type": "boolean"
          },
          "last_review_date": {
            "$ref": "#/components/schemas/LastReviewDateV25"
          },
          "is_san_active": {
            "type": "boolean"
          },
          "operator": {
            "type": "string"
          }
        }
      },
      "SanctionsListV26": {
        "type": "object",
        "properties": {
          "codes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "exclude_codes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "without_codes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_all_excluded": {
            "type": "boolean"
          },
          "last_review_date": {
            "$ref": "#/components/schemas/LastReviewDate"
          },
          "is_san_active": {
            "type": "boolean"
          },
          "operator": {
            "type": "string"
          }
        }
      },
      "ContentCategoryV22": {
        "type": "object",
        "properties": {
          "special_interest": {
            "$ref": "#/components/schemas/SpecialInterestV22"
          },
          "adverse_media": {
            "$ref": "#/components/schemas/AdverseMedia"
          },
          "location": {
            "$ref": "#/components/schemas/Location"
          }
        }
      },
      "ContentCategoryV24": {
        "type": "object",
        "properties": {
          "special_interest": {
            "$ref": "#/components/schemas/SpecialInterestV24"
          },
          "adverse_media": {
            "$ref": "#/components/schemas/AdverseMediaV24"
          },
          "location": {
            "$ref": "#/components/schemas/LocationV24"
          },
          "military_end_use": {
            "$ref": "#/components/schemas/MilitaryEndUseV24"
          }
        }
      },
      "ContentCategoryV25": {
        "type": "object",
        "properties": {
          "special_interest": {
            "$ref": "#/components/schemas/SpecialInterestV25"
          },
          "adverse_media": {
            "$ref": "#/components/schemas/AdverseMediaV25"
          },
          "location": {
            "$ref": "#/components/schemas/LocationV25"
          },
          "military_end_use": {
            "$ref": "#/components/schemas/MilitaryEndUseV25"
          }
        }
      },
      "ContentCategoryV26": {
        "type": "object",
        "properties": {
          "special_interest": {
            "$ref": "#/components/schemas/SpecialInterestV26"
          },
          "adverse_media": {
            "$ref": "#/components/schemas/AdverseMediaV26"
          },
          "location": {
            "$ref": "#/components/schemas/LocationV26"
          },
          "military_end_use": {
            "$ref": "#/components/schemas/MilitaryEndUseV26"
          },
          "trade_restricted_associated_entity": {
            "$ref": "#/components/schemas/TradeRestrictedAssociatedEntityV26"
          }
        }
      },
      "OtherOfficialListV22": {
        "type": "object",
        "description": "Filter to include or exclude codes from OtherOfficialLists (OOL)",
        "properties": {
          "codes": {
            "type": "array",
            "example": [
              "ADB",
              "AE-DFSA"
            ],
            "items": {
              "type": "string"
            }
          },
          "exclude_codes": {
            "type": "array",
            "example": [],
            "items": {
              "type": "string"
            }
          },
          "is_all_excluded": {
            "type": "boolean",
            "default": false
          },
          "is_ool_active": {
            "type": "boolean",
            "default": null
          },
          "operator": {
            "$ref": "#/components/schemas/Operator"
          }
        }
      },
      "OtherOfficialListV24": {
        "type": "object",
        "description": "Filter to include or exclude codes from OtherOfficialLists (OOL)",
        "properties": {
          "codes": {
            "type": "array",
            "example": [
              "ADB",
              "AE-DFSA"
            ],
            "items": {
              "type": "string"
            }
          },
          "exclude_codes": {
            "type": "array",
            "example": [],
            "items": {
              "type": "string"
            }
          },
          "without_codes": {
            "type": "array",
            "example": [
              "BRAZ"
            ],
            "items": {
              "type": "string"
            }
          },
          "is_all_excluded": {
            "type": "boolean",
            "default": false
          },
          "is_ool_active": {
            "type": "boolean",
            "default": null
          },
          "operator": {
            "$ref": "#/components/schemas/Operator"
          }
        }
      },
      "OtherOfficialListV25": {
        "type": "object",
        "description": "Filter to include or exclude codes from OtherOfficialLists (OOL)",
        "properties": {
          "codes": {
            "type": "array",
            "example": [
              "ADB",
              "AE-DFSA"
            ],
            "items": {
              "type": "string"
            }
          },
          "exclude_codes": {
            "type": "array",
            "example": [],
            "items": {
              "type": "string"
            }
          },
          "without_codes": {
            "type": "array",
            "example": [
              "BRAZ"
            ],
            "items": {
              "type": "string"
            }
          },
          "is_all_excluded": {
            "type": "boolean",
            "default": false
          },
          "last_review_date": {
            "$ref": "#/components/schemas/LastReviewDateV25"
          },
          "is_ool_active": {
            "type": "boolean",
            "default": null
          },
          "operator": {
            "type": "string"
          }
        }
      },
      "OtherOfficialListV26": {
        "type": "object",
        "description": "Filter to include or exclude codes from OtherOfficialLists (OOL)",
        "properties": {
          "codes": {
            "type": "array",
            "example": [
              "ADB",
              "AE-DFSA"
            ],
            "items": {
              "type": "string"
            }
          },
          "exclude_codes": {
            "type": "array",
            "example": [],
            "items": {
              "type": "string"
            }
          },
          "without_codes": {
            "type": "array",
            "example": [
              "BRAZ"
            ],
            "items": {
              "type": "string"
            }
          },
          "is_all_excluded": {
            "type": "boolean",
            "default": false
          },
          "last_review_date": {
            "$ref": "#/components/schemas/LastReviewDate"
          },
          "is_ool_active": {
            "type": "boolean",
            "default": null
          },
          "operator": {
            "type": "string"
          }
        }
      },
      "OtherExclusionListV22": {
        "type": "object",
        "description": "Filter to include or exclude codes from OtherExclusionLists (OEL)",
        "properties": {
          "codes": {
            "type": "array",
            "example": [
              "AFDB",
              "BR-CGU"
            ],
            "items": {
              "type": "string"
            }
          },
          "exclude_codes": {
            "type": "array",
            "example": [],
            "items": {
              "type": "string"
            }
          },
          "is_all_excluded": {
            "type": "boolean",
            "default": false
          },
          "is_oel_active": {
            "type": "boolean",
            "default": null
          },
          "operator": {
            "$ref": "#/components/schemas/Operator"
          }
        }
      },
      "OtherExclusionListV24": {
        "type": "object",
        "description": "Filter to include or exclude codes from OtherExclusionLists (OEL)",
        "properties": {
          "codes": {
            "type": "array",
            "example": [
              "AFDB",
              "BR-CGU"
            ],
            "items": {
              "type": "string"
            }
          },
          "exclude_codes": {
            "type": "array",
            "example": [],
            "items": {
              "type": "string"
            }
          },
          "without_codes": {
            "type": "array",
            "example": [
              "BRAZ"
            ],
            "items": {
              "type": "string"
            }
          },
          "is_all_excluded": {
            "type": "boolean",
            "default": false
          },
          "is_oel_active": {
            "type": "boolean",
            "default": null
          },
          "operator": {
            "$ref": "#/components/schemas/Operator"
          }
        }
      },
      "OtherExclusionListV25": {
        "type": "object",
        "description": "Filter to include or exclude codes from OtherExclusionLists (OEL)",
        "properties": {
          "codes": {
            "type": "array",
            "example": [
              "AFDB",
              "BR-CGU"
            ],
            "items": {
              "type": "string"
            }
          },
          "exclude_codes": {
            "type": "array",
            "example": [],
            "items": {
              "type": "string"
            }
          },
          "without_codes": {
            "type": "array",
            "example": [
              "BRAZ"
            ],
            "items": {
              "type": "string"
            }
          },
          "is_all_excluded": {
            "type": "boolean",
            "default": false
          },
          "last_review_date": {
            "$ref": "#/components/schemas/LastReviewDateV25"
          },
          "is_oel_active": {
            "type": "boolean",
            "default": null
          },
          "operator": {
            "type": "string"
          }
        }
      },
      "OtherExclusionListV26": {
        "type": "object",
        "description": "Filter to include or exclude codes from OtherExclusionLists (OEL)",
        "properties": {
          "codes": {
            "type": "array",
            "example": [
              "AFDB",
              "BR-CGU"
            ],
            "items": {
              "type": "string"
            }
          },
          "exclude_codes": {
            "type": "array",
            "example": [],
            "items": {
              "type": "string"
            }
          },
          "without_codes": {
            "type": "array",
            "example": [
              "BRAZ"
            ],
            "items": {
              "type": "string"
            }
          },
          "is_all_excluded": {
            "type": "boolean",
            "default": false
          },
          "last_review_date": {
            "$ref": "#/components/schemas/LastReviewDate"
          },
          "is_oel_active": {
            "type": "boolean",
            "default": null
          },
          "operator": {
            "type": "string"
          }
        }
      },
      "StateOwnershipV22": {
        "type": "object",
        "description": "Filter to include code from StateOwnerships (SOC)",
        "properties": {
          "code": {
            "type": "string",
            "example": "5"
          },
          "is_unknown_excluded": {
            "type": "boolean",
            "default": false
          },
          "is_all_excluded": {
            "type": "boolean",
            "default": false
          },
          "is_soc_active": {
            "type": "boolean",
            "default": null
          }
        }
      },
      "StateOwnershipV25": {
        "type": "object",
        "description": "Filter to include code from StateOwnerships (SOC)",
        "properties": {
          "code": {
            "type": "string",
            "example": "5"
          },
          "is_unknown_excluded": {
            "type": "boolean",
            "default": false
          },
          "is_all_excluded": {
            "type": "boolean",
            "default": false
          },
          "is_soc_active": {
            "type": "boolean",
            "default": null
          }
        }
      },
      "StateOwnershipV26": {
        "type": "object",
        "description": "Filter to include code from StateOwnerships (SOC)",
        "properties": {
          "code": {
            "type": "string",
            "example": "5"
          },
          "is_unknown_excluded": {
            "type": "boolean",
            "default": false
          },
          "is_all_excluded": {
            "type": "boolean",
            "default": false
          },
          "is_soc_active": {
            "type": "boolean",
            "default": null
          }
        }
      },
      "OccupationCategoryV22": {
        "type": "object",
        "description": "Filter to include or exclude codes from OccupationCategories list",
        "properties": {
          "codes": {
            "type": "array",
            "example": [
              "18",
              "6"
            ],
            "items": {
              "type": "string"
            }
          },
          "exclude_codes": {
            "type": "array",
            "example": [],
            "items": {
              "type": "string"
            }
          },
          "is_all_excluded": {
            "type": "boolean",
            "default": false
          },
          "is_adsr_excluded": {
            "type": "boolean",
            "default": false
          },
          "is_pep_active": {
            "type": "boolean",
            "default": null
          },
          "pep_inactive_date_gte": {
            "$ref": "#/components/schemas/PepInactiveDateGte"
          },
          "operator": {
            "$ref": "#/components/schemas/Operator"
          }
        }
      },
      "OccupationCategoryV24": {
        "type": "object",
        "description": "Filter to include or exclude codes from OccupationCategories list",
        "properties": {
          "codes": {
            "type": "array",
            "example": [
              "18",
              "6"
            ],
            "items": {
              "type": "string"
            }
          },
          "exclude_codes": {
            "type": "array",
            "example": [],
            "items": {
              "type": "string"
            }
          },
          "without_codes": {
            "type": "array",
            "example": [
              "BRAZ"
            ],
            "items": {
              "type": "string"
            }
          },
          "is_all_excluded": {
            "type": "boolean",
            "default": false
          },
          "is_adsr_excluded": {
            "type": "boolean",
            "default": false
          },
          "is_pep_active": {
            "type": "boolean",
            "default": null
          },
          "pep_inactive_date_gte": {
            "$ref": "#/components/schemas/PepInactiveDateGte"
          },
          "operator": {
            "$ref": "#/components/schemas/Operator"
          }
        }
      },
      "OccupationCategoryV25": {
        "type": "object",
        "description": "Filter to include or exclude codes from OccupationCategories list",
        "properties": {
          "codes": {
            "type": "array",
            "example": [
              "18",
              "6"
            ],
            "items": {
              "type": "string"
            }
          },
          "exclude_codes": {
            "type": "array",
            "example": [],
            "items": {
              "type": "string"
            }
          },
          "without_codes": {
            "type": "array",
            "example": [
              "BRAZ"
            ],
            "items": {
              "type": "string"
            }
          },
          "last_review_date": {
            "$ref": "#/components/schemas/LastReviewDateV25"
          },
          "is_all_excluded": {
            "type": "boolean",
            "default": false
          },
          "is_adsr_excluded": {
            "type": "boolean",
            "default": false
          },
          "is_pep_active": {
            "type": "boolean",
            "default": null
          },
          "pep_inactive_date_gte": {
            "$ref": "#/components/schemas/PepInactiveDateGte"
          },
          "operator": {
            "type": "string"
          }
        }
      },
      "OccupationCategoryV26": {
        "type": "object",
        "description": "Filter to include or exclude codes from OccupationCategories list",
        "properties": {
          "codes": {
            "type": "array",
            "example": [
              "18",
              "6"
            ],
            "items": {
              "type": "string"
            }
          },
          "exclude_codes": {
            "type": "array",
            "example": [],
            "items": {
              "type": "string"
            }
          },
          "without_codes": {
            "type": "array",
            "example": [
              "BRAZ"
            ],
            "items": {
              "type": "string"
            }
          },
          "last_review_date": {
            "$ref": "#/components/schemas/LastReviewDate"
          },
          "is_all_excluded": {
            "type": "boolean",
            "default": false
          },
          "is_adsr_excluded": {
            "type": "boolean",
            "default": false
          },
          "is_pep_active": {
            "type": "boolean",
            "default": null
          },
          "pep_inactive_date_gte": {
            "$ref": "#/components/schemas/PepInactiveDateGte"
          },
          "operator": {
            "type": "string"
          }
        }
      },
      "PepInactiveDateGte": {
        "type": "object",
        "properties": {
          "date": {
            "$ref": "#/components/schemas/DatePepInactiveGte"
          }
        }
      },
      "DatePepInactiveGte": {
        "type": "object",
        "properties": {
          "month": {
            "type": "string",
            "example": "01"
          },
          "year": {
            "type": "string",
            "example": "2020"
          },
          "day": {
            "type": "string",
            "example": "01"
          }
        }
      },
      "HrfCategoryV22": {
        "type": "object",
        "description": "Filter to include or exclude codes from HighRiskFactor list",
        "properties": {
          "codes": {
            "type": "array",
            "example": [
              "1011"
            ],
            "items": {
              "type": "string"
            }
          },
          "exclude_codes": {
            "type": "array",
            "example": [],
            "items": {
              "type": "string"
            }
          },
          "is_all_excluded": {
            "type": "boolean",
            "default": false
          },
          "is_hrf_active": {
            "type": "boolean",
            "default": null
          },
          "operator": {
            "$ref": "#/components/schemas/Operator"
          }
        }
      },
      "HrfCategoryV24": {
        "type": "object",
        "description": "Filter to include or exclude codes from HighRiskFactor list",
        "properties": {
          "codes": {
            "type": "array",
            "example": [
              "1011"
            ],
            "items": {
              "type": "string"
            }
          },
          "exclude_codes": {
            "type": "array",
            "example": [],
            "items": {
              "type": "string"
            }
          },
          "without_codes": {
            "type": "array",
            "example": [
              "BRAZ"
            ],
            "items": {
              "type": "string"
            }
          },
          "is_all_excluded": {
            "type": "boolean",
            "default": false
          },
          "is_hrf_active": {
            "type": "boolean",
            "default": null
          },
          "operator": {
            "$ref": "#/components/schemas/Operator"
          }
        }
      },
      "HrfCategoryV25": {
        "type": "object",
        "description": "Filter to include or exclude codes from HighRiskFactor list",
        "properties": {
          "codes": {
            "type": "array",
            "example": [
              "1011"
            ],
            "items": {
              "type": "string"
            }
          },
          "exclude_codes": {
            "type": "array",
            "example": [],
            "items": {
              "type": "string"
            }
          },
          "without_codes": {
            "type": "array",
            "example": [
              "BRAZ"
            ],
            "items": {
              "type": "string"
            }
          },
          "is_all_excluded": {
            "type": "boolean",
            "default": false
          },
          "last_review_date": {
            "$ref": "#/components/schemas/LastReviewDateV25"
          },
          "is_hrf_active": {
            "type": "boolean",
            "default": null
          },
          "operator": {
            "type": "string"
          }
        }
      },
      "HrfCategoryV26": {
        "type": "object",
        "description": "Filter to include or exclude codes from HighRiskFactor list",
        "properties": {
          "codes": {
            "type": "array",
            "example": [
              "1011"
            ],
            "items": {
              "type": "string"
            }
          },
          "exclude_codes": {
            "type": "array",
            "example": [],
            "items": {
              "type": "string"
            }
          },
          "without_codes": {
            "type": "array",
            "example": [
              "BRAZ"
            ],
            "items": {
              "type": "string"
            }
          },
          "is_all_excluded": {
            "type": "boolean",
            "default": false
          },
          "last_review_date": {
            "$ref": "#/components/schemas/LastReviewDate"
          },
          "is_hrf_active": {
            "type": "boolean",
            "default": null
          },
          "operator": {
            "type": "string"
          }
        }
      },
      "CountryTerritoryTypes": {
        "type": "object",
        "description": "Filter to include or exclude codes from CountryTerritoryType list",
        "properties": {
          "country_territory_types": {
            "type": "array",
            "example": [
              "3"
            ],
            "items": {
              "type": "string"
            }
          },
          "operator": {
            "$ref": "#/components/schemas/Operator"
          }
        }
      },
      "CountryTerritoryTypesV2": {
        "type": "object",
        "description": "Filter to include or exclude codes from CountryTerritoryType list",
        "properties": {
          "country_territory_types": {
            "type": "array",
            "example": [
              "3"
            ],
            "items": {
              "type": "string"
            }
          },
          "operator": {
            "type": "string",
            "enum": [
              "OR"
            ]
          }
        }
      },
      "CountryTerritoryTypesV26": {
        "type": "object",
        "description": "Filter to include or exclude codes from CountryTerritoryType list",
        "properties": {
          "country_territory_types": {
            "type": "array",
            "example": [
              "3"
            ],
            "items": {
              "type": "string"
            }
          },
          "operator": {
            "type": "string",
            "enum": [
              "OR"
            ]
          }
        }
      },
      "Countries": {
        "type": "object",
        "description": "Filter to include or exclude codes from CountryTerritory list",
        "properties": {
          "codes": {
            "type": "array",
            "example": [
              "USA",
              "GFR"
            ],
            "items": {
              "type": "string"
            }
          },
          "exclude_codes": {
            "type": "array",
            "example": [],
            "items": {
              "type": "string"
            }
          },
          "operator": {
            "type": "string",
            "enum": [
              "OR"
            ]
          }
        }
      },
      "CountriesV24": {
        "type": "object",
        "description": "Filter to include or exclude codes from CountryTerritory list",
        "properties": {
          "codes": {
            "type": "array",
            "example": [
              "USA",
              "GFR"
            ],
            "items": {
              "type": "string"
            }
          },
          "exclude_codes": {
            "type": "array",
            "example": [],
            "items": {
              "type": "string"
            }
          },
          "without_codes": {
            "type": "array",
            "example": [
              "BRAZ"
            ],
            "items": {
              "type": "string"
            }
          },
          "operator": {
            "type": "string",
            "enum": [
              "OR"
            ]
          }
        }
      },
      "CountryTerritoryV26": {
        "type": "object",
        "description": "Filter to include or exclude codes from CountryTerritory list",
        "properties": {
          "codes": {
            "type": "array",
            "example": [
              "USA",
              "GFR"
            ],
            "items": {
              "type": "string"
            }
          },
          "exclude_codes": {
            "type": "array",
            "example": [],
            "items": {
              "type": "string"
            }
          },
          "without_codes": {
            "type": "array",
            "example": [
              "BRAZ"
            ],
            "items": {
              "type": "string"
            }
          },
          "operator": {
            "type": "string",
            "enum": [
              "OR"
            ]
          }
        }
      },
      "DateObject": {
        "type": "object",
        "properties": {
          "month": {
            "type": "string",
            "example": "1"
          },
          "year": {
            "type": "string",
            "example": "2020"
          },
          "day": {
            "type": "string",
            "example": "1"
          }
        }
      },
      "DateObjectV25": {
        "type": "object",
        "properties": {
          "month": {
            "type": "string",
            "example": "1"
          },
          "year": {
            "type": "string",
            "example": "2020"
          },
          "day": {
            "type": "string",
            "example": "1"
          },
          "is_strict_match": {
            "type": "boolean"
          }
        }
      },
      "DateObjectV26": {
        "type": "object",
        "properties": {
          "month": {
            "type": "string",
            "example": "1"
          },
          "year": {
            "type": "string",
            "example": "2020"
          },
          "day": {
            "type": "string",
            "example": "1"
          },
          "is_strict_match": {
            "type": "boolean"
          }
        }
      },
      "DateWithStrict": {
        "type": "object",
        "properties": {
          "month": {
            "type": "string",
            "example": "1"
          },
          "year": {
            "type": "string",
            "example": "2020"
          },
          "is_strict_match": {
            "type": "boolean",
            "default": false
          },
          "day": {
            "type": "string",
            "example": "1"
          }
        }
      },
      "YearRange": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "example": "1"
          },
          "to": {
            "type": "string",
            "example": "2"
          }
        }
      },
      "LastReviewDate": {
        "type": "object",
        "properties": {
          "from": {
            "$ref": "#/components/schemas/DateObject"
          },
          "to": {
            "$ref": "#/components/schemas/DateObject"
          }
        }
      },
      "LastReviewDateV25": {
        "type": "object",
        "properties": {
          "from": {
            "$ref": "#/components/schemas/DateObjectV25"
          },
          "to": {
            "$ref": "#/components/schemas/DateObjectV25"
          }
        }
      },
      "LastReviewDateV26": {
        "type": "object",
        "properties": {
          "from": {
            "$ref": "#/components/schemas/DateObjectV26"
          },
          "to": {
            "$ref": "#/components/schemas/DateObjectV26"
          }
        }
      },
      "SpecialInterest": {
        "type": "object",
        "description": "Filter to include or exclude codes from SpecialInterestCategories list",
        "properties": {
          "codes": {
            "type": "array",
            "example": [
              "1001",
              "1002"
            ],
            "items": {
              "type": "string"
            }
          },
          "exclude_codes": {
            "type": "array",
            "example": [],
            "items": {
              "type": "string"
            }
          },
          "is_all_excluded": {
            "type": "boolean",
            "default": false
          },
          "operator": {
            "$ref": "#/components/schemas/Operator"
          }
        }
      },
      "SpecialInterestV22": {
        "type": "object",
        "description": "Filter to include or exclude codes from SpecialInterestCategories list",
        "properties": {
          "codes": {
            "type": "array",
            "example": [
              "1001",
              "1002"
            ],
            "items": {
              "type": "string"
            }
          },
          "exclude_codes": {
            "type": "array",
            "example": [],
            "items": {
              "type": "string"
            }
          },
          "is_all_excluded": {
            "type": "boolean",
            "default": false
          },
          "is_sor_active": {
            "type": "boolean",
            "default": null
          },
          "is_ecr_active": {
            "type": "boolean",
            "default": null
          },
          "operator": {
            "$ref": "#/components/schemas/Operator"
          }
        }
      },
      "SpecialInterestV24": {
        "type": "object",
        "description": "Filter to include or exclude codes from SpecialInterestCategories list",
        "properties": {
          "codes": {
            "type": "array",
            "example": [
              "1001",
              "1002"
            ],
            "items": {
              "type": "string"
            }
          },
          "exclude_codes": {
            "type": "array",
            "example": [],
            "items": {
              "type": "string"
            }
          },
          "without_codes": {
            "type": "array",
            "example": [
              "BRAZ"
            ],
            "items": {
              "type": "string"
            }
          },
          "is_all_excluded": {
            "type": "boolean",
            "default": false
          },
          "is_sor_active": {
            "type": "boolean",
            "default": null
          },
          "is_ecr_active": {
            "type": "boolean",
            "default": null
          },
          "operator": {
            "$ref": "#/components/schemas/Operator"
          }
        }
      },
      "SpecialInterestV25": {
        "type": "object",
        "description": "Filter to include or exclude codes from SpecialInterestCategories list",
        "properties": {
          "codes": {
            "type": "array",
            "example": [
              "1001",
              "1002"
            ],
            "items": {
              "type": "string"
            }
          },
          "exclude_codes": {
            "type": "array",
            "example": [],
            "items": {
              "type": "string"
            }
          },
          "without_codes": {
            "type": "array",
            "example": [
              "BRAZ"
            ],
            "items": {
              "type": "string"
            }
          },
          "is_all_excluded": {
            "type": "boolean",
            "default": false
          },
          "last_review_date": {
            "$ref": "#/components/schemas/LastReviewDateV25"
          },
          "is_sor_active": {
            "type": "boolean",
            "default": null
          },
          "is_ecr_active": {
            "type": "boolean",
            "default": null
          },
          "operator": {
            "type": "string"
          }
        }
      },
      "SpecialInterestV26": {
        "type": "object",
        "description": "Filter to include or exclude codes from SpecialInterestCategories list",
        "properties": {
          "codes": {
            "type": "array",
            "example": [
              "1001",
              "1002"
            ],
            "items": {
              "type": "string"
            }
          },
          "exclude_codes": {
            "type": "array",
            "example": [],
            "items": {
              "type": "string"
            }
          },
          "without_codes": {
            "type": "array",
            "example": [
              "BRAZ"
            ],
            "items": {
              "type": "string"
            }
          },
          "is_all_excluded": {
            "type": "boolean",
            "default": false
          },
          "last_review_date": {
            "$ref": "#/components/schemas/LastReviewDateV26"
          },
          "is_sor_active": {
            "type": "boolean",
            "default": null
          },
          "is_ecr_active": {
            "type": "boolean",
            "default": null
          },
          "operator": {
            "type": "string"
          }
        }
      },
      "AdverseMedia": {
        "type": "object",
        "description": "Filter to include or exclude codes from AdverseMediaCategories list",
        "properties": {
          "codes": {
            "type": "array",
            "example": [
              "33",
              "34"
            ],
            "items": {
              "type": "string"
            }
          },
          "exclude_codes": {
            "type": "array",
            "example": [],
            "items": {
              "type": "string"
            }
          },
          "is_all_excluded": {
            "type": "boolean",
            "default": false
          },
          "operator": {
            "$ref": "#/components/schemas/Operator"
          }
        }
      },
      "AdverseMediaV24": {
        "type": "object",
        "description": "Filter to include or exclude codes from AdverseMediaCategories list",
        "properties": {
          "codes": {
            "type": "array",
            "example": [
              "33",
              "34"
            ],
            "items": {
              "type": "string"
            }
          },
          "exclude_codes": {
            "type": "array",
            "example": [],
            "items": {
              "type": "string"
            }
          },
          "without_codes": {
            "type": "array",
            "example": [
              "BRAZ"
            ],
            "items": {
              "type": "string"
            }
          },
          "is_all_excluded": {
            "type": "boolean",
            "default": false
          },
          "operator": {
            "$ref": "#/components/schemas/Operator"
          }
        }
      },
      "AdverseMediaV25": {
        "type": "object",
        "description": "Filter to include or exclude codes from AdverseMediaCategories list",
        "properties": {
          "codes": {
            "type": "array",
            "example": [
              "33",
              "34"
            ],
            "items": {
              "type": "string"
            }
          },
          "exclude_codes": {
            "type": "array",
            "example": [],
            "items": {
              "type": "string"
            }
          },
          "without_codes": {
            "type": "array",
            "example": [
              "BRAZ"
            ],
            "items": {
              "type": "string"
            }
          },
          "is_all_excluded": {
            "type": "boolean",
            "default": false
          },
          "last_review_date": {
            "$ref": "#/components/schemas/LastReviewDateV25"
          },
          "operator": {
            "type": "string"
          }
        }
      },
      "AdverseMediaV26": {
        "type": "object",
        "description": "Filter to include or exclude codes from AdverseMediaCategories list",
        "properties": {
          "codes": {
            "type": "array",
            "example": [
              "33",
              "34"
            ],
            "items": {
              "type": "string"
            }
          },
          "exclude_codes": {
            "type": "array",
            "example": [],
            "items": {
              "type": "string"
            }
          },
          "without_codes": {
            "type": "array",
            "example": [
              "BRAZ"
            ],
            "items": {
              "type": "string"
            }
          },
          "is_all_excluded": {
            "type": "boolean",
            "default": false
          },
          "last_review_date": {
            "$ref": "#/components/schemas/LastReviewDateV26"
          },
          "operator": {
            "type": "string"
          }
        }
      },
      "Location": {
        "type": "object",
        "description": "Filter to include or exclude codes from Locations list",
        "properties": {
          "codes": {
            "type": "array",
            "example": [
              "121"
            ],
            "items": {
              "type": "string"
            }
          },
          "exclude_codes": {
            "type": "array",
            "example": [],
            "items": {
              "type": "string"
            }
          },
          "is_all_excluded": {
            "type": "boolean",
            "default": false
          },
          "operator": {
            "$ref": "#/components/schemas/Operator"
          }
        }
      },
      "LocationV24": {
        "type": "object",
        "description": "Filter to include or exclude codes from Locations list",
        "properties": {
          "codes": {
            "type": "array",
            "example": [
              "121"
            ],
            "items": {
              "type": "string"
            }
          },
          "exclude_codes": {
            "type": "array",
            "example": [],
            "items": {
              "type": "string"
            }
          },
          "without_codes": {
            "type": "array",
            "example": [
              "BRAZ"
            ],
            "items": {
              "type": "string"
            }
          },
          "is_all_excluded": {
            "type": "boolean",
            "default": false
          },
          "operator": {
            "$ref": "#/components/schemas/Operator"
          }
        }
      },
      "LocationV25": {
        "type": "object",
        "description": "Filter to include or exclude codes from Locations list",
        "properties": {
          "codes": {
            "type": "array",
            "example": [
              "121"
            ],
            "items": {
              "type": "string"
            }
          },
          "exclude_codes": {
            "type": "array",
            "example": [],
            "items": {
              "type": "string"
            }
          },
          "without_codes": {
            "type": "array",
            "example": [
              "BRAZ"
            ],
            "items": {
              "type": "string"
            }
          },
          "is_all_excluded": {
            "type": "boolean",
            "default": false
          },
          "last_review_date": {
            "$ref": "#/components/schemas/LastReviewDateV25"
          },
          "operator": {
            "type": "string"
          }
        }
      },
      "LocationV26": {
        "type": "object",
        "description": "Filter to include or exclude codes from Locations list",
        "properties": {
          "codes": {
            "type": "array",
            "example": [
              "121"
            ],
            "items": {
              "type": "string"
            }
          },
          "exclude_codes": {
            "type": "array",
            "example": [],
            "items": {
              "type": "string"
            }
          },
          "without_codes": {
            "type": "array",
            "example": [
              "BRAZ"
            ],
            "items": {
              "type": "string"
            }
          },
          "is_all_excluded": {
            "type": "boolean",
            "default": false
          },
          "last_review_date": {
            "$ref": "#/components/schemas/LastReviewDateV26"
          },
          "operator": {
            "type": "string"
          }
        }
      },
      "MilitaryEndUseV24": {
        "type": "object",
        "description": "Filter to include or exclude codes from MilitaryEndUseCategories list",
        "properties": {
          "codes": {
            "type": "array",
            "example": [
              "1054"
            ],
            "items": {
              "type": "string"
            }
          },
          "exclude_codes": {
            "type": "array",
            "example": [],
            "items": {
              "type": "string"
            }
          },
          "without_codes": {
            "type": "array",
            "example": [
              "BRAZ"
            ],
            "items": {
              "type": "string"
            }
          },
          "is_all_excluded": {
            "type": "boolean",
            "default": false
          },
          "is_meu_active": {
            "type": "boolean"
          },
          "operator": {
            "$ref": "#/components/schemas/Operator"
          }
        }
      },
      "MilitaryEndUseV25": {
        "type": "object",
        "description": "Filter to include or exclude codes from MilitaryEndUseCategories list",
        "properties": {
          "codes": {
            "type": "array",
            "example": [
              "1054"
            ],
            "items": {
              "type": "string"
            }
          },
          "exclude_codes": {
            "type": "array",
            "example": [],
            "items": {
              "type": "string"
            }
          },
          "without_codes": {
            "type": "array",
            "example": [
              "BRAZ"
            ],
            "items": {
              "type": "string"
            }
          },
          "is_all_excluded": {
            "type": "boolean",
            "default": false
          },
          "last_review_date": {
            "$ref": "#/components/schemas/LastReviewDateV25"
          },
          "is_meu_active": {
            "type": "boolean"
          },
          "operator": {
            "type": "string"
          }
        }
      },
      "MilitaryEndUseV26": {
        "type": "object",
        "description": "Filter to include or exclude codes from MilitaryEndUseCategories list",
        "properties": {
          "codes": {
            "type": "array",
            "example": [
              "1054"
            ],
            "items": {
              "type": "string"
            }
          },
          "exclude_codes": {
            "type": "array",
            "example": [],
            "items": {
              "type": "string"
            }
          },
          "without_codes": {
            "type": "array",
            "example": [
              "BRAZ"
            ],
            "items": {
              "type": "string"
            }
          },
          "is_all_excluded": {
            "type": "boolean",
            "default": false
          },
          "last_review_date": {
            "$ref": "#/components/schemas/LastReviewDateV26"
          },
          "is_meu_active": {
            "type": "boolean"
          },
          "operator": {
            "type": "string"
          }
        }
      },
      "TradeRestrictedAssociatedEntityV26": {
        "type": "object",
        "description": "Filter to include or exclude codes from TradeRestrictedAssociatedEntity list",
        "properties": {
          "codes": {
            "type": "array",
            "example": [
              "1054"
            ],
            "items": {
              "type": "string"
            }
          },
          "exclude_codes": {
            "type": "array",
            "example": [],
            "items": {
              "type": "string"
            }
          },
          "without_codes": {
            "type": "array",
            "example": [
              "BRAZ"
            ],
            "items": {
              "type": "string"
            }
          },
          "is_all_excluded": {
            "type": "boolean",
            "default": false
          },
          "last_review_date": {
            "$ref": "#/components/schemas/LastReviewDateV26"
          },
          "is_tae_active": {
            "type": "boolean"
          },
          "operator": {
            "type": "string"
          }
        }
      },
      "ScreeningResponseV20": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DatumV20"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/MetaAudit"
          }
        }
      },
      "ScreeningResponseV2": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DatumV20"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/MetaAudit"
          }
        }
      },
      "ScreeningResponseV23": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DatumV23"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/MetaAudit"
          }
        }
      },
      "ScreeningResponseV24": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DatumV24"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/MetaAudit"
          }
        }
      },
      "ScreeningResponseV25": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DatumV25"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/MetaAudit"
          }
        }
      },
      "ScreeningResponseV26": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DatumV26"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/MetaAudit"
          }
        }
      },
      "DatumV20": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "attributes": {
            "$ref": "#/components/schemas/AttributesResponseV20"
          }
        }
      },
      "DatumV23": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "attributes": {
            "$ref": "#/components/schemas/AttributesResponseV23"
          }
        }
      },
      "DatumV24": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "attributes": {
            "$ref": "#/components/schemas/AttributesResponseV24"
          }
        }
      },
      "DatumV25": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "attributes": {
            "$ref": "#/components/schemas/AttributesResponseV25"
          }
        }
      },
      "DatumV26": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "attributes": {
            "$ref": "#/components/schemas/AttributesResponseV26"
          }
        }
      },
      "AttributesResponseV20": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "primary_name": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "country_territory_code": {
            "type": "string"
          },
          "country_territory_name": {
            "type": "string"
          },
          "gender": {
            "type": "string"
          },
          "is_subsidiary": {
            "type": "boolean",
            "default": false
          },
          "score": {
            "type": "string"
          },
          "matched_criteria": {
            "$ref": "#/components/schemas/MatchedCriteria"
          },
          "date_of_birth": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DateObject"
            }
          },
          "icon_hints": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IconHintVo"
            }
          },
          "countries_territories": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/CountryResponse"
                },
                {
                  "$ref": "#/components/schemas/CountryResponseIso"
                }
              ]
            }
          }
        }
      },
      "AttributesResponseV23": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "primary_name": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "country_territory_code": {
            "type": "string"
          },
          "country_territory_name": {
            "type": "string"
          },
          "gender": {
            "type": "string"
          },
          "is_subsidiary": {
            "type": "boolean",
            "default": false
          },
          "score": {
            "type": "string"
          },
          "matched_criteria": {
            "$ref": "#/components/schemas/MatchedCriteria"
          },
          "date_of_birth": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DateObject"
            }
          },
          "icon_hints": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IconHintVo"
            }
          },
          "countries_territories": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/CountryResponse"
                },
                {
                  "$ref": "#/components/schemas/CountryResponseIso"
                }
              ]
            }
          },
          "filter_source": {
            "type": "string"
          }
        }
      },
      "AttributesResponseV24": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "primary_name": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "country_territory_code": {
            "type": "string"
          },
          "country_territory_name": {
            "type": "string"
          },
          "gender": {
            "type": "string"
          },
          "is_subsidiary": {
            "type": "boolean",
            "default": false
          },
          "score": {
            "type": "string"
          },
          "countries_territories": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/CountryResponse"
                },
                {
                  "$ref": "#/components/schemas/CountryResponseIso"
                }
              ]
            }
          },
          "date_of_birth": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DateObject"
            }
          },
          "matched_criteria": {
            "$ref": "#/components/schemas/MatchedCriteria"
          },
          "icon_hints": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IconHintVo"
            }
          },
          "filter_source": {
            "type": "string"
          }
        }
      },
      "AttributesResponseV25": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "primary_name": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "country_territory_code": {
            "type": "string"
          },
          "country_territory_name": {
            "type": "string"
          },
          "gender": {
            "type": "string"
          },
          "is_subsidiary": {
            "type": "boolean",
            "default": false
          },
          "score": {
            "type": "string"
          },
          "countries_territories": {
            "type": "array",
            "items": {
              "oneOf": [
                {
[...]
