openapi: 3.2.0
info:
  title: Dow Jones Profiles API
  version: '1.0'
  description: 'Operations tagged Profiles across 2 of this provider''s published API definitions: dow-jones-risk-profiles-api-openapi.json, dow-jones-screening-and-monitoring-private-lists-api-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.dowjones.com/riskentities
- url: https://eu.api.dowjones.com/riskentities
- url: https://api.dowjones.com
- url: https://eu.api.dowjones.com
tags:
- name: Profiles
  description: Operations to retrieve R&C Profiles
paths:
  /profiles/{id}:
    get:
      security:
      - bearerAuth: []
      tags:
      - Profiles
      summary: Get Profiles
      description: Get R&C profile given an profile id. It is possible to get only parts of the profile, to reduce response size, using the parts parameter.
      operationId: getProfiles
      parameters:
      - $ref: '#/components/parameters/Id'
      - $ref: '#/components/parameters/ProfileParts'
      - $ref: '#/components/parameters/ProfilesListsDescription'
      - $ref: '#/components/parameters/IsAudit'
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/ProfileNotesTargetTranslation'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'
            application/vnd.dowjones.dna.riskentities-profiles.v_1.0+json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'
            application/vnd.dowjones.dna.riskentities-profiles.v_2.0+json:
              schema:
                $ref: '#/components/schemas/ProfileResponseV20'
            application/vnd.dowjones.dna.riskentities-profiles.v_2.1+json:
              schema:
                $ref: '#/components/schemas/ProfileResponseV21'
            application/vnd.dowjones.dna.riskentities-profiles.v_2.2+json:
              schema:
                $ref: '#/components/schemas/ProfileResponseV22'
            application/vnd.dowjones.dna.riskentities-profiles.v_2.3+json:
              schema:
                $ref: '#/components/schemas/ProfileResponseV23'
            application/vnd.dowjones.dna.riskentities-profiles.v_2.4+json:
              schema:
                $ref: '#/components/schemas/ProfileResponseV24'
            application/vnd.dowjones.dna.riskentities-profiles.v_2.5+json:
              schema:
                $ref: '#/components/schemas/ProfileResponseV25'
            application/vnd.dowjones.dna.riskentities-profiles.v_2.6+json:
              schema:
                $ref: '#/components/schemas/ProfileResponseV26'
            application/vnd.dowjones.dna.riskentities-profiles.v_2.7+json:
              schema:
                $ref: '#/components/schemas/ProfileResponseV27'
            application/vnd.dowjones.dna.riskentities-profiles.v_2.8+json:
              schema:
                $ref: '#/components/schemas/ProfileResponseV28'
        '404':
          description: Not found
    servers:
    - url: https://api.dowjones.com/riskentities
    - url: https://eu.api.dowjones.com/riskentities
  /profiles/{id}/profile-notes:
    get:
      tags:
      - Profiles
      summary: Get Profile Notes by Profile id
      description: Get profile notes from a profile given its id.
      operationId: getProfileNotes
      parameters:
      - $ref: '#/components/parameters/Id'
      - $ref: '#/components/parameters/ProfileNotesParts'
      - $ref: '#/components/parameters/TargetLanguage'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileNotesResponseV2'
            application/vnd.dowjones.dna.riskentities-profiles.v_1.0+json:
              schema:
                $ref: '#/components/schemas/ProfileNotesResponseV2'
        '404':
          description: Not found
    servers:
    - url: https://api.dowjones.com/riskentities
    - url: https://eu.api.dowjones.com/riskentities
  /risk-profiles-custom-sources/{id}/profiles:
    get:
      tags:
      - Profiles
      summary: Retrieves all profiles from a custom source
      operationId: retrieveAllProfilesOnACustomSourceUsingGET
      parameters:
      - $ref: '#/components/parameters/Accept-Encoding'
      - name: page[offset]
        in: query
        description: page offset
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: page[limit]
        in: query
        description: page limit, should not be higher than 500
        required: false
        schema:
          type: integer
          format: int32
          maximum: 500
          default: 100
      - name: parts
        in: query
        description: "Specifies if the profiles should be returned with all attributes or only the ids.\n  * all_attributes - Return all attributes for the profiles\n  * id_only - Returns only the profile ids (Default value)\n"
        example: id_only
        required: false
        schema:
          type: string
          enum:
          - all_attributes
          - id_only
      - name: id
        in: path
        description: Id of the custom source.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/vnd.dowjones.dna.profiles.v_1.0+json:
              schema:
                $ref: '#/components/schemas/ResponseDataGetAllProfiles'
        '401':
          description: Unauthorized
          content:
            application/vnd.dowjones.dna.profiles.v_1.0+json:
              schema:
                $ref: '#/components/schemas/JsonError'
        '403':
          description: Forbidden
          content:
            application/vnd.dowjones.dna.profiles.v_1.0+json:
              schema:
                $ref: '#/components/schemas/JsonError'
        '404':
          description: Not Found
          content:
            application/vnd.dowjones.dna.profiles.v_1.0+json:
              schema:
                $ref: '#/components/schemas/JsonError'
      security:
      - bearerAuth: []
    post:
      tags:
      - Profiles
      summary: Inserts one or more profiles
      operationId: insertProfileUsingPOST
      parameters:
      - $ref: '#/components/parameters/Accept-Encoding'
      - $ref: '#/components/parameters/Content-Encoding'
      - name: id
        in: path
        description: Id of the source.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.dowjones.dna.profiles.v_1.0+json:
            schema:
              $ref: '#/components/schemas/RequestDataInsertProfile'
          application/json:
            schema:
              $ref: '#/components/schemas/RequestDataInsertProfile'
        required: true
      responses:
        '202':
          description: Accepted
          content:
            application/vnd.dowjones.dna.transactions.v_1.0+json:
              schema:
                $ref: '#/components/schemas/ResponseDataInsertTransaction'
        '401':
          description: Unauthorized
          content:
            application/vnd.dowjones.dna.transactions.v_1.0+json:
              schema:
                $ref: '#/components/schemas/JsonError'
        '403':
          description: Forbidden
          content:
            application/vnd.dowjones.dna.transactions.v_1.0+json:
              schema:
                $ref: '#/components/schemas/JsonError'
        '404':
          description: Not Found
          content:
            application/vnd.dowjones.dna.transactions.v_1.0+json:
              schema:
                $ref: '#/components/schemas/JsonError'
      security:
      - bearerAuth: []
    servers:
    - url: https://api.dowjones.com
    - url: https://eu.api.dowjones.com
  /risk-profiles-custom-sources/{id}/profiles/{peid}:
    get:
      tags:
      - Profiles
      summary: Retrieves a Profile
      operationId: retrieveProfileUsingGET
      parameters:
      - $ref: '#/components/parameters/Accept-Encoding'
      - name: id
        in: path
        description: Id of the source.
        required: true
        schema:
          type: string
      - name: peid
        in: path
        description: Id of the profile.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/vnd.dowjones.dna.profiles.v_1.0+json:
              schema:
                $ref: '#/components/schemas/ResponseDataProfileId'
        '401':
          description: Unauthorized
          content:
            application/vnd.dowjones.dna.profiles.v_1.0+json:
              schema:
                $ref: '#/components/schemas/JsonError'
        '403':
          description: Forbidden
          content:
            application/vnd.dowjones.dna.profiles.v_1.0+json:
              schema:
                $ref: '#/components/schemas/JsonError'
        '404':
          description: Not Found
          content:
            application/vnd.dowjones.dna.profiles.v_1.0+json:
              schema:
                $ref: '#/components/schemas/JsonError'
      security:
      - bearerAuth: []
    put:
      tags:
      - Profiles
      summary: Updates a profile
      operationId: updateProfileUsingPUT
      parameters:
      - $ref: '#/components/parameters/Accept-Encoding'
      - $ref: '#/components/parameters/Content-Encoding'
      - name: id
        in: path
        description: Id of the source.
        required: true
        schema:
          type: string
      - name: peid
        in: path
        description: Id of the profile.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.dowjones.dna.profiles.v_1.0+json:
            schema:
              $ref: '#/components/schemas/RequestDataPutProfile'
          application/json:
            schema:
              $ref: '#/components/schemas/RequestDataPutProfile'
        required: true
      responses:
        '202':
          description: Accepted
          content:
            application/vnd.dowjones.dna.transactions.v_1.0+json:
              schema:
                $ref: '#/components/schemas/ResponseDataInsertTransaction'
        '401':
          description: Unauthorized
          content:
            application/vnd.dowjones.dna.transactions.v_1.0+json:
              schema:
                $ref: '#/components/schemas/JsonError'
        '403':
          description: Forbidden
          content:
            application/vnd.dowjones.dna.transactions.v_1.0+json:
              schema:
                $ref: '#/components/schemas/JsonError'
        '404':
          description: Not Found
          content:
            application/vnd.dowjones.dna.transactions.v_1.0+json:
              schema:
                $ref: '#/components/schemas/JsonError'
      security:
      - bearerAuth: []
    delete:
      tags:
      - Profiles
      summary: Removes a profile
      operationId: removeProfileUsingDELETE
      parameters:
      - name: id
        in: path
        description: Id of the source.
        required: true
        schema:
          type: string
      - name: peid
        in: path
        description: Id of the profile.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/vnd.dowjones.dna.profiles.v_1.0+json:
              schema:
                $ref: '#/components/schemas/JsonError'
        '403':
          description: Forbidden
          content:
            application/vnd.dowjones.dna.profiles.v_1.0+json:
              schema:
                $ref: '#/components/schemas/JsonError'
        '404':
          description: Not Found
          content:
            application/vnd.dowjones.dna.profiles.v_1.0+json:
              schema:
                $ref: '#/components/schemas/JsonError'
      security:
      - bearerAuth: []
    servers:
    - url: https://api.dowjones.com
    - url: https://eu.api.dowjones.com
components:
  schemas:
    ProfileResponseV24:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
              example: '12300'
            type:
              type: string
              example: profiles
            attributes:
              $ref: '#/components/schemas/ProfileAttributesV24'
        links:
          $ref: '#/components/schemas/Links'
        meta:
          $ref: '#/components/schemas/ResponseMeta'
    StateOwnershipDetail:
      type: object
      properties:
        countries_territories_of_ownership:
          type: array
          items:
            $ref: '#/components/schemas/Descriptor'
        ownership_note:
          type: string
        ownership_level:
          type: string
        government_levels:
          type: array
          items:
            type: string
        since:
          $ref: '#/components/schemas/DateDetail'
        to:
          $ref: '#/components/schemas/DateDetail'
        value:
          type: number
    PersonAttributesV20:
      type: object
      properties:
        asset_type:
          type: string
        last_reviewed_date:
          type: string
          format: date-time
        content_notice:
          type: string
        country_territory_details:
          $ref: '#/components/schemas/CountryDetails'
        date_details:
          $ref: '#/components/schemas/PersonDateDetails'
        identification_details:
          type: array
          items:
            $ref: '#/components/schemas/IdentificationDetail'
        places_of_birth:
          type: array
          items:
            $ref: '#/components/schemas/PlaceOfBirthDetails'
        gender:
          type: string
        is_deceased:
          type: boolean
        associated_entity_details:
          $ref: '#/components/schemas/AssociatedEntityDetails'
        icon_hints:
          type: array
          items:
            $ref: '#/components/schemas/IconHintVo'
        content_sets:
          type: array
          items:
            type: string
        email_addresses:
          type: array
          items:
            type: string
    Links:
      type: object
      properties:
        self:
          type: string
          format: uri
    BasicAttributesV27:
      type: object
      properties:
        asset_type:
          type: string
        last_reviewed_date:
          type: string
          format: date-time
        content_notice:
          type: string
        type:
          type: string
        type_code:
          type: integer
        factiva_code:
          type: string
        name_details:
          $ref: '#/components/schemas/NameDetailsV21'
        location_name_details:
          $ref: '#/components/schemas/NameDetailsV21'
        address_details:
          type: array
          items:
            $ref: '#/components/schemas/AddressDetail'
    WatchlistMonetaryValueDetail:
      type: object
      properties:
        currency:
          $ref: '#/components/schemas/Currency'
        from_reported_monetary_value:
          type: string
        to_reported_monetary_value:
          type: string
        reported_monetary_type:
          type: string
    EntityAttributesV22:
      type: object
      properties:
        asset_type:
          type: string
        last_reviewed_date:
          type: string
          format: date-time
        content_notice:
          type: string
        country_territory_details:
          $ref: '#/components/schemas/CountryDetails'
        identification_details:
          type: array
          items:
            $ref: '#/components/schemas/IdentificationDetail'
        date_details:
          $ref: '#/components/schemas/EntityDateDetails'
        industries:
          type: array
          items:
            $ref: '#/components/schemas/Industry'
        icon_hints:
          type: array
          items:
            $ref: '#/components/schemas/IconHintVo'
        content_sets:
          type: array
          items:
            type: string
        is_subsidiary:
          type: boolean
    GroupOwnershipDetails:
      type: object
      properties:
        group_beneficial_owner:
          $ref: '#/components/schemas/GroupOwnershipDetail'
        operator:
          $ref: '#/components/schemas/GroupOwnershipDetail'
        registered_owner:
          $ref: '#/components/schemas/GroupOwnershipDetail'
        ship_manager:
          $ref: '#/components/schemas/GroupOwnershipDetail'
        technical_manager:
          $ref: '#/components/schemas/GroupOwnershipDetail'
    LocationAttributesV20:
      type: object
      properties:
        asset_type:
          type: string
        last_reviewed_date:
          type: string
          format: date-time
        content_notice:
          type: string
        content_type_details:
          $ref: '#/components/schemas/ContentTypeDetailsV20'
        identification_details:
          type: array
          items:
            $ref: '#/components/schemas/IdentificationDetail'
        country_territory_details:
          $ref: '#/components/schemas/CountryDetails'
    TradeRestrictedAssociatedEntityAttributesV28:
      type: object
      properties:
        asset_type:
          type: string
        last_reviewed_date:
          type: string
          format: date-time
        content_notice:
          type: string
        content_type_details:
          $ref: '#/components/schemas/ContentTypeDetailsV27'
        sources:
          type: array
          items:
            $ref: '#/components/schemas/Source'
        comment_details:
          $ref: '#/components/schemas/CommentDetailsV28'
    ContentTypeLevelTwo:
      type: object
      properties:
        level:
          type: number
          example: 2
        description:
          type: string
        category_id:
          type: number
        sub_content_types:
          type: array
          items:
            $ref: '#/components/schemas/ContentTypeLevelThree'
    AdverseMediaAttributes:
      type: object
      properties:
        asset_type:
          type: string
        last_reviewed_date:
          type: string
          format: date-time
        content_notice:
          type: string
        content_type_details:
          $ref: '#/components/schemas/ContentTypeDetails'
        adverse_media_details:
          type: array
          items:
            $ref: '#/components/schemas/AdverseMediaDetails'
        sources:
          type: array
          items:
            $ref: '#/components/schemas/Source'
        comment_details:
          $ref: '#/components/schemas/CommentDetails'
    CommentDetailsV25:
      type: object
      properties:
        list_comment:
          type: string
        si_comment:
          type: string
        external_comment:
          type: string
        soc_comment:
          type: string
        am_comment:
          type: string
        mrb_comment:
          type: string
        msb_comment:
          type: string
        si_inv_comment:
          type: string
        content_language:
          type: string
    LicenceDetailsV27:
      type: object
      properties:
        level_of_licence:
          type: string
        level_of_licence_code:
          type: integer
        country:
          $ref: '#/components/schemas/Descriptor'
        licence_number:
          type: string
        region:
          type: string
        licence_status:
          type: string
        licence_status_code:
          type: integer
        licencing_body:
          type: string
        business_types:
          type: array
          items:
            type: string
        licence_descriptions:
          type: array
          items:
            type: string
        state_licence_description:
          type: string
        state_licence_description_code:
          type: integer
        licence_date:
          $ref: '#/components/schemas/DateDetail'
        expiry_date:
          $ref: '#/components/schemas/DateDetail'
        authorized_signature_date:
          $ref: '#/components/schemas/DateDetail'
        received_date:
          $ref: '#/components/schemas/DateDetail'
    OriginalScriptName:
      type: object
      properties:
        language:
          type: string
        name:
          type: string
    FilterValuesV28:
      type: object
      description: Returns filter values based on the current values returned by the profile, refreshing its values based on each request.
      properties:
        type:
          type: array
          items:
            type: string
        type_filter:
          type: array
          items:
            $ref: '#/components/schemas/FilterTypeItem'
        connection_type:
          type: array
          items:
            type: string
        connection_type_filter:
          type: array
          items:
            $ref: '#/components/schemas/FilterConnectionTypeItem'
        icon_hints:
          type: array
          items:
            type: string
    ListReferenceAttributes:
      type: object
      properties:
        asset_type:
          type: string
        last_reviewed_date:
          type: string
          format: date-time
        content_notice:
          type: string
        sanctions_lists:
          type: array
          items:
            $ref: '#/components/schemas/ListReference'
        other_official_lists:
          type: array
          items:
            $ref: '#/components/schemas/ListReference'
        other_exclusion_lists:
          type: array
          items:
            $ref: '#/components/schemas/ListReference'
    ProfileAttributesV22:
      type: object
      properties:
        basic:
          $ref: '#/components/schemas/BasicAttributesV21'
        person:
          $ref: '#/components/schemas/PersonAttributesV20'
        entity:
          $ref: '#/components/schemas/EntityAttributesV22'
        location:
          $ref: '#/components/schemas/LocationAttributesV20'
        state_owned_companies:
          $ref: '#/components/schemas/StateOwnedCompanyAttributesV20'
        adverse_media_entity:
          $ref: '#/components/schemas/AdverseMediaAttributesV20'
        watchlist:
          $ref: '#/components/schemas/WatchlistAttributesV20'
        high_risk_factor:
          $ref: '#/components/schemas/HighRiskFactorAttributesV20'
        relationship:
          $ref: '#/components/schemas/ConnectionAttributesV20'
        list_reference:
          $ref: '#/components/schemas/ListReferenceAttributesV22'
        image:
          $ref: '#/components/schemas/ImageAttributes'
    ConnectionDetail:
      type: object
      properties:
        profile_id:
          type: integer
        type:
          type: string
        is_current:
          type: boolean
        connection_type:
          type: string
        reverse_connection_type:
          type: string
        name_detail:
          $ref: '#/components/schemas/NameDetail'
        icon_hints:
          type: array
          items:
            type: string
    IdentificationDetailV27:
      type: object
      properties:
        type:
          type: string
        type_code:
          type: integer
        value:
          type: string
        issued_country:
          $ref: '#/components/schemas/Descriptor'
        issue_date:
          $ref: '#/components/schemas/DateDetail'
        expiry_date:
          $ref: '#/components/schemas/DateDetail'
        document_type:
          type: string
        issued_by:
          type: string
        comments:
          type: string
        is_ubo_available:
          type: boolean
          example: true
    ProfileAttributes:
      type: object
      properties:
        basic:
          $ref: '#/components/schemas/BasicAttributes'
        person:
          $ref: '#/components/schemas/PersonAttributes'
        entity:
          $ref: '#/components/schemas/EntityAttributes'
        location:
          $ref: '#/components/schemas/LocationAttributes'
        state_owned_companies:
          $ref: '#/components/schemas/StateOwnedCompanyAttributes'
        adverse_media_entity:
          $ref: '#/components/schemas/AdverseMediaAttributes'
        watchlist:
          $ref: '#/components/schemas/WatchlistAttributes'
        high_risk_factor:
          $ref: '#/components/schemas/HighRiskFactorAttributes'
        relationship:
          $ref: '#/components/schemas/ConnectionAttributes'
        list_reference:
          $ref: '#/components/schemas/ListReferenceAttributes'
        image:
          $ref: '#/components/schemas/ImageAttributes'
    CommentDetailsV28:
      type: object
      properties:
        list_comment:
          type: string
        si_comment:
          type: string
        external_comment:
          type: string
        soc_comment:
          type: string
        am_comment:
          type: string
        mrb_comment:
          type: string
        msb_comment:
          type: string
        si_inv_comment:
          type: string
        mae_comment:
          type: string
        tae_comment:
          type: string
        content_language:
          type: string
    ProfileResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
              example: '12300'
            type:
              type: string
              example: profiles
            links:
              $ref: '#/components/schemas/Links'
            attributes:
              $ref: '#/components/schemas/ProfileAttributes'
            meta:
              $ref: '#/components/schemas/Meta'
    EmailVo:
      type: object
      properties:
        email_address:
          type: string
    StateOwnedCompanyDetailsV27:
      type: object
      properties:
        board_appointing_control:
          $ref: '#/components/schemas/StateOwnedCompanyDetailV27'
        voting_control:
          $ref: '#/components/schemas/StateOwnedCompanyDetailV27'
        is_subsidiary:
          type: boolean
        current_ownership:
          $ref: '#/components/schemas/StateOwnershipDetailV27'
        past_ownerships:
          type: array
          items:
            $ref: '#/components/schemas/StateOwnershipDetailV27'
    ImageDetail:
      type: object
      properties:
        external_url:
          type: string
        resource_url:
          type: string
        image_id:
          type: string
    PhoneDetailsVo:
      type: object
      properties:
        type:
          type: string
        number:
          type: string
    AdverseMediaCaseRowDetails:
      type: object
      properties:
        content_type:
          type: string
        parent_content_type:
          type: string
        government_action:
          type: string
        monetary_value_detail:
          $ref: '#/components/schemas/MonetaryValueDetail'
        adverse_media_source_details:
          type: array
          items:
            $ref: '#/components/schemas/CrimeSourceDetail'
    AdverseMediaDetailsV27:
      type: object
      properties:
        number:
          type: integer
        is_adverse_media_source_e_c:
          type: boolean
        is_government_action_e_c:
          type: boolean
        is_monetary_value_e_c:
          type: boolean
        government_action:
          type: string
        government_action_code:
          type: integer
        adverse_media_source_details:
          type: array
          items:
            $ref: '#/components/schemas/CrimeSourceDetailV27'
        monetary_value_detail:
          $ref: '#/components/schemas/MonetaryValueDetailV27'
        case_row_details:
          type: array
          items:
            $ref: '#/components/schemas/AdverseMediaCaseRowDetailsV27'
    LocationAttributes:
      type: object
      properties:
        asset_type:
          type: string
        last_reviewed_date:
          type: string
          format: date-time
        content_notice:
          type: string
        content_type_details:
          $ref: '#/components/schemas/ContentTypeDetails'
        identification_details:
          type: array
          items:
            $ref: '#/components/schemas/IdentificationDetail'
        country_territory_details:
          $ref: '#/components/schemas/CountryDetails'
    FilterTypeItem:
      type: object
      properties:
        type:
          type: string
        type_code:
          type: integer
    StateOwnedCompanyDetail:
      type: object
      properties:
        value:
          type: string
        note:
          type: string
    ConnectionAttributes:
      type: object
      properties:
        asset_type:
          type: string
        last_reviewed_date:
          type: string
          format: date-time
        content_notice:
          type: string
        connection_details:
          type: array
          items:
            $ref: '#/components/schemas/ConnectionDetail'
    RoleDetails:
      type: object
      properties:
        primary:
          $ref: '#/components/schemas/RoleDetail'
        previous:
          type: array
          items:
            $ref: '#/components/schemas/RoleDetail'
        other:
          type: array
          items:
            $ref: '#/components/schemas/RoleDetail'
    SingleStringName:
      type: object
      properties:
        language:
          type: string
        name:
          type: string
    LocationAttributesV27:
      type: object
      properties:
        asset_type:
          type: string
        last_reviewed_date:
          type: string
          format: date-time
        content_notice:
          type: string
        content_type_details:
          $ref: '#/components/schemas/ContentTypeDetailsV27'
        identification_details:
          type: array
          items:
            $ref: '#/components/schemas/IdentificationDetailV27'
        country_territory_details:
          $ref: '#/components/schemas/CountryDetails'
    ConnectionAttributesV24:
      type: object
      properties:
        asset_type:
          type: string
        last_reviewed_date:
          type: string
          format: date-time
        content_notice:
          type: string
        connection_details:
          type: array
          items:
            $ref: '#/components/schemas/ConnectionDetailV20'
    ContentTypeLevelThree:
      type: object
      properties:
        level:
          type: number
          example: 3
        description:
          type: string
        category_id:
          type: number
    WatchlistAttributesV20:
      type: object
      properties:
        asset_type:
          type: string
        last_reviewed_date:
          type: string
          format: date-time
        content_notice:
          type: string
        identification_details:
          type: array
          items:
            $ref: '#/components/schemas/IdentificationDetail'
        country_territory_details:
          $ref: '#/components/schemas/CountryDetails'
        content_type_details:
          $ref: '#/components/schemas/ContentTypeDetailsV20'
        sources:
          type: array
          items:
            $ref: '#/components/schemas/Source'
        reported_allegation_details:
          type: array
          items:
            $ref: '#/components/schemas/ReportedAllegationDetails'
        role_details:
          $ref: '#/components/schemas/RoleDetails'
        aircraft_details:
          $ref: '#/components/schemas/AircraftDetails'
        ship_details:
          $ref: '#/components/schemas/ShipDetails'
        comment_details:
          $ref: '#/components/schemas/CommentDetails'
        address_details:
          type: array
          items:
            $ref: '#/components/schemas/AddressDetail'
    ProfileResponseV21:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
              example: '12300'
            type:
              type: string
              example: profiles
            links:
              $ref: '#/components/schemas/Links'
            attributes:
              $ref: '#/components/schemas/ProfileAttributesV21'
            meta:
              $ref: '#/components/schemas/Meta'
    IconHintVo:
      type: object
      properties:
        icon_hint:
          type: string
        status:
          type: string
    PersonAssociatedEntityDetail:
      type: object
      properties:
        company_factiva_code:
          type: string
        company_name:
          type: string
    WatchlistAttributes:
      type: object
      properties:
        asset_type:
          type: string
        last_reviewed_date:
          type: string
          format: date-time
        content_notice:
          type: string
        identification_details:
          type: array
          items:
            $ref: '#/components/schemas/IdentificationDetail'
        country_territory_details:
          $ref: '#/components/schemas/CountryDetails'
        content_type_details:
          $ref: '#/components/schemas/ContentTypeDetails'
        sources:
          type: array
          items:
            $ref: '#/components/schemas/Source'
        reported_allegation_details:
          type: array
          items:
            $ref: '#/components/schemas/ReportedAllegationDetails'
        role_details:
          $ref: '#/components/schemas/RoleDetails'
        aircraft_details:
          $ref: '#/components/schemas/AircraftDetails'
        ship_details:
          $ref: '#/components/schemas/ShipDetails'
        comment_details:
          $ref: '#/components/schemas/CommentDetails'
        address_details:
          type: array
          items:
            $ref: '#/components/schemas/AddressDetail'
    AircraftDetails:
      type: object
      properties:
        model:
          type: string
        operator:
          type: string
        manufacture_date:
          $ref: '#/components/schemas/DateDetail'
    ProfileAttributesV21:
      type: object
      properties:
        basic:
          $ref: '#/components/schemas/BasicAttributesV21'
        person:
          $ref: '#/components/schemas/PersonAttributesV20'
        entity:
          $ref: '#/components/schemas/EntityAttributesV20'
        location:
          $ref: '#/components/schemas/LocationAttributesV20'
        state_owned_companies:
          $ref: '#/components/schemas/StateOwnedCompanyAttributesV20'
        adverse_media_entity:
          $ref: '#/components/schemas/AdverseMediaAttributesV20'
        watchlist:
          $ref: '#/components/schemas/WatchlistAttributesV20'
        high_risk_factor:
          $ref: '#/components/schemas/HighRiskFactorAttributesV20'
        relationship:
          $ref: '#/components/schemas/ConnectionAttributesV20'
        list_reference:
          $ref: '#/components/schemas/ListReferenceAttributes'
        image:
          $ref: '#/components/schemas/ImageAttributes'
    ProfileResponseV28:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
              example: '12300'
            type:
              type: string
              example: profiles
            attributes:
              $ref: '#/components/schemas/ProfileAttributesV28'
        links:
          $ref: '#/components/schemas/Links'
        meta:
          $ref: '#/components/schemas/ResponseMetaV28'
    StateOwnedCompanyAttributes:
      type: object
      properties:
        asset_type:
          type: string
        last_reviewed_date:
          type: string
          format: date-time
        content_notice:
          type: string
        content_type_details:
          $ref: '#/components/schemas/ContentTypeDetails'
        state_owned_company_detail:
          $ref: '#/components/schemas/StateOwnedCompanyDetails'
        country_territory_details:
          $ref: '#/components/schemas/CountryDetails'
        sources:
          type: array
          items:
            $ref: '#/components/schemas/Source'
        role_details:
          $ref: '#/components/schemas/RoleDetails'
        comment_details:
          $ref: '#/components/schemas/CommentDetails'
        date_details:
          $ref: '#/components/schemas/EntityDateDetails'
    RoleDetailsV27:
      type: object
      properties:
        primary:
          $ref: '#/components/schemas/RoleDetailV27'
        previous:
          type: array
          items:
            $ref: '#/components/schemas/RoleDetailV27'
        other:
          type: array
          items:
            $ref: '#/components/schemas/RoleDetailV27'
    CrimeSourceDetailV27:
      type: object
      properties:
        value:
          type: string
        code:
          type: string
        name:
          type: string
        date:
          $ref: '#/components/schemas/DateDetail'
        language:
          type: string
        language_code:
          type: integer
        snippet:
          type: string
        drn:
          type: string
        accession_number:
          type: string
    InactiveDateDetails:
      type: object
      properties:
        pep:
          $ref: '#/components/schemas/DateDetail'
        rca:
          $ref: '#/components/schemas/DateDetail'
    ReportedAllegationDetails:
      type: object
      properties:
        number:
          type: integer
        is_reported_allegation_e_c:
          type: boolean
        is_government_action_e_c:
          type: boolean
        is_reported_monetary_value_e_c:
          type: boolean
        government_action:
          type: string
        reported_allegation_source_details:
          type: array
          items:
            $ref: '#/components/schemas/CrimeSourceDetail'
        reported_monetary_value_detail:
          $ref: '#/components/schemas/WatchlistMonetaryValueDetail'
        case_row_details:
          type: array
          items:
            $ref: '#/components/schemas/WatchlistCaseRowDetails'
    PersonAttributes:
      type: object
      properties:
        asset_type:
          type: string
        last_reviewed_date:
          type: string
          format: date-time
        content_notice:
          type: string
        country_territory_details:
          $ref: '#/components/schemas/CountryDetails'
        date_details:
          $ref: '#/components/schemas/PersonDateDetails'
        identification_details:
          type: array
          items:
            $ref: '#/components/schemas/IdentificationDetail'
        places_of_birth:
          type: array
          items:
            $ref: '#/components/schemas/PlaceOfBirthDetails'
        gender:
          type: string
        is_deceased:
          type: boolean
        associated_entity_details:
          $ref: '#/components/schemas/AssociatedEntityDetails'
        icon_hints:
          type: array
          items:
            type: string
        content_sets:
          type: array
          items:
            type: string
        email_addresses:
          type: array
          items:
            type: string
    ResponsePaging:
      type: object
      properties:
        last:
          type: string
        first:
          type: string
        next:
          type: string
        prev:
          type: string
        offset:
          $ref: '#/components/schemas/Offset'
    ProfileNotesDetails:
      type: object
      properties:
        comment_details:
          $ref: '#/components/schemas/CommentDetailsV26'
    WatchlistMonetaryValueDetailV27:
      type: object
      properties:
        currency:
          $ref: '#/components/schemas/Currency'
        from_reported_monetary_value:
          type: string
        to_reported_monetary_value:
          type: string
        reported_monetary_type:
          type: string
        reported_monetary_type_code:
          type: integer
    CrimeSourceDetail:
      type: object
      properties:
        value:
          type: string
        code:
          type: string
        name:
          type: string
        date:
          $ref: '#/components/schemas/DateDetail'
        language:
          type: string
        snippet:
          type: string
        drn:
          type: string
        accession_number:
          type: string
    ProfileResponseV25:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
              example: '12300'
            type:
              type: string
              example: profiles
            attributes:
              $ref: '#/components/schemas/ProfileAttributesV25'
        links:
          $ref: '#/components/schemas/Links'
        meta:
          $ref: '#/components/schemas/ResponseMeta'
    HighRiskFactorAttributesV20:
      type: object
      properties:
        asset_type:
          type: string
        last_reviewed_date:
          type: string
          format: date-time
        content_notice:
          type: string
        content_type_details:
          $ref: '#/components/schemas/ContentTypeDetailsV20'
        licence_detail:
          $ref: '#/components/schemas/LicenceDetail'
        comment_details:
          $ref: '#/components/schemas/CommentDetails'
        role_details:
          $ref: '#/components/schemas/RoleDetails'
        sources:
          type: array
          items:
            $ref: '#/components/schemas/Source'
    AdverseMediaAttributesV20:
      type: object
      properties:
        asset_type:
          type: string
        last_reviewed_date:
          type: string
          format: date-time
        content_notice:
          type: string
        content_type_details:
          $ref: '#/components/schemas/ContentTypeDetailsV20'
        adverse_media_details:
          type: array
          items:
            $ref: '#/components/schemas/AdverseMediaDetails'
        sources:
          type: array
          items:
            $ref: '#/components/schemas/Source'
        comment_details:
          $ref: '#/components/schemas/CommentDetails'
    ContentTypeV27:
      type: object
      properties:
        level:
          type: number
          example: 1
        description:
          type: string
        description_code:
          type: integer
        category_id:
          type: number
        active_status:
          type: string
        active_status_code:
          type: integer
        sub_content_types:
          type: array
          items:
            $ref: '#/components/schemas/ContentTypeLevelTwoV27'
    Source:
      type: object
      properties:
        external_link:
          type: string
        title:
          type: string
        drn:
          type: string
        accession_number:
          type: string
    RoleDetailV27:
      type: object
      properties:
        category_type:
          type: string
        category_type_code:
          type: integer
        title:
          type: string
        position:
          type: integer
        since:
          $ref: '#/components/schemas/DateDetail'
        to:
          $ref: '#/components/schemas/DateDetail'
    Vessel:
      type: object
      properties:
        flag_country:
          $ref: '#/components/schemas/Descriptor'
        call_sign:
          type: string
        owner:
          type: string
        grt:
          type: string
        tonnage:
          type: string
        type:
          type: string
    ContentTypeV20:
      type: object
      properties:
        level:
          type: number
          example: 1
        description:
          type: string
        category_id:
          type: number
        active_status:
          type: string
        sub_content_types:
          type: array
          items:
            $ref: '#/components/schemas/ContentTypeLevelTwoV20'
    ContentTypeDetailsV27:
      type: object
      properties:
        active_status:
          type: string
        active_status_code:
          type: integer
        is_lower_threshold:
          type: boolean
        content_types:
          type: array
          items:
            $ref: '#/components/schemas/ContentTypeV27'
    ContentTypeLevelTwoV20:
      type: object
      properties:
        level:
          type: number
          example: 2
        description:
          type: string
        category_id:
          type: number
        active_status:
          type: string
        sub_content_types:
          items:
            $ref: '#/components/schemas/ContentTypeLevelThree'
    ConnectionDetailV20:
      type: object
      properties:
        profile_id:
          type: integer
        type:
          type: string
        is_current:
          type: boolean
        connection_type:
          type: string
        reverse_connection_type:
          type: string
        name_detail:
          $ref: '#/components/schemas/NameDetailFullName'
        icon_hints:
          type: array
          items:
            $ref: '#/components/schemas/IconHintVo'
    ContentType:
      type: object
      properties:
        level:
          type: number
          example: 1
        description:
          type: string
        category_id:
          type: number
        sub_content_types:
          type: array
          items:
            $ref: '#/components/schemas/ContentTypeLevelTwo'
    AdverseMediaAttributesV27:
      type: object
      properties:
        asset_type:
          type: string
        last_reviewed_date:
          type: string
          format: date-time
        content_notice:
          type: string
        content_type_details:
          $ref: '#/components/schemas/ContentTypeDetailsV27'
        adverse_media_details:
          type: array
          items:
            $ref: '#/components/schemas/AdverseMediaDetailsV27'
        sources:
          type: array
          items:
            $ref: '#/components/schemas/Source'
        comment_details:
          $ref: '#/components/schemas/CommentDetails'
    ListReferenceAttributesV22:
      type: object
      properties:
        asset_type:
          type: string
        last_reviewed_date:
          type: string
          format: date-time
        content_notice:
          type: string
        sanctions_lists:
          type: array
          items:
            $ref: '#/components/schemas/ListReferenceV22'
        other_official_lists:
          type: array
          items:
            $ref: '#/components/schemas/ListReferenceV22'
        other_exclusion_lists:
          type: array
          items:
            $ref: '#/components/schemas/ListReferenceV22'
    ContentTypeLevelThreeV27:
      type: object
      properties:
        level:
          type: number
          example: 3
        description:
          type: string
        description_code:
          type: integer
        category_id:
          type: number
    WatchlistAttributesV25:
      type: object
      properties:
        asset_type:
          type: string
        last_reviewed_date:
          type: string
          format: date-time
        content_notice:
          type: string
        identification_details:
          type: array
          items:
            $ref: '#/components/schemas/IdentificationDetail'
        country_territory_details:
          $ref: '#/components/schemas/CountryDetails'
        content_type_details:
          $ref: '#/components/schemas/ContentTypeDetailsV20'
        sources:
          type: array
          items:
            $ref: '#/components/schemas/Source'
        reported_allegation_details:
          type: array
          items:
            $ref: '#/components/schemas/ReportedAllegationDetails'
        role_details:
          $ref: '#/components/schemas/RoleDetails'
        aircraft_details:
          $ref: '#/components/schemas/AircraftDetails'
        ship_details:
          $ref: '#/components/schemas/ShipDetails'
        comment_details:
          $ref: '#/components/schemas/CommentDetailsV25'
        address_details:
          type: array
          items:
            $ref: '#/components/schemas/AddressDetail'
    ProfileAttributesV20:
      type: object
      properties:
        basic:
          $ref: '#/components/schemas/BasicAttributes'
        person:
          $ref: '#/components/schemas/PersonAttributesV20'
        entity:
          $ref: '#/components/schemas/EntityAttributesV20'
        location:
          $ref: '#/components/schemas/LocationAttributesV20'
        state_owned_companies:
          $ref: '#/components/schemas/StateOwnedCompanyAttributesV20'
        adverse_media_entity:
          $ref: '#/components/schemas/AdverseMediaAttributesV20'
        watchlist:
          $ref: '#/components/schemas/WatchlistAttributesV20'
        high_risk_factor:
          $ref: '#/components/schemas/HighRiskFactorAttributesV20'
        relationship:
          $ref: '#/components/schemas/ConnectionAttributesV20'
        list_reference:
          $ref: '#/components/schemas/ListReferenceAttributes'
        image:
          $ref: '#/components/schemas/ImageAttributes'
    GroupOwnershipDetail:
      type: object
      properties:
        value:
          type: string
        country_of_control:
          $ref: '#/components/schemas/Descriptor'
        country_of_domicile:
          $ref: '#/components/schemas/Descriptor'
        country_of_registration:
          $ref: '#/components/schemas/Descriptor'
    Industry:
      type: object
      properties:
        code:
          type: string
        descriptor:
          type: string
        description:
          type: string
    StateOwnedCompanyAttributesV27:
      type: object
      properties:
        asset_type:
          type: string
        last_reviewed_date:
          type: string
          format: date-time
        content_notice:
          type: string
        content_type_details:
          $ref: '#/components/schemas/ContentTypeDetailsV27'
        state_owned_company_detail:
          $ref: '#/components/schemas/StateOwnedCompanyDetailsV27'
        country_territory_details:
          $ref: '#/components/schemas/CountryDetails'
        sources:
          type: array
          items:
            $ref: '#/components/schemas/Source'
        role_details:
          $ref: '#/components/schemas/RoleDetailsV27'
        comment_details:
          $ref: '#/components/schemas/CommentDetails'
        date_details:
          $ref: '#/components/schemas/EntityDateDetails'
    StateOwnershipDetailV27:
      type: object
      properties:
        countries_territories_of_ownership:
          type: array
          items:
            $ref: '#/components/schemas/Descriptor'
        ownership_note:
          type: string
        ownership_level:
          type: string
        ownership_level_code:
          type: integer
        government_levels:
          type: array
          items:
            type: string
        since:
          $ref: '#/components/schemas/DateDetail'
        to:
          $ref: '#/components/schemas/DateDetail'
        value:
          type: number
    EntityAttributesV20:
      type: object
      properties:
        asset_type:
          type: string
        last_reviewed_date:
          type: string
          format: date-time
        content_notice:
          type: string
        country_territory_details:
          $ref: '#/components/schemas/CountryDetails'
        identification_details:
          type: array
          items:
            $ref: '#/components/schemas/IdentificationDetail'
        date_details:
          $ref: '#/components/schemas/EntityDateDetails'
        industries:
          type: array
          items:
            $ref: '#/components/schemas/Industry'
        icon_hints:
          type: array
          items:
            $ref: '#/components/schemas/IconHintVo'
        content_sets:
          type: array
          items:
            type: string
    FilterValuesV27:
      type: object
      description: Returns filter values based on the current values returned by the profile, refreshing its values based on each request.
      properties:
        type:
          type: array
          items:
            type: string
        type_filter:
          type: array
          items:
            $ref: '#/components/schemas/FilterTypeItem'
        connection_type:
          type: array
          items:
            type: string
        connection_type_filter:
          type: array
          items:
            $ref: '#/components/schemas/FilterConnectionTypeItem'
        icon_hints:
          type: array
          items:
            type: string
    ShipDetails:
      type: object
      properties:
        vessels:
          type: array
          items:
            $ref: '#/components/schemas/Vessel'
        group_ownership_details:
          $ref: '#/components/schemas/GroupOwnershipDetails'
    EntityAttributes:
      type: object
      properties:
        asset_type:
          type: string
        last_reviewed_date:
          type: string
          format: date-time
        content_notice:
          type: string
        country_territory_details:
          $ref: '#/components/schemas/CountryDetails'
        identification_details:
          type: array
          items:
            $ref: '#/components/schemas/IdentificationDetail'
        date_details:
          $ref: '#/components/schemas/EntityDateDetails'
        industries:
          type: array
          items:
            $ref: '#/components/schemas/Industry'
        icon_hints:
          type: array
          items:
            type: string
        content_sets:
          type: array
          items:
            type: string
    ListReference:
      type: object
      properties:
        name:
          type: string
        sources:
          type: array
          items:
            type: string
        from_date:
          $ref: '#/components/schemas/DateDetail'
        to_date:
          $ref: '#/components/schemas/DateDetail'
    ContentTypeLevelTwoV27:
      type: object
      properties:
        level:
          type: number
          example: 2
        description:
          type: string
        description_code:
          type: integer
        category_id:
          type: number
        active_status:
          type: string
        active_status_code:
          type: integer
        sub_content_types:
          items:
            $ref: '#/components/schemas/ContentTypeLevelThreeV27'
    LicenceDetail:
      type: object
      properties:
        business_formation_state:
          type: string
        business_formation_type:
          type: string
        registration_link:
          type: string
        mrb_licence_details:
          type: array
          items:
            $ref: '#/components/schemas/LicenceDetails'
        msb_licence_details:
          type: array
          items:
            $ref: '#/components/schemas/LicenceDetails'
    ProfileResponseV27:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
              example: '12300'
            type:
              type: string
              example: profiles
            attributes:
              $ref: '#/components/schemas/ProfileAttributesV27'
        links:
          $ref: '#/components/schemas/Links'
        meta:
          $ref: '#/components/schemas/ResponseMetaV27'
    MonetaryValueDetailV27:
      type: object
      properties:
        currency:
          $ref: '#/components/schemas/Currency'
        from:
          type: string
        to:
          type: string
        monetary_type:
          type: string
        monetary_type_code:
          type: integer
    HighRiskFactorAttributesV27:
      type: object
      properties:
        asset_type:
          type: string
        last_reviewed_date:
          type: string
          format: date-time
        content_notice:
          type: string
        content_type_details:
          $ref: '#/components/schemas/ContentTypeDetailsV27'
        licence_detail:
          $ref: '#/components/schemas/LicenceDetailV27'
        comment_details:
          $ref: '#/components/schemas/CommentDetails'
        role_details:
          $ref: '#/components/schemas/RoleDetailsV27'
        sources:
          type: array
          items:
            $ref: '#/components/schemas/Source'
    StateOwnedCompanyDetails:
      type: object
      properties:
        board_appointing_control:
          $ref: '#/components/schemas/StateOwnedCompanyDetail'
        voting_control:
          $ref: '#/components/schemas/StateOwnedCompanyDetail'
        is_subsidiary:
          type: boolean
        current_ownership:
          $ref: '#/components/schemas/StateOwnershipDetail'
        past_ownerships:
          type: array
          items:
            $ref: '#/components/schemas/StateOwnershipDetail'
    ProfileNotesAttributes:
      type: object
      properties:
        state_owned_company:
          $ref: '#/components/schemas/ProfileNotesDetails'
        adverse_media_entity:
          $ref: '#/components/schemas/ProfileNotesDetails'
        watchlist:
          $ref: '#/components/schemas/ProfileNotesDetails'
        high_risk_factor:
          $ref: '#/components/schemas/ProfileNotesDetails'
    FilterConnectionTypeItem:
      type: object
      properties:
        connection_type:
          type: string
        connection_type_code:
          type: integer
    CountryDetails:
      type: object
      properties:
        citizenship:
          type: array
          items:
            $ref: '#/components/schemas/Descriptor'
        residence:
          type: array
          items:
            $ref: '#/components/schemas/Descriptor'
        reported_allegation:
          type: array
          items:
            $ref: '#/components/schemas/Descriptor'
        jurisdiction:
          type: array
          items:
            $ref: '#/components/schemas/Descriptor'
        registration:
          type: array
          items:
            $ref: '#/components/schemas/Descriptor'
        affiliation:
          type: array
          items:
            $ref: '#/components/schemas/Descriptor'
        enhanced_risk:
          type: array
          items:
            $ref: '#/components/schemas/Descriptor'
        current_ownership:
          type: array
          items:
            $ref: '#/components/schemas/Descriptor'
        past_ownership:
          type: array
          items:
            $ref: '#/components/schemas/Descriptor'
        sanctioned_region:
          type: array
          items:
            $ref: '#/components/schemas/Descriptor'
        formerly_sanctioned_region:
          type: array
          items:
            $ref: '#/components/schemas/Descriptor'
    FilterValues:
      type: object
      description: Returns filter values based on the current values returned by the profile, refreshing its values based on each request.
      properties:
        type:
          type: array
          items:
            type: string
        connection_type:
          type: array
          items:
            type: string
        icon_hints:
          type: array
          items:
            type: string
    NameDetails:
      type: object
      properties:
        primary_name:
          $ref: '#/components/schemas/NameDetail'
        also_known_as:
          type: array
          items:
            $ref: '#/components/schemas/NameDetail'
        low_quality_aka:
          type: array
          items:
            $ref: '#/components/schemas/NameDetail'
        expanded_language_variation:
          type: array
          items:
            $ref: '#/components/schemas/NameDetail'
        formerly_known_as:
          type: array
          items:
            $ref: '#/components/schemas/NameDetail'
        maiden_name:
          type: array
          items:
            $ref: '#/components/schemas/NameDetail'
    BasicAttributesV21:
      type: object
      properties:
        asset_type:
          type: string
        last_reviewed_date:
          type: string
          format: date-time
        content_notice:
          type: string
        type:
          type: string
        factiva_code:
          type: string
        name_details:
          $ref: '#/components/schemas/NameDetailsV21'
        location_name_details:
          $ref: '#/components/schemas/NameDetailsV21'
        address_details:
          type: array
          items:
            $ref: '#/components/schemas/AddressDetail'
    ResponseMetaV28:
      type: object
      properties:
        paging:
          $ref: '#/components/schemas/ResponsePaging'
        duns:
          type: string
          example: '000000001'
        is_ubo_available:
          type: boolean
          example: true
        is_audit:
          type: boolean
          example: true
        total_count:
          type: integer
          format: int32
        count:
          type: integer
          format: int32
        filter_values:
          $ref: '#/components/schemas/FilterValuesV28'
    ProfileResponseV26:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
              example: '12300'
            type:
              type: string
              example: profiles
            attributes:
              $ref: '#/components/schemas/ProfileAttributesV26'
        links:
          $ref: '#/components/schemas/Links'
        meta:
          $ref: '#/components/schemas/ResponseMeta'
    DateDetail:
      type: object
      properties:
        day:
          type: integer
        month:
          type: integer
        year:
          type: integer
    StateOwnedCompanyDetailV27:
      type: object
      properties:
        value:
          type: string
        note:
          type: string
        code:
          type: string
    EntityAttributesV27:
      type: object
      properties:
        asset_type:
          type: string
        last_reviewed_date:
          type: string
          format: date-time
        content_notice:
          type: string
        country_territory_details:
          $ref: '#/components/schemas/CountryDetails'
        identification_details:
          type: array
          items:
            $ref: '#/components/schemas/IdentificationDetailV27'
        date_details:
          $ref: '#/components/schemas/EntityDateDetails'
        industries:
          type: array
          items:
            $ref: '#/components/schemas/Industry'
        icon_hints:
          type: array
          items:
            $ref: '#/components/schemas/IconHintVo'
        content_sets:
          type: array
          items:
            type: string
        is_subsidiary:
          type: boolean
        email_addresses:
          type: array
          items:
            $ref: '#/components/schemas/EmailVo'
        phone_details:
          type: array
          items:
            $ref: '#/components/schemas/PhoneDetailsVo'
    PlaceOfBirthDetails:
      type: object
      properties:
        city:
          type: string
        country:
          $ref: '#/components/schemas/Descriptor'
    WatchlistCaseRowDetailsV27:
      type: object
      properties:
        content_type:
          type: string
        content_type_code:
          type: integer
        parent_content_type:
          type: string
        parent_content_type_code:
          type: integer
        government_action:
          type: string
        government_action_code:
          type: integer
        reported_monetary_value_detail:
          $ref: '#/components/schemas/MonetaryValueDetail'
        reported_allegation_source_details:
          type: array
          items:
            $ref: '#/components/schemas/CrimeSourceDetail'
    RoleDetail:
      type: object
      properties:
        category_type:
          type: string
        title:
          type: string
        position:
          type: integer
        since:
          $ref: '#/components/schemas/DateDetail'
        to:
          $ref: '#/components/schemas/DateDetail'
    NameDetail:
      type: object
      properties:
        first_name:
          type: string
        middle_name:
          type: string
        surname:
          type: string
        prefix:
          type: string
        suffix:
          type: string
        language:
          type: string
        name:
          type: string
        associated_names:
          $ref: '#/components/schemas/AssociatedNames'
    ContentTypeDetailsV20:
      type: object
      properties:
        active_status:
          type: string
        is_lower_threshold:
          type: boolean
        content_types:
          type: array
          items:
            $ref: '#/components/schemas/ContentTypeV20'
    AssociatedEntityDetails:
      type: object
      properties:
        associated_entities:
          type: array
          items:
            $ref: '#/components/schemas/PersonAssociatedEntityDetail'
        reported_associated_entities:
          type: array
          items:
            $ref: '#/components/schemas/PersonAssociatedEntityDetail'
        reported_affected_entities:
          type: array
          items:
            $ref: '#/components/schemas/PersonAssociatedEntityDetail'
    Descriptor:
      type: object
      properties:
        code:
          type: string
        descriptor:
          type: string
        iso_alpha2:
          type: string
        iso_alpha3:
          type: string
    ContentTypeDetails:
      type: object
      properties:
        active_status:
          type: string
        is_lower_threshold:
          type: boolean
        content_types:
          type: array
          items:
            $ref: '#/components/schemas/ContentType'
    HighRiskFactorAttributes:
      type: object
      properties:
        asset_type:
          type: string
        last_reviewed_date:
          type: string
          format: date-time
        content_notice:
          type: string
        content_type_details:
          $ref: '#/components/schemas/ContentTypeDetails'
        licence_detail:
          $ref: '#/components/schemas/LicenceDetail'
        comment_details:
          $ref: '#/components/schemas/CommentDetails'
        role_details:
          $ref: '#/components/schemas/RoleDetails'
        sources:
          type: array
          items:
            $ref: '#/components/schemas/Source'
    ProfileAttributesV27:
      type: object
      properties:
        basic:
          $ref: '#/components/schemas/BasicAttributesV27'
        person:
          $ref: '#/components/schemas/PersonAttributesV27'
        entity:
          $ref: '#/components/schemas/EntityAttributesV27'
        location:
          $ref: '#/components/schemas/LocationAttributesV27'
        state_owned_companies:
          $ref: '#/components/schemas/StateOwnedCompanyAttributesV27'
        adverse_media_entity:
          $ref: '#/components/schemas/AdverseMediaAttributesV27'
        watchlist:
          $ref: '#/components/schemas/WatchlistAttributesV27'
        high_risk_factor:
          $ref: '#/components/schemas/HighRiskFactorAttributesV27'
        relationship:
          $ref: '#/components/schemas/ConnectionAttributesV27'
        list_reference:
          $ref: '#/components/schemas/ListReferenceAttributesV22'
        image:
          $ref: '#/components/schemas/ImageAttributes'
        military_associated_entity:
          $ref: '#/components/schemas/MilitaryAssociatedEntityAttributesV27'
    ProfileAttributesV28:
      type: object
      properties:
        basic:
          $ref: '#/components/schemas/BasicAttributesV27'
        person:
          $ref: '#/components/schemas/PersonAttributesV27'
        entity:
          $ref: '#/components/schemas/EntityAttributesV27'
        location:
          $ref: '#/components/schemas/LocationAttributesV27'
        state_owned_companies:
          $ref: '#/components/schemas/StateOwnedCompanyAttributesV27'
        adverse_media_entity:
          $ref: '#/components/schemas/AdverseMediaAttributesV27'
        watchlist:
          $ref: '#/components/schemas/WatchlistAttributesV27'
        high_risk_factor:
          $ref: '#/components/schemas/HighRiskFactorAttributesV27'
        relationship:
          $ref: '#/components/schemas/ConnectionAttributesV27'
        list_reference:
          $ref: '#/components/schemas/ListReferenceAttributesV22'
        image:
          $ref: '#/components/schemas/ImageAttributes'
        military_associated_entity:
          $ref: '#/components/schemas/MilitaryAssociatedEntityAttributesV27'
        trade_restricted_associated_entity:
          $ref: '#/components/schemas/TradeRestrictedAssociatedEntityAttributesV28'
    WatchlistCaseRowDetails:
      type: object
      properties:
        content_type:
          type: string
        parent_content_type:
          type: string
        government_action:
          type: string
        reported_monetary_value_detail:
          $ref: '#/components/schemas/MonetaryValueDetail'
        reported_allegation_source_details:
          type: array
          items:
            $ref: '#/components/schemas/CrimeSourceDetail'
    EntityDateDetails:
      type: object
      properties:
        registration:
          type: array
          items:
            properties:
              comments:
                type: string
              date:
                $ref: '#/components/schemas/DateDetail'
        cessation:
          type: array
          items:
            properties:
              comments:
                type: string
              date:
                $ref: '#/components/schemas/DateDetail'
        nationalisation:
          type: array
          items:
            properties:
              comments:
                type: string
              date:
                $ref: '#/components/schemas/DateDetail'
        privatisation:
          type: array
          items:
            properties:
              comments:
                type: string
              date:
                $ref: '#/components/schemas/DateDetail'
        inactive_as_of_date:
          $ref: '#/components/schemas/InactiveDateDetails'
    ConnectionDetailV27:
      type: object
      properties:
        profile_id:
          type: integer
        type:
          type: string
        type_code:
          type: integer
        is_current:
          type: boolean
        connection_type:
          type: string
        connection_type_with_status:
          type: string
        connection_type_code:
          type: integer
        reverse_connection_type:
          type: string
        reverse_connection_type_with_status:
          type: string
        reverse_connection_type_code:
          type: integer
        name_detail:
          $ref: '#/components/schemas/NameDetailFullName'
        icon_hints:
          type: array
          items:
            $ref: '#/components/schemas/IconHintVo'
    ProfileResponseV22:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
              example: '12300'
            type:
              type: string
              example: profiles
            links:
              $ref: '#/components/schemas/Links'
            attributes:
              $ref: '#/components/schemas/ProfileAttributesV22'
            meta:
              $ref: '#/components/schemas/Meta'
    CommentDetailsV26:
      type: object
      properties:
        list_comment:
          type: string
        si_comment:
          type: string
        external_comment:
          type: string
        soc_comment:
          type: string
        am_comment:
          type: string
        mrb_comment:
          type: string
        msb_comment:
          type: string
        si_inv_comment:
          type: string
        mae_comment:
          type: string
        content_language:
          type: string
    ConnectionAttributesV27:
      type: object
      properties:
        asset_type:
          type: string
        last_reviewed_date:
          type: string
          format: date-time
        content_notice:
          type: string
        connection_details:
          type: array
          items:
            $ref: '#/components/schemas/ConnectionDetailV27'
    NameDetailFullName:
      type: object
      properties:
        full_name:
          type: string
        first_name:
          type: string
        middle_name:
          type: string
        surname:
          type: string
        prefix:
          type: string
        suffix:
          type: string
        language:
          type: string
        name:
          type: string
        associated_names:
          $ref: '#/components/schemas/AssociatedNames'
    ProfileAttributesV25:
      type: object
      properties:
        basic:
          $ref: '#/components/schemas/BasicAttributesV21'
        person:
          $ref: '#/components/schemas/PersonAttributesV20'
        entity:
          $ref: '#/components/schemas/EntityAttributesV22'
        location:
          $ref: '#/components/schemas/LocationAttributesV20'
        state_owned_companies:
          $ref: '#/components/schemas/StateOwnedCompanyAttributesV20'
        adverse_media_entity:
          $ref: '#/components/schemas/AdverseMediaAttributesV20'
        watchlist:
          $ref: '#/components/schemas/WatchlistAttributesV25'
        high_risk_factor:
          $ref: '#/components/schemas/HighRiskFactorAttributesV20'
        relationship:
          $ref: '#/components/schemas/ConnectionAttributesV24'
        list_reference:
          $ref: '#/components/schemas/ListReferenceAttributesV22'
        image:
          $ref: '#/components/schemas/ImageAttributes'
    WatchlistAttributesV27:
      type: object
      properties:
        asset_type:
          type: string
        last_reviewed_date:
          type: string
          format: date-time
        content_notice:
          type: string
        identification_details:
          type: array
          items:
            $ref: '#/components/schemas/IdentificationDetailV27'
        country_territory_details:
          $ref: '#/components/schemas/CountryDetails'
        content_type_details:
          $ref: '#/components/schemas/ContentTypeDetailsV27'
        sources:
          type: array
          items:
            $ref: '#/components/schemas/Source'
        reported_allegation_details:
          type: array
          items:
            $ref: '#/components/schemas/ReportedAllegationDetailsV27'
        role_details:
          $ref: '#/components/schemas/RoleDetailsV27'
        aircraft_details:
          $ref: '#/components/schemas/AircraftDetails'
        ship_details:
          $ref: '#/components/schemas/ShipDetails'
        comment_details:
          $ref: '#/components/schemas/CommentDetailsV25'
        address_details:
          type: array
          items:
            $ref: '#/components/schemas/AddressDetail'
    ReportedAllegationDetailsV27:
      type: object
      properties:
        number:
          type: integer
        is_reported_allegation_e_c:
          type: boolean
        is_government_action_e_c:
          type: boolean
        is_reported_monetary_value_e_c:
          type: boolean
        government_action:
          type: string
        government_action_code:
          type: integer
        reported_allegation_source_details:
          type: array
          items:
            $ref: '#/components/schemas/CrimeSourceDetailV27'
        reported_monetary_value_detail:
          $ref: '#/components/schemas/WatchlistMonetaryValueDetailV27'
        case_row_details:
          type: array
          items:
            $ref: '#/components/schemas/WatchlistCaseRowDetailsV27'
    StateOwnedCompanyAttributesV20:
      type: object
      properties:
        asset_type:
          type: string
        last_reviewed_date:
          type: string
          format: date-time
        content_notice:
          type: string
        content_type_details:
          $ref: '#/components/schemas/ContentTypeDetailsV20'
        state_owned_company_detail:
          $ref: '#/components/schemas/StateOwnedCompanyDetails'
        country_territory_details:
          $ref: '#/components/schemas/CountryDetails'
        sources:
          type: array
          items:
            $ref: '#/components/schemas/Source'
        role_details:
          $ref: '#/components/schemas/RoleDetails'
        comment_details:
          $ref: '#/components/schemas/CommentDetails'
        date_details:
          $ref: '#/components/schemas/EntityDateDetails'
    AssociatedNames:
      type: object
      properties:
        original_script_names:
          type: array
          items:
            $ref: '#/components/schemas/OriginalScriptName'
        spelling_variations:
          type: array
          items:
            $ref: '#/components/schemas/SpellingVariation'
        single_string_names:
          type: array
          items:
            $ref: '#/components/schemas/SingleStringName'
    MilitaryAssociatedEntityAttributesV27:
      type: object
      properties:
        asset_type:
          type: string
        last_reviewed_date:
          type: string
          format: date-time
        content_notice:
          type: string
        content_type_details:
          $ref: '#/components/schemas/ContentTypeDetailsV27'
        sources:
          type: array
          items:
            $ref: '#/components/schemas/Source'
        comment_details:
          $ref: '#/components/schemas/CommentDetailsV26'
    ResponseMetaV27:
      type: object
      properties:
        paging:
          $ref: '#/components/schemas/ResponsePaging'
        duns:
          type: string
          example: '000000001'
        is_ubo_available:
          type: boolean
          example: true
        is_audit:
          type: boolean
          example: true
        total_count:
          type: integer
          format: int32
        count:
          type: integer
          format: int32
        filter_values:
          $ref: '#/components/schemas/FilterValuesV27'
    CommentDetails:
      type: object
      properties:
        list_comment:
          type: string
        si_comment:
          type: string
        external_comment:
          type: string
        soc_comment:
          type: string
        am_comment:
          type: string
        mrb_comment:
          type: string
        msb_comment:
          type: string
        content_language:
          type: string
    IdentificationDetail:
      type: object
      properties:
        type:
          type: string
        value:
          type: string
        issued_country:
          $ref: '#/components/schemas/Descriptor'
        issue_date:
          $ref: '#/components/schemas/DateDetail'
        expiry_date:
          $ref: '#/components/schemas/DateDetail'
        document_type:
          type: string
        issued_by:
          type: string
        comments:
          type: string
        is_ubo_available:
          type: boolean
          example: true
    ResponseMeta:
      type: object
      properties:
        paging:
          $ref: '#/components/schemas/ResponsePaging'
        duns:
          type: string
          example: '000000001'
        is_ubo_available:
          type: boolean
          example: true
        is_audit:
          type: boolean
          example: true
        total_count:
          type: integer
          format: int32
        count:
          type: integer
          format: int32
        filter_values:
          $ref: '#/components/schemas/FilterValues'
    ImageAttributes:
      type: object
      properties:
        asset_type:
          type: string
        last_reviewed_date:
          type: string
          format: date-time
        content_notice:
          type: string
        image_details:
          type: array
          items:
            $ref: '#/components/schemas/ImageDetail'
    BasicAttributes:
      type: object
      properties:
        asset_type:
          type: string
        last_reviewed_date:
          type: string
          format: date-time
        content_notice:
          type: string
        type:
          type: string
        factiva_code:
          type: string
        name_details:
          $ref: '#/components/schemas/NameDetails'
        location_name_details:
          $ref: '#/components/schemas/NameDetails'
        address_details:
          type: array
          items:
            $ref: '#/components/schemas/AddressDetail'
    ListReferenceV22:
      type: object
      properties:
        name:
          type: string
        sources:
          type: array
          items:
            type: string
        description:
          type: string
        from_date:
          $ref: '#/components/schemas/DateDetail'
        to_date:
          $ref: '#/components/schemas/DateDetail'
    MonetaryValueDetail:
      type: object
      properties:
        currency:
          $ref: '#/components/schemas/Currency'
        from:
          type: string
        to:
          type: string
        monetary_type:
          type: string
    Offset:
      type: object
      properties:
        first:
          type: integer
        last:
          type: integer
        next:
          type: integer
        prev:
          type: integer
        current:
          type: integer
    LicenceDetailV27:
      type: object
      properties:
        business_formation_state:
          type: string
        business_formation_type:
          type: string
        registration_link:
          type: string
        mrb_licence_details:
          type: array
          items:
            $ref: '#/components/schemas/LicenceDetailsV27'
        msb_licence_details:
          type: array
          items:
            $ref: '#/components/schemas/LicenceDetailsV27'
    NameDetailsV21:
      type: object
      properties:
        primary_name:
          $ref: '#/components/schemas/NameDetail'
        also_known_as:
          type: array
          items:
            $ref: '#/components/schemas/NameDetail'
        low_quality_aka:
          type: array
          items:
            $ref: '#/components/schemas/NameDetail'
        expanded_language_variation:
          type: array
          items:
            $ref: '#/components/schemas/NameDetail'
        formerly_known_as:
          type: array
          items:
            $ref: '#/components/schemas/NameDetail'
        maiden_name:
          type: array
          items:
            $ref: '#/components/schemas/NameDetail'
        reclassified_aka:
          type: array
          items:
            $ref: '#/components/schemas/NameDetail'
    ConnectionAttributesV20:
      type: object
      properties:
        asset_type:
          type: string
        last_reviewed_date:
          type: string
          format: date-time
        content_notice:
          type: string
        connection_details:
          type: array
          items:
            $ref: '#/components/schemas/ConnectionDetailV20'
    ProfileAttributesV24:
      type: object
      properties:
        basic:
          $ref: '#/components/schemas/BasicAttributesV21'
        person:
          $ref: '#/components/schemas/PersonAttributesV20'
        entity:
          $ref: '#/components/schemas/EntityAttributesV22'
        location:
          $ref: '#/components/schemas/LocationAttributesV20'
        state_owned_companies:
          $ref: '#/components/schemas/StateOwnedCompanyAttributesV20'
        adverse_media_entity:
          $ref: '#/components/schemas/AdverseMediaAttributesV20'
        watchlist:
          $ref: '#/components/schemas/WatchlistAttributesV20'
        high_risk_factor:
          $ref: '#/components/schemas/HighRiskFactorAttributesV20'
        relationship:
          $ref: '#/components/schemas/ConnectionAttributesV24'
        list_reference:
          $ref: '#/components/schemas/ListReferenceAttributesV22'
        image:
          $ref: '#/components/schemas/ImageAttributes'
    MilitaryAssociatedEntityAttributesV26:
      type: object
      properties:
        asset_type:
          type: string
        last_reviewed_date:
          type: string
          format: date-time
        content_notice:
          type: string
        content_type_details:
          $ref: '#/components/schemas/ContentTypeDetailsV20'
        sources:
          type: array
          items:
            $ref: '#/components/schemas/Source'
        comment_details:
          $ref: '#/components/schemas/CommentDetailsV26'
    MetaAudit:
      required:
      - an
      type: object
      properties:
        duns:
          type: string
          example: '000000001'
        is_ubo_available:
          type: boolean
          example: true
        is_audit:
          type: boolean
          example: true
    AdverseMediaDetails:
      type: object
      properties:
        number:
          type: integer
        is_adverse_media_source_e_c:
          type: boolean
        is_government_action_e_c:
          type: boolean
        is_monetary_value_e_c:
          type: boolean
        government_action:
          type: string
        adverse_media_source_details:
          type: array
          items:
            $ref: '#/components/schemas/CrimeSourceDetail'
        monetary_value_detail:
          $ref: '#/components/schemas/MonetaryValueDetail'
        case_row_details:
          type: array
          items:
            $ref: '#/components/schemas/AdverseMediaCaseRowDetails'
    Currency:
      type: object
      properties:
        code:
          type: string
        name:
          type: string
    ProfileResponseV23:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
              example: '12300'
            type:
              type: string
              example: profiles
            links:
              $ref: '#/components/schemas/Links'
            attributes:
              $ref: '#/components/schemas/ProfileAttributesV22'
        meta:
          $ref: '#/components/schemas/MetaAudit'
    SpellingVariation:
      type: object
      properties:
        name:
          type: string
        first_name:
          type: string
        middle_name:
          type: string
        surname:
          type: string
        prefix:
          type: string
        suffix:
          type: string
    ProfileAttributesV26:
      type: object
      properties:
        basic:
          $ref: '#/components/schemas/BasicAttributesV21'
        person:
          $ref: '#/components/schemas/PersonAttributesV20'
        entity:
          $ref: '#/components/schemas/EntityAttributesV22'
        location:
          $ref: '#/components/schemas/LocationAttributesV20'
        state_owned_companies:
          $ref: '#/components/schemas/StateOwnedCompanyAttributesV20'
        adverse_media_entity:
          $ref: '#/components/schemas/AdverseMediaAttributesV20'
        watchlist:
          $ref: '#/components/schemas/WatchlistAttributesV25'
        high_risk_factor:
          $ref: '#/components/schemas/HighRiskFactorAttributesV20'
        relationship:
          $ref: '#/components/schemas/ConnectionAttributesV24'
        list_reference:
          $ref: '#/components/schemas/ListReferenceAttributesV22'
        image:
          $ref: '#/components/schemas/ImageAttributes'
        military_associated_entity:
          $ref: '#/components/schemas/MilitaryAssociatedEntityAttributesV26'
    PersonAttributesV27:
      type: object
      properties:
        asset_type:
          type: string
        last_reviewed_date:
          type: string
          format: date-time
        content_notice:
          type: string
        country_territory_details:
          $ref: '#/components/schemas/CountryDetails'
        date_details:
          $ref: '#/components/schemas/PersonDateDetails'
        identification_details:
          type: array
          items:
            $ref: '#/components/schemas/IdentificationDetailV27'
        places_of_birth:
          type: array
          items:
            $ref: '#/components/schemas/PlaceOfBirthDetails'
        gender:
          type: string
        gender_code:
          type: integer
        is_deceased:
          type: boolean
        associated_entity_details:
          $ref: '#/components/schemas/AssociatedEntityDetails'
        icon_hints:
          type: array
          items:
            $ref: '#/components/schemas/IconHintVo'
        content_sets:
          type: array
          items:
            type: string
        email_addresses:
          type: array
          items:
            $ref: '#/components/schemas/EmailVo'
        phone_details:
          type: array
          items:
            $ref: '#/components/schemas/PhoneDetailsVo'
    ProfileResponseV20:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
              example: '12300'
            type:
              type: string
              example: profiles
            links:
              $ref: '#/components/schemas/Links'
            attributes:
              $ref: '#/components/schemas/ProfileAttributesV20'
            meta:
              $ref: '#/components/schemas/Meta'
    PersonDateDetails:
      type: object
      properties:
        deceased:
          type: array
          items:
            properties:
              date:
                $ref: '#/components/schemas/DateDetail'
        birth:
          type: array
          items:
            properties:
              date:
                $ref: '#/components/schemas/DateDetail'
        registration:
          type: array
          items:
            properties:
              date:
                $ref: '#/components/schemas/DateDetail'
        inactive_as_of_date:
          $ref: '#/components/schemas/InactiveDateDetails'
    AddressDetail:
      type: object
      properties:
        address:
          type: string
        city:
          type: string
        postal_code:
          type: string
        url:
          type: string
        country:
          $ref: '#/components/schemas/Descriptor'
        region:
          type: string
        sub_region:
          type: string
    AdverseMediaCaseRowDetailsV27:
      type: object
      properties:
        content_type:
          type: string
        parent_content_type:
          type: string
        government_action:
          type: string
        government_action_code:
          type: integer
        monetary_value_detail:
          $ref: '#/components/schemas/MonetaryValueDetailV27'
        adverse_media_source_details:
          type: array
          items:
            $ref: '#/components/schemas/CrimeSourceDetailV27'
    LicenceDetails:
      type: object
      properties:
        level_of_licence:
          type: string
        country:
          $ref: '#/components/schemas/Descriptor'
        licence_number:
          type: string
        region:
          type: string
        licence_status:
          type: string
        licencing_body:
          type: string
        business_types:
          type: array
          items:
            type: string
        licence_descriptions:
          type: array
          items:
            type: string
        state_licence_description:
          type: string
        licence_date:
          $ref: '#/components/schemas/DateDetail'
        expiry_date:
          $ref: '#/components/schemas/DateDetail'
        authorized_signature_date:
          $ref: '#/components/schemas/DateDetail'
        received_date:
          $ref: '#/components/schemas/DateDetail'
    ProfileNotesResponseV2:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
              example: '12300'
            type:
              type: string
              example: profile-notes
            links:
              $ref: '#/components/schemas/Links'
            attributes:
              $ref: '#/components/schemas/ProfileNotesAttributes'
    Meta:
      required:
      - an
      type: object
      properties:
        duns:
          type: string
          example: '000000001'
        is_ubo_available:
          type: boolean
          example: true
    ResponseTransaction:
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/PrivateListTransaction'
        type:
          type: string
          example: transactions
        links:
          type: object
          properties:
            self:
              type: string
              example: https://api.dowjones.com/transactions/123e4567-e89b-12d3-a456-426614174000
        id:
          type: string
    MLContent:
      type: object
      properties:
        content_category:
          type: array
          items:
            oneOf:
            - type: string
            - $ref: '#/components/schemas/MLContent'
      example:
        category:
        - SubAME
        - category:
          - SubAME2
    RequestPutProfile:
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/Profile'
        type:
          type: string
          example: profiles
    JsonError:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ErrorObject'
    BirthDate:
      type: object
      properties:
        year:
          type: integer
          example: 1990
        month:
          type: integer
          example: 12
        day:
          type: integer
          example: 25
    ResponseDataGetAllProfiles:
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/ResponseGetAllProfiles'
        links:
          $ref: '#/components/schemas/ResponseLinks'
        meta:
          $ref: '#/components/schemas/Meta_2'
    Profile:
      type: object
      properties:
        external_id:
          type: string
        primary_country:
          type: string
          example: FRA
        countries:
          type: array
          items:
            type: string
            example: USA, RUSS
        birth_dates:
          type: array
          items:
            $ref: '#/components/schemas/BirthDate'
        gender:
          type: string
          enum:
          - MALE
          - FEMALE
        is_deceased:
          type: boolean
        identification_details:
          type: array
          items:
            $ref: '#/components/schemas/IdentificationDetails'
        industry_sector:
          type: array
          items:
            type: string
            example: ITECH
        content_category:
          type: array
          items:
            oneOf:
            - type: string
            - $ref: '#/components/schemas/MLContent'
        names:
          type: array
          items:
            $ref: '#/components/schemas/Name'
        record_type:
          type: string
          enum:
          - PERSON
          - ENTITY
          - UNKNOWN
        payload:
          type: string
    RequestDataInsertProfile:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/RequestPutProfile'
    ResponseDataProfileId:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ResponseProfileId'
    ResponseProfileId:
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/Profile'
        type:
          type: string
          example: profiles
        links:
          type: object
          properties:
            self:
              type: string
              example: https://api.dowjones.com/risk-profiles-custom-sources/123e4567-e89b-12d3-a456-426614174000/profiles/123e4567-e89b-12d3-a456-426614174000
        id:
          type: string
    ResponseDataInsertTransaction:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ResponseTransaction'
    ResponseLinks:
      type: object
      properties:
        first:
          type: string
          example: https://api.dowjones.com/risk-profiles-custom-sources/?page[offset]=0&page[limit]=20
        next:
          type: string
          example: https://api.dowjones.com/risk-profiles-custom-sources/?page[offset]=40&page[limit]=20
        prev:
          type: string
          example: https://api.dowjones.com/risk-profiles-custom-sources/?page[offset]=0&page[limit]=20
        last:
          type: string
          example: https://api.dowjones.com/risk-profiles-custom-sources/?page[offset]=210
    PrivateListTransaction:
      type: object
      properties:
        operation:
          type: string
          example: INSERTION
        status:
          type: string
          enum:
          - PENDING
          - COMPLETED
        source_id:
          type: string
        valid_profiles:
          type: integer
          example: 0
        invalid_profiles:
          type: integer
          example: 0
        pending_profiles:
          type: integer
          example: 1
        processiong_profiles:
          type: integer
          example: 0
    ResponseGetAllProfiles:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Profile'
        links:
          type: object
          properties:
            self:
              type: string
              example: https://api.dowjones.com/risk-profiles-custom-sources/123e4567-e89b-12d3-a456-426614174000/profiles/123e4567-e89b-12d3-a456-426614174000
    RequestDataPutProfile:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/RequestPutProfile'
    IdentificationDetails:
      type: object
      properties:
        type:
          type: integer
          example: 1023
        value:
          type: string
          example: passport
    Name:
      type: object
      properties:
        entity_name:
          type: string
        first_name:
          type: string
        last_name:
          type: string
        middle_name:
          type: string
        name_type:
          type: string
          enum:
          - PRIMARY
          - MAIDEN
          - SV
          - ELV
          - AKA
          - LQAKA
          - FKA
          - SSN
          - OSN
        prefix:
          type: string
        suffix:
          type: string
        single_string_name:
          type: string
    Meta_2:
      type: object
      properties:
        count:
          type: integer
          example: 0
        paging:
          type: object
          properties:
            offset:
              type: object
              properties:
                first:
                  type: integer
                  example: 0
                last:
                  type: integer
                  example: 0
        total_count:
          type: integer
          example: 0
    ErrorObject:
      type: object
      properties:
        code:
          type: string
        title:
          type: string
        status:
          type: string
        detail:
          type: string
        meta:
          type: string
  parameters:
    ProfileNotesParts:
      name: parts
      in: query
[...]
