{
  "openapi": "3.0.1",
  "info": {
    "title": "Screening and Monitoring API",
    "description": "RESTful API that enables your client application to screen and monitor\nthird parties (individuals and entities) against Dow Jones Risk &\nCompliance data. Supports cases, associations, matches, and bulk operations.\n",
    "contact": {
      "name": "Dow Jones"
    },
    "license": {
      "name": "A RESTful API that enables your client application to screen and monitor third parties - individuals and entities - against Dow Jones Risk & Compliance data."
    },
    "version": "v7.3"
  },
  "servers": [
    {
      "url": "https://api.dowjones.com"
    },
    {
      "url": "https://eu.api.dowjones.com"
    }
  ],
  "tags": [
    {
      "name": "Risk and Compliance Screening and Monitoring",
      "description": "APIs for screening and monitoring third parties against Dow Jones Risk & Compliance data."
    }
  ],
  "paths": {
    "/risk-entity-screening-associations": {
      "get": {
        "tags": [
          "Risk and Compliance Screening and Monitoring"
        ],
        "summary": "Retrieves all associations",
        "description": "Retrieves all associations for the account with optional filters and pagination.",
        "operationId": "getAssociationsUsingGET",
        "parameters": [
          {
            "name": "page[offset]",
            "in": "query",
            "description": "Page offset.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "page[limit]",
            "in": "query",
            "description": "Page limit.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "filter[correlated]",
            "in": "query",
            "description": "Filters associations by if they are correlated or not to any case.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false",
                "any"
              ]
            }
          },
          {
            "name": "Accept-Encoding",
            "in": "header",
            "description": "Which encoding the user accepts for the response body. The API supports compression for response body if this header is set to \"gzip\" and the payload exceeds the threshold of 8MB",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.dowjones.dna.risk-entity-screening-associations.v_1.0+json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseListAssociation"
                },
                "example": {
                  "data": [
                    {
                      "attributes": {
                        "gender": "MALE",
                        "country": "USA",
                        "record_type": "PERSON",
                        "names": [
                          {
                            "name_type": "PRIMARY",
                            "first_name": "John",
                            "middle_name": "Michael",
                            "last_name": "Doe"
                          }
                        ],
                        "identification_details": {},
                        "timestamp": "2025-01-15T12:00:00",
                        "year_of_birth": 1970
                      },
                      "type": "risk-entity-screening-associations",
                      "links": {
                        "self": "https://api.example.com/risk-entity-screening-associations/00000000-0000-0000-0000-000000000001"
                      },
                      "id": "00000000-0000-0000-0000-000000000001"
                    },
                    {
                      "attributes": {
                        "country": "USA",
                        "record_type": "ENTITY",
                        "names": [
                          {
                            "name_type": "PRIMARY",
                            "single_string_name": "Acme Corp"
                          }
                        ],
                        "identification_details": {
                          "type": 1006,
                          "value": "Duns123"
                        },
                        "external_id": "ext-001",
                        "timestamp": "2025-01-15T12:00:00"
                      },
                      "type": "risk-entity-screening-associations",
                      "links": {
                        "self": "https://api.example.com/risk-entity-screening-associations/00000000-0000-0000-0000-000000000002"
                      },
                      "id": "00000000-0000-0000-0000-000000000002"
                    }
                  ],
                  "links": {
                    "first": "https://api.example.com/risk-entity-screening-associations?page[limit]=100&filter[correlated]=false&page[offset]=0",
                    "last": "https://api.example.com/risk-entity-screening-associations?page[limit]=100&filter[correlated]=false&page[offset]=0"
                  },
                  "meta": {
                    "count": 2,
                    "offset": {
                      "first": "0",
                      "last": "0"
                    },
                    "total_count": 2
                  }
                }
              },
              "application/vnd.dowjones.dna.risk-entity-screening-associations.v_1.1+json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseListAssociation"
                },
                "example": {
                  "data": [
                    {
                      "attributes": {
                        "gender": "MALE",
                        "country": "USA",
                        "record_type": "PERSON",
                        "names": [
                          {
                            "name_type": "PRIMARY",
                            "first_name": "John",
                            "middle_name": "Michael",
                            "last_name": "Doe"
                          }
                        ],
                        "identification_details": {},
                        "timestamp": "2025-01-15T12:00:00",
                        "year_of_birth": 1970
                      },
                      "type": "risk-entity-screening-associations",
                      "links": {
                        "self": "https://api.example.com/risk-entity-screening-associations/00000000-0000-0000-0000-000000000001"
                      },
                      "id": "00000000-0000-0000-0000-000000000001"
                    },
                    {
                      "attributes": {
                        "record_type": "ENTITY",
                        "names": [
                          {
                            "name_type": "PRIMARY",
                            "single_string_name": "Acme Corp"
                          }
                        ],
                        "identification_details": {
                          "type": 1006,
                          "value": "Duns123"
                        },
                        "external_id": "ext-001",
                        "timestamp": "2025-01-15T12:00:00"
                      },
                      "type": "risk-entity-screening-associations",
                      "links": {
                        "self": "https://api.example.com/risk-entity-screening-associations/00000000-0000-0000-0000-000000000002"
                      },
                      "id": "00000000-0000-0000-0000-000000000002"
                    }
                  ],
                  "links": {
                    "last": "https://api.example.com/risk-entity-screening-associations?page[limit]=20&page[offset]=0",
                    "first": "https://api.example.com/risk-entity-screening-associations?page[limit]=20&page[offset]=0"
                  },
                  "meta": {
                    "count": 2,
                    "offset": {
                      "last": "0",
                      "first": "0"
                    },
                    "total_count": 2
                  }
                }
              },
              "application/vnd.dowjones.dna.risk-entity-screening-associations.v_2.0+json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseListAssociationV20"
                },
                "example": {
                  "data": [
                    {
                      "attributes": {
                        "gender": "MALE",
                        "country": "USA",
                        "record_type": "PERSON",
                        "names": [
                          {
                            "name_type": "PRIMARY",
                            "first_name": "John",
                            "middle_name": "Michael",
                            "last_name": "Doe"
                          }
                        ],
                        "identification_details": {},
                        "timestamp": "2025-01-15T12:00:00",
                        "year_of_birth": {
                          "specific_year": 1970
                        },
                        "is_deceased": false
                      },
                      "type": "risk-entity-screening-associations",
                      "links": {
                        "self": "https://api.example.com/risk-entity-screening-associations/00000000-0000-0000-0000-000000000001"
                      },
                      "id": "00000000-0000-0000-0000-000000000001"
                    },
                    {
                      "attributes": {
                        "country": "UK",
                        "record_type": "PERSON",
                        "names": [
                          {
                            "name_type": "PRIMARY",
                            "first_name": "Jane",
                            "last_name": "Smith"
                          }
                        ],
                        "identification_details": {},
                        "timestamp": "2025-01-15T12:00:00",
                        "year_of_birth": {
                          "from": 1980,
                          "to": 1985
                        },
                        "gender": "FEMALE",
                        "external_id": "ext-002"
                      },
                      "type": "risk-entity-screening-associations",
                      "links": {
                        "self": "https://api.example.com/risk-entity-screening-associations/00000000-0000-0000-0000-000000000002"
                      },
                      "id": "00000000-0000-0000-0000-000000000002"
                    },
                    {
                      "attributes": {
                        "country": "USA",
                        "record_type": "ENTITY",
                        "names": [
                          {
                            "name_type": "PRIMARY",
                            "single_string_name": "Acme Corp"
                          }
                        ],
                        "identification_details": {
                          "type": 1006,
                          "value": "Duns123"
                        },
                        "external_id": "ext-003",
                        "timestamp": "2025-01-15T12:00:00",
                        "industry_sector": "Technology"
                      },
                      "type": "risk-entity-screening-associations",
                      "links": {
                        "self": "https://api.example.com/risk-entity-screening-associations/00000000-0000-0000-0000-000000000003"
                      },
                      "id": "00000000-0000-0000-0000-000000000003"
                    }
                  ],
                  "links": {
                    "first": "https://api.example.com/risk-entity-screening-associations?page[limit]=20&page[offset]=0",
                    "last": "https://api.example.com/risk-entity-screening-associations?page[limit]=20&page[offset]=0"
                  },
                  "meta": {
                    "count": 3,
                    "offset": {
                      "last": "0",
                      "first": "0"
                    },
                    "total_count": 3
                  }
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseListAssociation"
                },
                "example": {
                  "data": [
                    {
                      "attributes": {
                        "gender": "MALE",
                        "country": "USA",
                        "record_type": "PERSON",
                        "names": [
                          {
                            "name_type": "PRIMARY",
                            "first_name": "John",
                            "middle_name": "Michael",
                            "last_name": "Doe"
                          }
                        ],
                        "identification_details": {},
                        "timestamp": "2025-01-15T12:00:00",
                        "year_of_birth": 1970
                      },
                      "type": "risk-entity-screening-associations",
                      "links": {
                        "self": "https://api.example.com/risk-entity-screening-associations/00000000-0000-0000-0000-000000000001"
                      },
                      "id": "00000000-0000-0000-0000-000000000001"
                    },
                    {
                      "attributes": {
                        "country": "USA",
                        "record_type": "ENTITY",
                        "names": [
                          {
                            "name_type": "PRIMARY",
                            "single_string_name": "Acme Corp"
                          }
                        ],
                        "identification_details": {
                          "type": 1006,
                          "value": "Duns123"
                        },
                        "external_id": "ext-001",
                        "timestamp": "2025-01-15T12:00:00"
                      },
                      "type": "risk-entity-screening-associations",
                      "links": {
                        "self": "https://api.example.com/risk-entity-screening-associations/00000000-0000-0000-0000-000000000002"
                      },
                      "id": "00000000-0000-0000-0000-000000000002"
                    }
                  ],
                  "links": {
                    "first": "https://api.example.com/risk-entity-screening-associations?page[limit]=100&filter[correlated]=false&page[offset]=0",
                    "last": "https://api.example.com/risk-entity-screening-associations?page[limit]=100&filter[correlated]=false&page[offset]=0"
                  },
                  "meta": {
                    "count": 2,
                    "offset": {
                      "first": "0",
                      "last": "0"
                    },
                    "total_count": 2
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Risk and Compliance Screening and Monitoring"
        ],
        "summary": "Adds a new association",
        "description": "Creates a new risk-entity-screening association for the account.\nWhen using versioned media types, the Accept and Content-Type headers must use the same version; otherwise the API returns 406 Not Acceptable.\n",
        "operationId": "postAssociationUsingPOST",
        "parameters": [
          {
            "name": "Accept-Encoding",
            "in": "header",
            "description": "Which encoding the user accepts for the response body. The API supports compression for response body if this header is set to \"gzip\" and the payload exceeds the threshold of 8MB",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Encoding",
            "in": "header",
            "description": "Which encoding the request body is being sent. The API supports gzip encoding for request body.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "request",
          "content": {
            "application/vnd.dowjones.dna.risk-entity-screening-associations.v_1.0+json": {
              "schema": {
                "$ref": "#/components/schemas/RequestAssociation"
              },
              "example": {
                "data": {
                  "attributes": {
                    "record_type": "PERSON",
                    "names": [
                      {
                        "name_type": "PRIMARY",
                        "first_name": "John",
                        "last_name": "Doe"
                      }
                    ],
                    "identification_details": {
                      "type": 1023,
                      "value": "Passport123"
                    },
                    "year_of_birth": 1970,
                    "country": "USA",
                    "external_id": "ext-001"
                  },
                  "type": "risk-entity-screening-associations"
                }
              }
            },
            "application/vnd.dowjones.dna.risk-entity-screening-associations.v_1.1+json": {
              "schema": {
                "$ref": "#/components/schemas/RequestAssociationV11"
              },
              "example": {
                "data": {
                  "attributes": {
                    "record_type": "PERSON",
                    "names": [
                      {
                        "name_type": "PRIMARY",
                        "first_name": "John",
                        "last_name": "Doe"
                      }
                    ],
                    "identification_details": {
                      "type": 1023,
                      "value": "Passport123"
                    },
                    "year_of_birth": 1970,
                    "country": "USA",
                    "external_id": "ext-001"
                  },
                  "type": "risk-entity-screening-associations"
                }
              }
            },
            "application/vnd.dowjones.dna.risk-entity-screening-associations.v_2.0+json": {
              "schema": {
                "$ref": "#/components/schemas/RequestAssociationV20"
              },
              "example": {
                "data": {
                  "attributes": {
                    "record_type": "PERSON",
                    "names": [
                      {
                        "name_type": "PRIMARY",
                        "first_name": "John",
                        "last_name": "Doe"
                      }
                    ],
                    "identification_details": {
                      "type": 1023,
                      "value": "Passport123"
                    },
                    "year_of_birth": {
                      "from": 1968,
                      "to": 1972
                    },
                    "country": "USA",
                    "external_id": "ext-001"
                  },
                  "type": "risk-entity-screening-associations"
                }
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestAssociation"
              },
              "example": {
                "data": {
                  "attributes": {
                    "record_type": "PERSON",
                    "names": [
                      {
                        "name_type": "PRIMARY",
                        "first_name": "John",
                        "last_name": "Doe"
                      }
                    ],
                    "identification_details": {
                      "type": 1023,
                      "value": "Passport123"
                    },
                    "year_of_birth": 1970,
                    "country": "USA",
                    "external_id": "ext-001"
                  },
                  "type": "risk-entity-screening-associations"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/vnd.dowjones.dna.risk-entity-screening-associations.v_1.0+json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseAssociation"
                },
                "example": {
                  "data": {
                    "attributes": {
                      "country": "USA",
                      "record_type": "PERSON",
                      "names": [
                        {
                          "name_type": "PRIMARY",
                          "first_name": "John",
                          "last_name": "Doe"
                        }
                      ],
                      "identification_details": {
                        "type": 1023,
                        "value": "Passport123"
                      },
                      "external_id": "ext-001",
                      "timestamp": "2025-01-15T12:00:00",
                      "year_of_birth": 1970
                    },
                    "type": "risk-entity-screening-associations",
                    "links": {
                      "self": "https://api.example.com/risk-entity-screening-associations/00000000-0000-0000-0000-000000000001"
                    },
                    "id": "00000000-0000-0000-0000-000000000001"
                  }
                }
              },
              "application/vnd.dowjones.dna.risk-entity-screening-associations.v_1.1+json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseAssociation"
                },
                "example": {
                  "data": {
                    "attributes": {
                      "country": "USA",
                      "record_type": "PERSON",
                      "names": [
                        {
                          "name_type": "PRIMARY",
                          "first_name": "John",
                          "last_name": "Doe"
                        }
                      ],
                      "identification_details": {
                        "type": 1023,
                        "value": "Passport123"
                      },
                      "external_id": "ext-001",
                      "timestamp": "2025-01-15T12:00:00",
                      "year_of_birth": 1970
                    },
                    "type": "risk-entity-screening-associations",
                    "links": {
                      "self": "https://api.example.com/risk-entity-screening-associations/00000000-0000-0000-0000-000000000001"
                    },
                    "id": "00000000-0000-0000-0000-000000000001"
                  }
                }
              },
              "application/vnd.dowjones.dna.risk-entity-screening-associations.v_2.0+json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseAssociationV20"
                },
                "example": {
                  "data": {
                    "attributes": {
                      "country": "USA",
                      "record_type": "PERSON",
                      "names": [
                        {
                          "name_type": "PRIMARY",
                          "first_name": "John",
                          "last_name": "Doe"
                        }
                      ],
                      "identification_details": {
                        "type": 1023,
                        "value": "Passport123"
                      },
                      "external_id": "ext-001",
                      "timestamp": "2025-01-15T12:00:00",
                      "year_of_birth": {
                        "from": 1968,
                        "to": 1972
                      }
                    },
                    "type": "risk-entity-screening-associations",
                    "links": {
                      "self": "https://api.example.com/risk-entity-screening-associations/00000000-0000-0000-0000-000000000001"
                    },
                    "id": "00000000-0000-0000-0000-000000000001"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseAssociation"
                },
                "example": {
                  "data": {
                    "attributes": {
                      "country": "USA",
                      "record_type": "PERSON",
                      "names": [
                        {
                          "name_type": "PRIMARY",
                          "first_name": "John",
                          "last_name": "Doe"
                        }
                      ],
                      "identification_details": {
                        "type": 1023,
                        "value": "Passport123"
                      },
                      "external_id": "ext-001",
                      "timestamp": "2025-01-15T12:00:00",
                      "year_of_birth": 1970
                    },
                    "type": "risk-entity-screening-associations",
                    "links": {
                      "self": "https://api.example.com/risk-entity-screening-associations/00000000-0000-0000-0000-000000000001"
                    },
                    "id": "00000000-0000-0000-0000-000000000001"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/risk-entity-screening-associations/{association_id}": {
      "get": {
        "tags": [
          "Risk and Compliance Screening and Monitoring"
        ],
        "summary": "Retrieves an association by ID",
        "description": "Returns a single association by its ID.",
        "operationId": "getAssociationUsingGET",
        "parameters": [
          {
            "name": "Accept-Encoding",
            "in": "header",
            "description": "Which encoding the user accepts for the response body. The API supports compression for response body if this header is set to \"gzip\" and the payload exceeds the threshold of 8MB",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "association_id",
            "in": "path",
            "description": "Id of the Association.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.dowjones.dna.risk-entity-screening-associations.v_1.0+json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseAssociation"
                },
                "example": {
                  "data": {
                    "attributes": {
                      "country": "USA",
                      "record_type": "PERSON",
                      "names": [
                        {
                          "name_type": "PRIMARY",
                          "first_name": "John",
                          "last_name": "Doe"
                        }
                      ],
                      "identification_details": {
                        "type": 1023,
                        "value": "Passport123"
                      },
                      "external_id": "ext-001",
                      "timestamp": "2026-02-11T17:21:42",
                      "year_of_birth": 1970
                    },
                    "type": "risk-entity-screening-associations",
                    "links": {
                      "self": "https://api.dowjones.io/risk-entity-screening-associations/00000000-0000-0000-0000-000000000001"
                    },
                    "id": "00000000-0000-0000-0000-000000000001"
                  }
                }
              },
              "application/vnd.dowjones.dna.risk-entity-screening-associations.v_1.1+json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseAssociation"
                },
                "example": {
                  "data": {
                    "attributes": {
                      "country": "USA",
                      "record_type": "PERSON",
                      "names": [
                        {
                          "name_type": "PRIMARY",
                          "first_name": "John",
                          "last_name": "Doe"
                        }
                      ],
                      "identification_details": {
                        "type": 1023,
                        "value": "Passport123"
                      },
                      "external_id": "ext-001",
                      "timestamp": "2026-02-11T17:21:42",
                      "year_of_birth": 1970,
                      "gender": "MALE",
                      "is_deceased": false
                    },
                    "type": "risk-entity-screening-associations",
                    "links": {
                      "self": "https://api.dowjones.io/risk-entity-screening-associations/00000000-0000-0000-0000-000000000001"
                    },
                    "id": "00000000-0000-0000-0000-000000000001"
                  }
                }
              },
              "application/vnd.dowjones.dna.risk-entity-screening-associations.v_2.0+json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseAssociationV20"
                },
                "example": {
                  "data": {
                    "attributes": {
                      "country": "USA",
                      "record_type": "PERSON",
                      "names": [
                        {
                          "name_type": "PRIMARY",
                          "first_name": "John",
                          "last_name": "Doe"
                        }
                      ],
                      "identification_details": {
                        "type": 1023,
                        "value": "Passport123"
                      },
                      "external_id": "ext-001",
                      "timestamp": "2026-02-11T17:21:42",
                      "year_of_birth": {
                        "specific_year": 1970
                      }
                    },
                    "type": "risk-entity-screening-associations",
                    "links": {
                      "self": "https://api.dowjones.io/risk-entity-screening-associations/00000000-0000-0000-0000-000000000001"
                    },
                    "id": "00000000-0000-0000-0000-000000000001"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseAssociation"
                },
                "example": {
                  "data": {
                    "attributes": {
                      "country": "USA",
                      "record_type": "PERSON",
                      "names": [
                        {
                          "name_type": "PRIMARY",
                          "first_name": "John",
                          "last_name": "Doe"
                        }
                      ],
                      "identification_details": {
                        "type": 1023,
                        "value": "Passport123"
                      },
                      "external_id": "ext-001",
                      "timestamp": "2026-02-11T17:21:42",
                      "year_of_birth": 1970
                    },
                    "type": "risk-entity-screening-associations",
                    "links": {
                      "self": "https://api.dowjones.io/risk-entity-screening-associations/00000000-0000-0000-0000-000000000001"
                    },
                    "id": "00000000-0000-0000-0000-000000000001"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Risk and Compliance Screening and Monitoring"
        ],
        "summary": "Removes an association",
        "description": "Deletes an association by ID. Returns 204 No Content on success.",
        "operationId": "deleteAssociationUsingDELETE",
        "parameters": [
          {
            "name": "association_id",
            "in": "path",
            "description": "Id of the association.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonError"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {}
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Risk and Compliance Screening and Monitoring"
        ],
        "summary": "Modifies an association",
        "description": "Partially updates an association. Returns a transaction for async status.",
        "operationId": "patchAssociationUsingPATCH",
        "parameters": [
          {
            "name": "Accept-Encoding",
            "in": "header",
            "description": "Which encoding the user accepts for the response body. The API supports compression for response body if this header is set to \"gzip\" and the payload exceeds the threshold of 8MB",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Encoding",
            "in": "header",
            "description": "Which encoding the request body is being sent. The API supports gzip encoding for request body.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "association_id",
            "in": "path",
            "description": "Id of the association.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "request",
          "content": {
            "application/vnd.dowjones.dna.risk-entity-screening-associations.v_1.0+json": {
              "schema": {
                "$ref": "#/components/schemas/RequestAssociation"
              },
              "example": {
                "data": {
                  "attributes": {
                    "record_type": "PERSON",
                    "names": [
                      {
                        "name_type": "PRIMARY",
                        "first_name": "John",
                        "middle_name": "Michael",
                        "last_name": "Doe",
                        "prefix": "Mr",
                        "suffix": "Jr"
                      }
                    ],
                    "identification_details": {
                      "type": 1023,
                      "value": "Passport123"
                    },
                    "gender": "MALE",
                    "country": "USA",
                    "year_of_birth": 1970,
                    "external_id": "ext-001"
                  },
                  "type": "risk-entity-screening-associations"
                }
              }
            },
            "application/vnd.dowjones.dna.risk-entity-screening-associations.v_1.1+json": {
              "schema": {
                "$ref": "#/components/schemas/RequestAssociationV11"
              },
              "example": {
                "data": {
                  "attributes": {
                    "record_type": "PERSON",
                    "names": [
                      {
                        "name_type": "PRIMARY",
                        "first_name": "John",
                        "middle_name": "Michael",
                        "last_name": "Doe",
                        "prefix": "Mr",
                        "suffix": "Jr"
                      }
                    ],
                    "identification_details": {
                      "type": 1023,
                      "value": "Passport123"
                    },
                    "gender": "MALE",
                    "country": "USA",
                    "year_of_birth": 1970,
                    "external_id": "ext-001"
                  },
                  "type": "risk-entity-screening-associations"
                }
              }
            },
            "application/vnd.dowjones.dna.risk-entity-screening-associations.v_2.0+json": {
              "schema": {
                "$ref": "#/components/schemas/RequestAssociationV20"
              },
              "example": {
                "data": {
                  "attributes": {
                    "record_type": "PERSON",
                    "names": [
                      {
                        "name_type": "PRIMARY",
                        "first_name": "John",
                        "middle_name": "Michael",
                        "last_name": "Doe",
                        "prefix": "Mr",
                        "suffix": "Jr"
                      }
                    ],
                    "identification_details": {
                      "type": 1023,
                      "value": "Passport123"
                    },
                    "gender": "MALE",
                    "country": "USA",
                    "year_of_birth": {
                      "specific_year": 1970
                    },
                    "external_id": "ext-001"
                  },
                  "type": "risk-entity-screening-associations"
                }
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestAssociation"
              },
              "example": {
                "data": {
                  "attributes": {
                    "record_type": "PERSON",
                    "names": [
                      {
                        "name_type": "PRIMARY",
                        "first_name": "John",
                        "middle_name": "Michael",
                        "last_name": "Doe",
                        "prefix": "Mr",
                        "suffix": "Jr"
                      }
                    ],
                    "identification_details": {
                      "type": 1023,
                      "value": "Passport123"
                    },
                    "gender": "MALE",
                    "country": "USA",
                    "year_of_birth": 1970,
                    "external_id": "ext-001"
                  },
                  "type": "risk-entity-screening-associations"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/vnd.dowjones.dna.risk-entity-screening-associations.v_1.0+json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponsePatchAssociation"
                },
                "example": {
                  "data": {
                    "attributes": {
                      "gender": "MALE",
                      "country": "USA",
                      "record_type": "PERSON",
                      "names": [
                        {
                          "prefix": "Mr",
                          "suffix": "Jr",
                          "name_type": "PRIMARY",
                          "first_name": "John",
                          "middle_name": "Michael",
                          "last_name": "Doe"
                        }
                      ],
                      "identification_details": {
                        "type": 1023,
                        "value": "Passport123"
                      },
                      "external_id": "ext-001",
                      "timestamp": "2026-02-12T12:02:30",
                      "updated": "2026-02-12T12:04:51.334281",
                      "year_of_birth": 1970
                    },
                    "type": "risk-entity-screening-associations",
                    "links": {
                      "self": "https://api.dowjones.io/risk-entity-screening-associations/00000000-0000-0000-0000-000000000001"
                    },
                    "id": "00000000-0000-0000-0000-000000000001"
                  }
                }
              },
              "application/vnd.dowjones.dna.risk-entity-screening-associations.v_1.1+json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponsePatchAssociation"
                },
                "example": {
                  "data": {
                    "attributes": {
                      "gender": "MALE",
                      "country": "USA",
                      "record_type": "PERSON",
                      "names": [
                        {
                          "prefix": "Mr",
                          "suffix": "Jr",
                          "name_type": "PRIMARY",
                          "first_name": "John",
                          "middle_name": "Michael",
                          "last_name": "Doe"
                        }
                      ],
                      "identification_details": {
                        "type": 1023,
                        "value": "Passport123"
                      },
                      "external_id": "ext-001",
                      "timestamp": "2026-02-12T12:02:30",
                      "updated": "2026-02-12T12:04:51.334281",
                      "year_of_birth": 1970,
                      "is_deceased": false
                    },
                    "type": "risk-entity-screening-associations",
                    "links": {
                      "self": "https://api.dowjones.io/risk-entity-screening-associations/00000000-0000-0000-0000-000000000001"
                    },
                    "id": "00000000-0000-0000-0000-000000000001"
                  }
                }
              },
              "application/vnd.dowjones.dna.risk-entity-screening-associations.v_2.0+json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponsePatchAssociationV20"
                },
                "example": {
                  "data": {
                    "attributes": {
                      "gender": "MALE",
                      "country": "USA",
                      "record_type": "PERSON",
                      "names": [
                        {
                          "prefix": "Mr",
                          "suffix": "Jr",
                          "name_type": "PRIMARY",
                          "first_name": "John",
                          "middle_name": "Michael",
                          "last_name": "Doe"
                        }
                      ],
                      "identification_details": {
                        "type": 1023,
                        "value": "Passport123"
                      },
                      "external_id": "ext-001",
                      "timestamp": "2026-02-12T12:02:30",
                      "updated": "2026-02-12T12:04:13.891258",
                      "year_of_birth": {
                        "specific_year": 1970
                      }
                    },
                    "type": "risk-entity-screening-associations",
                    "links": {
                      "self": "https://api.dowjones.io/risk-entity-screening-associations/00000000-0000-0000-0000-000000000001"
                    },
                    "id": "00000000-0000-0000-0000-000000000001"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponsePatchAssociation"
                },
                "example": {
                  "data": {
                    "attributes": {
                      "gender": "MALE",
                      "country": "USA",
                      "record_type": "PERSON",
                      "names": [
                        {
                          "prefix": "Mr",
                          "suffix": "Jr",
                          "name_type": "PRIMARY",
                          "first_name": "John",
                          "middle_name": "Michael",
                          "last_name": "Doe"
                        }
                      ],
                      "identification_details": {
                        "type": 1023,
                        "value": "Passport123"
                      },
                      "external_id": "ext-001",
                      "timestamp": "2026-02-12T12:02:30",
                      "updated": "2026-02-12T12:04:51.334281",
                      "year_of_birth": 1970
                    },
                    "type": "risk-entity-screening-associations",
                    "links": {
                      "self": "https://api.dowjones.io/risk-entity-screening-associations/00000000-0000-0000-0000-000000000001"
                    },
                    "id": "00000000-0000-0000-0000-000000000001"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/risk-entity-screening-cases": {
      "get": {
        "tags": [
          "Risk and Compliance Screening and Monitoring"
        ],
        "summary": "Retrieves all cases",
        "description": "Returns paginated cases for the account.\nPagination (page[offset], page[limit]) is supported in all versions.\nFilters (filter[last_match_activity_on][from|to], filter[correlated])\nare supported only when Accept is v1.1+ (e.g. cases.v_1.1+json).\nWith Accept v1.0, filter params are ignored.\n",
        "operationId": "getAllCasesUsingGET",
        "parameters": [
          {
            "name": "Accept-Encoding",
            "in": "header",
            "description": "Which encoding the user accepts for the response body. The API supports compression for response body if this header is set to \"gzip\" and the payload exceeds the threshold of 8MB",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page[offset]",
            "in": "query",
            "description": "Page offset. Supported in all versions.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "page[limit]",
            "in": "query",
            "description": "Page limit. Supported in all versions.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "filter[last_match_activity_on][from]",
            "in": "query",
            "description": "Optional. Returns only cases with last_match_activity_on\ngreater or equal to this date (ISO 8601).\nAvailable from v1.1 onwards; ignored when Accept is v1.0.\n",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2021-01-01T00:00:00Z"
            }
          },
          {
            "name": "filter[last_match_activity_on][to]",
            "in": "query",
            "description": "Optional. Returns only cases with last_match_activity_on\nless or equal to this date (ISO 8601).\nAvailable from v1.1 onwards; ignored when Accept is v1.0.\n",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2021-01-01T00:00:00Z"
            }
          },
          {
            "name": "filter[correlated]",
            "in": "query",
            "description": "Optional. Filters cases by whether they are correlated\nto any association (true, false, or any).\nAvailable from v1.1 onwards; ignored when Accept is v1.0.\n",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false",
                "any"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.dowjones.dna.risk-entity-screening-cases.v_1.0+json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseListCase"
                },
                "example": {
                  "data": [
                    {
                      "attributes": {
                        "options": {
                          "search_type": "PRECISE",
                          "filter_content_category": [
                            "PEP"
                          ],
                          "has_to_match_low_quality_alias": false,
                          "score_threshold": 0.6,
                          "is_indexed": true
                        },
                        "score_preferences": {
                          "gender": {
                            "score": 0,
                            "has_exclusions": false
                          },
                          "year_of_birth": {
                            "score": 0,
                            "has_exclusions": false
                          },
                          "industry_sector": {
                            "score": 0,
                            "has_exclusions": false
                          },
                          "identification_details": {
                            "score": 0,
                            "has_exclusions": false
                          },
                          "country": {
                            "score": 0,
                            "has_exclusions": false
                          },
                          "deceased": {
                            "score": 0,
                            "has_exclusions": false
                          }
                        },
                        "case_name": "Example Case",
                        "external_id": "ext-001",
                        "owner_id": "owner-001",
                        "is_case_valid": true,
                        "case_valid": true,
                        "has_alerts": false,
                        "timestamp": "2025-01-15T12:00:00",
                        "updated_in": "2025-01-15T12:00:00",
                        "revision": 1
                      },
                      "type": "risk-entity-screening-cases",
                      "links": {
                        "self": "https://api.example.com/risk-entity-screening-cases/00000000-0000-0000-0000-000000000001"
                      },
                      "id": "00000000-0000-0000-0000-000000000001"
                    }
                  ],
                  "links": {
                    "last": "https://api.example.com/risk-entity-screening-cases?page[limit]=5&page[offset]=0",
                    "first": "https://api.example.com/risk-entity-screening-cases?page[limit]=5&page[offset]=0"
                  },
                  "meta": {
                    "count": 1,
                    "offset": {
                      "last": "0",
                      "first": "0"
                    },
                    "total_count": 1
                  }
                }
              },
              "application/vnd.dowjones.dna.risk-entity-screening-cases.v_1.1+json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseListCaseV11"
                },
                "example": {
                  "data": [
                    {
                      "attributes": {
                        "options": {
                          "search_type": "PRECISE",
                          "filter_content_category": [
                            "PEP"
                          ],
                          "filter_source": [
                            "DJRC"
                          ],
                          "has_to_match_low_quality_alias": false,
                          "score_threshold": 0.6,
                          "is_indexed": true
                        },
                        "score_preferences": {
                          "gender": {
                            "score": 0,
                            "has_exclusions": false
                          },
                          "year_of_birth": {
                            "score": 0,
                            "has_exclusions": false
                          },
                          "industry_sector": {
                            "score": 0,
                            "has_exclusions": false
                          },
                          "identification_details": {
                            "score": 0,
                            "has_exclusions": false
                          },
                          "country": {
                            "score": 0,
                            "has_exclusions": false
                          },
                          "deceased": {
                            "score": 0,
                            "has_exclusions": false
                          }
                        },
                        "case_name": "Example Case",
                        "external_id": "ext-001",
                        "owner_id": "owner-001",
                        "is_case_valid": true,
                        "has_alerts": false,
                        "timestamp": "2025-01-15T12:00:00",
                        "updated_in": "2025-01-15T12:00:00",
                        "revision": 1,
                        "last_match_activity_on": "2025-01-15T12:00:00"
                      },
                      "type": "risk-entity-screening-cases",
                      "links": {
                        "self": "https://api.example.com/risk-entity-screening-cases/00000000-0000-0000-0000-000000000001"
                      },
                      "id": "00000000-0000-0000-0000-000000000001"
                    }
                  ],
                  "links": {
                    "last": "https://api.example.com/risk-entity-screening-cases?page[limit]=5&page[offset]=0",
                    "first": "https://api.example.com/risk-entity-screening-cases?page[limit]=5&page[offset]=0"
                  },
                  "meta": {
                    "count": 1,
                    "offset": {
                      "last": "0",
                      "first": "0"
                    },
                    "total_count": 1
                  }
                }
              },
              "application/vnd.dowjones.dna.risk-entity-screening-cases.v_1.2+json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseListCaseV12"
                },
                "example": {
                  "data": [
                    {
                      "attributes": {
                        "options": {
                          "search_type": "PRECISE",
                          "filter_content_category": [
                            "PEP"
                          ],
                          "filter_content_category_status": {},
                          "filter_source": [
                            "DJRC"
                          ],
                          "has_to_match_low_quality_alias": false,
                          "score_threshold": 0.6,
                          "is_indexed": true
                        },
                        "score_preferences": {
                          "gender": {
                            "score": 0,
                            "has_exclusions": false
                          },
                          "year_of_birth": {
                            "score": 0,
                            "has_exclusions": false
                          },
                          "industry_sector": {
                            "score": 0,
                            "has_exclusions": false
                          },
                          "identification_details": {
                            "score": 0,
                            "has_exclusions": false
                          },
                          "country": {
                            "score": 0,
                            "has_exclusions": false
                          },
                          "deceased": {
                            "score": 0,
                            "has_exclusions": false
                          }
                        },
                        "case_name": "Example Case",
                        "external_id": "ext-001",
                        "owner_id": "owner-001",
                        "is_case_valid": true,
                        "has_alerts": false,
                        "timestamp": "2025-01-15T12:00:00",
                        "updated_in": "2025-01-15T12:00:00",
                        "revision": 1,
                        "last_match_activity_on": "2025-01-15T12:00:00"
                      },
                      "type": "risk-entity-screening-cases",
                      "links": {
                        "self": "https://api.example.com/risk-entity-screening-cases/00000000-0000-0000-0000-000000000001"
                      },
                      "id": "00000000-0000-0000-0000-000000000001"
                    }
                  ],
                  "links": {
                    "last": "https://api.example.com/risk-entity-screening-cases?page[limit]=5&page[offset]=0",
                    "first": "https://api.example.com/risk-entity-screening-cases?page[limit]=5&page[offset]=0"
                  },
                  "meta": {
                    "count": 1,
                    "offset": {
                      "last": "0",
                      "first": "0"
                    },
                    "total_count": 1
                  }
                }
              },
              "application/vnd.dowjones.dna.risk-entity-screening-cases.v_1.3+json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseListCaseV13"
                },
                "example": {
                  "data": [
                    {
                      "attributes": {
                        "options": {
                          "search_type": "PRECISE",
                          "filter_content_category": [
                            "PEP"
                          ],
                          "filter_content_category_status": {},
                          "filter_source": [
                            "DJRC"
                          ],
                          "has_to_match_low_quality_alias": false,
                          "score_threshold": 0.6,
                          "is_indexed": true,
                          "has_screen_priority": true
                        },
                        "score_preferences": {
                          "gender": {
                            "score": 0,
                            "has_exclusions": false
                          },
                          "year_of_birth": {
                            "score": 0,
                            "has_exclusions": false
                          },
                          "industry_sector": {
                            "score": 0,
                            "has_exclusions": false
                          },
                          "identification_details": {
                            "score": 0,
                            "has_exclusions": false
                          },
                          "country": {
                            "score": 0,
                            "has_exclusions": false
                          },
                          "deceased": {
                            "score": 0,
                            "has_exclusions": false
                          }
                        },
                        "case_name": "Example Case",
                        "external_id": "ext-001",
                        "owner_id": "owner-001",
                        "is_case_valid": true,
                        "has_alerts": true,
                        "timestamp": "2025-01-15T12:00:00",
                        "updated_in": "2025-01-15T12:00:00",
                        "revision": 1,
                        "last_match_activity_on": "2025-01-15T12:00:00",
                        "alert_reason": [
                          "PERSON"
                        ]
                      },
                      "type": "risk-entity-screening-cases",
                      "links": {
                        "self": "https://api.example.com/risk-entity-screening-cases/00000000-0000-0000-0000-000000000001"
                      },
                      "id": "00000000-0000-0000-0000-000000000001"
                    }
                  ],
                  "links": {
                    "last": "https://api.example.com/risk-entity-screening-cases?page[limit]=5&page[offset]=0",
                    "first": "https://api.example.com/risk-entity-screening-cases?page[limit]=5&page[offset]=0"
                  },
                  "meta": {
                    "count": 1,
                    "offset": {
                      "last": "0",
                      "first": "0"
                    },
                    "total_count": 1
                  }
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseListCase"
                },
                "example": {
                  "data": [
                    {
                      "attributes": {
                        "options": {
                          "search_type": "PRECISE",
                          "filter_content_category": [
                            "PEP"
                          ],
                          "has_to_match_low_quality_alias": false,
                          "score_threshold": 0.6,
                          "is_indexed": true
                        },
                        "score_preferences": {
                          "gender": {
                            "score": 0,
                            "has_exclusions": false
                          },
                          "year_of_birth": {
                            "score": 0,
                            "has_exclusions": false
                          },
                          "industry_sector": {
                            "score": 0,
                            "has_exclusions": false
                          },
                          "identification_details": {
                            "score": 0,
                            "has_exclusions": false
                          },
                          "country": {
                            "score": 0,
                            "has_exclusions": false
                          },
                          "deceased": {
                            "score": 0,
                            "has_exclusions": false
                          }
                        },
                        "case_name": "Example Case",
                        "external_id": "ext-001",
                        "owner_id": "owner-001",
                        "is_case_valid": true,
                        "case_valid": true,
                        "has_alerts": false,
                        "timestamp": "2025-01-15T12:00:00",
                        "updated_in": "2025-01-15T12:00:00",
                        "revision": 1
                      },
                      "type": "risk-entity-screening-cases",
                      "links": {
                        "self": "https://api.example.com/risk-entity-screening-cases/00000000-0000-0000-0000-000000000001"
                      },
                      "id": "00000000-0000-0000-0000-000000000001"
                    }
                  ],
                  "links": {
                    "last": "https://api.example.com/risk-entity-screening-cases?page[limit]=5&page[offset]=0",
                    "first": "https://api.example.com/risk-entity-screening-cases?page[limit]=5&page[offset]=0"
                  },
                  "meta": {
                    "count": 1,
                    "offset": {
                      "last": "0",
                      "first": "0"
                    },
                    "total_count": 1
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Risk and Compliance Screening and Monitoring"
        ],
        "summary": "Adds a new case",
        "description": "Creates a new risk-entity-screening case for the account.",
        "operationId": "postCaseUsingPOST",
        "parameters": [
          {
            "name": "Accept-Encoding",
            "in": "header",
            "description": "Which encoding the user accepts for the response body. The API supports compression for response body if this header is set to \"gzip\" and the payload exceeds the threshold of 8MB",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Encoding",
            "in": "header",
            "description": "Which encoding the request body is being sent. The API supports gzip encoding for request body.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "request",
          "content": {
            "application/vnd.dowjones.dna.risk-entity-screening-cases.v_1.0+json": {
              "schema": {
                "$ref": "#/components/schemas/RequestCase"
              },
              "example": {
                "data": {
                  "attributes": {
                    "case_name": "Example Case",
                    "external_id": "ext-001",
                    "owner_id": "owner-001",
                    "options": {
                      "filter_content_category": [
                        "PEP",
                        "SOC",
                        "AME"
                      ],
                      "search_type": "PRECISE",
                      "score_threshold": 0.6,
                      "is_indexed": true,
                      "has_screen_priority": true
                    },
                    "score_preferences": {
                      "gender": {
                        "score": 4,
                        "has_exclusions": false
                      },
                      "year_of_birth": {
                        "score": 0,
                        "has_exclusions": true
                      },
                      "industry_sector": {
                        "score": 5,
                        "has_exclusions": false
                      },
                      "identification_details": {
                        "score": 0,
                        "has_exclusions": false
                      },
                      "country": {
                        "score": 2,
                        "has_exclusions": true
                      }
                    }
                  },
                  "type": "risk-entity-screening-cases"
                }
              }
            },
            "application/vnd.dowjones.dna.risk-entity-screening-cases.v_1.1+json": {
              "schema": {
                "$ref": "#/components/schemas/RequestCaseV11"
              },
              "example": {
                "data": {
                  "attributes": {
                    "case_name": "Example Case",
                    "external_id": "ext-001",
                    "owner_id": "owner-001",
                    "options": {
                      "filter_content_category": [
                        {
                          "WL": [
                            {
                              "SL": [
                                "US-OFAC"
                              ]
                            },
                            {
                              "OOL": [
                                "US-BIS"
                              ]
                            }
                          ]
                        },
                        {
                          "AME": [
                            "33"
                          ]
                        }
                      ],
                      "filter_source": [
                        "DJRC"
                      ],
                      "search_type": "PRECISE",
                      "score_threshold": 0.6,
                      "is_indexed": true
                    },
                    "score_preferences": {
                      "gender": {
                        "score": 4,
                        "has_exclusions": false
                      },
                      "year_of_birth": {
                        "score": 0,
                        "has_exclusions": true
                      },
                      "country": {
                        "score": 2,
                        "has_exclusions": true
                      }
                    }
                  },
                  "type": "risk-entity-screening-cases"
                }
              }
            },
            "application/vnd.dowjones.dna.risk-entity-screening-cases.v_1.2+json": {
              "schema": {
                "$ref": "#/components/schemas/RequestCaseV12"
              },
              "example": {
                "data": {
                  "attributes": {
                    "case_name": "Example Case",
                    "external_id": "ext-001",
                    "owner_id": "owner-001",
                    "options": {
                      "filter_content_category": [
                        {
                          "WL": [
                            {
                              "SL": [
                                "US-OFAC"
                              ]
                            },
                            {
                              "OOL": [
                                "US-BIS"
                              ]
                            }
                          ]
                        },
                        {
                          "AME": [
                            "33"
                          ]
                        }
                      ],
                      "filter_content_category_status": {
                        "is_san_active": true,
                        "is_ool_active": false
                      },
                      "filter_source": [
                        "DJRC"
                      ],
                      "search_type": "PRECISE",
                      "score_threshold": 0.6,
                      "is_indexed": true
                    },
                    "score_preferences": {
                      "gender": {
                        "score": 4,
                        "has_exclusions": false
                      },
                      "year_of_birth": {
                        "score": 0,
                        "has_exclusions": true
                      },
                      "country": {
                        "score": 2,
                        "has_exclusions": true
                      }
                    }
                  },
                  "type": "risk-entity-screening-cases"
                }
              }
            },
            "application/vnd.dowjones.dna.risk-entity-screening-cases.v_1.3+json": {
              "schema": {
                "$ref": "#/components/schemas/RequestCaseV13"
              },
              "example": {
                "data": {
                  "attributes": {
                    "case_name": "Example Case",
                    "external_id": "ext-001",
                    "owner_id": "owner-001",
                    "options": {
                      "filter_content_category": [
                        {
                          "WL": [
                            {
                              "SL": [
                                "US-OFAC"
                              ]
                            },
                            {
                              "OOL": [
                                "US-BIS"
                              ]
                            }
                          ]
                        },
                        {
                          "AME": [
                            "33"
                          ]
                        }
                      ],
                      "filter_content_category_status": {
                        "is_san_active": true,
                        "is_ool_active": false
                      },
                      "filter_source": [
                        "DJRC"
                      ],
                      "search_type": "PRECISE",
                      "score_threshold": 0.6,
                      "is_indexed": true
                    },
                    "score_preferences": {
                      "gender": {
                        "score": 4,
                        "has_exclusions": false
                      },
                      "year_of_birth": {
                        "score": 0,
                        "has_exclusions": true
                      },
                      "country": {
                        "score": 2,
                        "has_exclusions": true
                      }
                    }
                  },
                  "type": "risk-entity-screening-cases"
                }
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestCase"
              },
              "example": {
                "data": {
                  "attributes": {
                    "case_name": "Example Case",
                    "external_id": "ext-001",
                    "owner_id": "owner-001",
                    "options": {
                      "filter_content_category": [
                        "PEP",
                        "SOC",
                        "AME"
                      ],
                      "search_type": "PRECISE",
                      "score_threshold": 0.6,
                      "is_indexed": true,
                      "has_screen_priority": true
                    },
                    "score_preferences": {
                      "gender": {
                        "score": 4,
                        "has_exclusions": false
                      },
                      "year_of_birth": {
                        "score": 0,
                        "has_exclusions": true
                      },
                      "industry_sector": {
                        "score": 5,
                        "has_exclusions": false
                      },
                      "identification_details": {
                        "score": 0,
                        "has_exclusions": false
                      },
                      "country": {
                        "score": 2,
                        "has_exclusions": true
                      }
                    }
                  },
                  "type": "risk-entity-screening-cases"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/vnd.dowjones.dna.risk-entity-screening-cases.v_1.0+json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCase"
                },
                "example": {
                  "data": {
                    "attributes": {
                      "options": {
                        "search_type": "PRECISE",
                        "filter_content_category": [
                          "PEP",
                          "SOC",
                          "AME"
                        ],
                        "has_to_match_low_quality_alias": false,
                        "score_threshold": 0.6,
                        "is_indexed": true
                      },
                      "score_preferences": {
                        "gender": {
                          "score": 4,
                          "has_exclusions": false
                        },
                        "year_of_birth": {
                          "score": 0,
                          "has_exclusions": true
                        },
                        "industry_sector": {
                          "score": 5,
                          "has_exclusions": false
                        },
                        "identification_details": {
                          "score": 0,
                          "has_exclusions": false
                        },
                        "country": {
                          "score": 2,
                          "has_exclusions": true
                        },
                        "deceased": {}
                      },
                      "case_name": "Example Case",
                      "external_id": "ext-001",
                      "owner_id": "owner-001",
                      "is_case_valid": true,
                      "case_valid": true,
                      "has_alerts": false,
                      "timestamp": "2025-01-15T12:00:00",
                      "updated_in": "2025-01-15T12:00:00",
                      "revision": 1
                    },
                    "type": "risk-entity-screening-cases",
                    "links": {
                      "self": "https://api.example.com/risk-entity-screening-cases/00000000-0000-0000-0000-000000000001"
                    },
                    "id": "00000000-0000-0000-0000-000000000001"
                  }
                }
              },
              "application/vnd.dowjones.dna.risk-entity-screening-cases.v_1.1+json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCaseV11"
                },
                "example": {
                  "data": {
                    "attributes": {
                      "options": {
                        "search_type": "PRECISE",
                        "filter_content_category": [
                          {
                            "WL": [
                              {
                                "SL": [
                                  "US-OFAC"
                                ]
                              },
                              {
                                "OOL": [
                                  "US-BIS"
                                ]
                              }
                            ],
                            "AME": [
                              "33"
                            ]
                          }
                        ],
                        "filter_source": [
                          "DJRC"
                        ],
                        "has_to_match_low_quality_alias": false,
                        "score_threshold": 0.6,
                        "is_indexed": true
                      },
                      "score_preferences": {
                        "gender": {
                          "score": 4,
                          "has_exclusions": false
                        },
                        "year_of_birth": {
                          "score": 0,
                          "has_exclusions": true
                        },
                        "industry_sector": {},
                        "identification_details": {},
                        "country": {
                          "score": 2,
                          "has_exclusions": true
                        },
                        "deceased": {}
                      },
                      "case_name": "Example Case",
                      "external_id": "ext-001",
                      "owner_id": "owner-001",
                      "is_case_valid": true,
                      "has_alerts": false,
                      "timestamp": "2025-01-15T12:00:00",
                      "updated_in": "2025-01-15T12:00:00",
                      "revision": 1
                    },
                    "type": "risk-entity-screening-cases",
                    "links": {
                      "self": "https://api.example.com/risk-entity-screening-cases/00000000-0000-0000-0000-000000000001"
                    },
                    "id": "00000000-0000-0000-0000-000000000001"
                  }
                }
              },
              "application/vnd.dowjones.dna.risk-entity-screening-cases.v_1.2+json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCaseV12"
                },
                "example": {
                  "data": {
                    "attributes": {
                      "options": {
                        "search_type": "PRECISE",
                        "filter_content_category": [
                          {
                            "WL": [
                              {
                                "SL": [
                                  "US-OFAC"
                                ]
                              },
                              {
                                "OOL": [
                                  "US-BIS"
                                ]
                              }
                            ],
                            "AME": [
                              "33"
                            ]
                          }
                        ],
                        "filter_content_category_status": {
                          "is_san_active": true,
                          "is_ool_active": false
                        },
                        "filter_source": [
                          "DJRC"
                        ],
                        "has_to_match_low_quality_alias": false,
                        "score_threshold": 0.6,
                        "is_indexed": true
                      },
                      "score_preferences": {
                        "gender": {
                          "score": 4,
                          "has_exclusions": false
                        },
                        "year_of_birth": {
                          "score": 0,
                          "has_exclusions": true
                        },
                        "industry_sector": {},
                        "identification_details": {},
                        "country": {
                          "score": 2,
                          "has_exclusions": true
                        },
                        "deceased": {}
                      },
                      "case_name": "Example Case",
                      "external_id": "ext-001",
                      "owner_id": "owner-001",
                      "is_case_valid": true,
                      "has_alerts": false,
                      "timestamp": "2025-01-15T12:00:00",
                      "updated_in": "2025-01-15T12:00:00",
                      "revision": 1
                    },
                    "type": "risk-entity-screening-cases",
                    "links": {
                      "self": "https://api.example.com/risk-entity-screening-cases/00000000-0000-0000-0000-000000000001"
                    },
                    "id": "00000000-0000-0000-0000-000000000001"
                  }
                }
              },
              "application/vnd.dowjones.dna.risk-entity-screening-cases.v_1.3+json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCaseV13"
                },
                "example": {
                  "data": {
                    "attributes": {
                      "options": {
                        "search_type": "PRECISE",
                        "filter_content_category": [
                          {
                            "WL": [
                              {
                                "SL": [
                                  "US-OFAC"
                                ]
                              },
                              {
                                "OOL": [
                                  "US-BIS"
                                ]
                              }
                            ],
                            "AME": [
                              "33"
                            ]
                          }
                        ],
                        "filter_content_category_status": {
                          "is_san_active": true,
                          "is_ool_active": false
                        },
                        "filter_source": [
                          "DJRC"
                        ],
                        "has_to_match_low_quality_alias": false,
                        "score_threshold": 0.6,
                        "is_indexed": true,
                        "has_screen_priority": true
                      },
                      "score_preferences": {
                        "gender": {
                          "score": 4,
                          "has_exclusions": false
                        },
                        "year_of_birth": {
                          "score": 0,
                          "has_exclusions": true
                        },
                        "industry_sector": {},
                        "identification_details": {},
                        "country": {
                          "score": 2,
                          "has_exclusions": true
                        },
                        "deceased": {}
                      },
                      "case_name": "Example Case",
                      "external_id": "ext-001",
                      "owner_id": "owner-001",
                      "is_case_valid": true,
                      "has_alerts": false,
                      "timestamp": "2025-01-15T12:00:00",
                      "updated_in": "2025-01-15T12:00:00",
                      "revision": 1
                    },
                    "type": "risk-entity-screening-cases",
                    "links": {
                      "self": "https://api.example.com/risk-entity-screening-cases/00000000-0000-0000-0000-000000000001"
                    },
                    "id": "00000000-0000-0000-0000-000000000001"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCase"
                },
                "example": {
                  "data": {
                    "attributes": {
                      "options": {
                        "search_type": "PRECISE",
                        "filter_content_category": [
                          "PEP",
                          "SOC",
                          "AME"
                        ],
                        "has_to_match_low_quality_alias": false,
                        "score_threshold": 0.6,
                        "is_indexed": true
                      },
                      "score_preferences": {
                        "gender": {
                          "score": 4,
                          "has_exclusions": false
                        },
                        "year_of_birth": {
                          "score": 0,
                          "has_exclusions": true
                        },
                        "industry_sector": {
                          "score": 5,
                          "has_exclusions": false
                        },
                        "identification_details": {
                          "score": 0,
                          "has_exclusions": false
                        },
                        "country": {
                          "score": 2,
                          "has_exclusions": true
                        },
                        "deceased": {}
                      },
                      "case_name": "Example Case",
                      "external_id": "ext-001",
                      "owner_id": "owner-001",
                      "is_case_valid": true,
                      "case_valid": true,
                      "has_alerts": false,
                      "timestamp": "2025-01-15T12:00:00",
                      "updated_in": "2025-01-15T12:00:00",
                      "revision": 1
                    },
                    "type": "risk-entity-screening-cases",
                    "links": {
                      "self": "https://api.example.com/risk-entity-screening-cases/00000000-0000-0000-0000-000000000001"
                    },
                    "id": "00000000-0000-0000-0000-000000000001"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/risk-entity-screening-cases/bulk-associations": {
      "post": {
        "tags": [
          "Risk and Compliance Screening and Monitoring"
        ],
        "summary": "Adds a new case with all associations. Returns a new transaction id of this operation",
        "description": "Creates a new case with all associations in one request. Returns a transaction ID for async status.",
        "operationId": "saveCaseUsingPOST",
        "parameters": [
          {
            "name": "Accept-Encoding",
            "in": "header",
            "description": "Which encoding the user accepts for the response body. The API supports compression for response body if this header is set to \"gzip\" and the payload exceeds the threshold of 8MB",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Encoding",
            "in": "header",
            "description": "Which encoding the request body is being sent. The API supports gzip encoding for request body.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "request",
          "content": {
            "application/vnd.dowjones.dna.bulk-associations.v_1.0+json": {
              "schema": {
                "$ref": "#/components/schemas/RequestShortcutCase"
              },
              "example": {
                "data": {
                  "attributes": {
                    "case_info": {
                      "case_name": "Example Case",
                      "owner_id": "owner-001",
                      "external_id": "ext-001",
                      "options": {
                        "filter_content_category": [
                          "SOR",
                          "WL",
                          "SL",
                          "OEL",
                          "OOL",
                          "PEP",
                          "SIP",
                          "RCA",
                          "SOC",
                          "AME"
                        ],
                        "has_to_match_low_quality_alias": false,
                        "search_type": "BROAD",
                        "score_threshold": 0.6,
                        "is_indexed": true,
                        "has_screen_priority": true
                      },
                      "score_preferences": {
                        "gender": {
                          "score": 4,
                          "has_exclusions": false
                        },
                        "year_of_birth": {
                          "score": 0,
                          "has_exclusions": false
                        },
                        "industry_sector": {
                          "score": 5,
                          "has_exclusions": false
                        },
                        "identification_details": {
                          "score": 0,
                          "has_exclusions": false
                        },
                        "country": {
                          "score": 2,
                          "has_exclusions": false
                        }
                      },
                      "associations": [
                        {
                          "record_type": "PERSON",
                          "names": [
                            {
                              "name_type": "PRIMARY",
                              "single_string_name": "John Doe"
                            }
                          ],
                          "identification_details": {
                            "type": 1023,
                            "value": "Passport123"
                          },
                          "gender": "MALE",
                          "country": "USA",
                          "year_of_birth": "1970",
                          "external_id": "assoc-001"
                        },
                        {
                          "record_type": "ENTITY",
                          "names": [
                            {
                              "name_type": "PRIMARY",
                              "single_string_name": "Acme Corp"
                            }
                          ],
                          "identification_details": {
                            "type": 1006,
                            "value": "Duns123"
                          },
                          "country": "USA",
                          "industry_sector": "ITECH",
                          "external_id": "assoc-002"
                        }
                      ]
                    }
                  },
                  "type": "bulk-associations"
                }
              }
            },
            "application/vnd.dowjones.dna.bulk-associations.v_1.1+json": {
              "schema": {
                "$ref": "#/components/schemas/RequestShortcutCaseV11"
              },
              "example": {
                "data": {
                  "attributes": {
                    "case_info": {
                      "case_name": "Example Case",
[...]
